	<div class="ft">
		<div class="shelf"></div>
		<span class="cpr">Copyright &copy; 2012 - 2013 By Cage</span>
		<div class="share">
			<ul>
				<li><a class="sina"   hidefocus="true" title="分享到新浪微博" href="#">新浪微博</a></li>
				<li><a class="qq"     hidefocus="true" title="分享到腾讯微博" href="#">腾讯微博</a></li>
				<li><a class="qzone"  hidefocus="true" title="分享到QQ空间"   href="#">QQ空间</a></li>
				<li><a class="sohu"   hidefocus="true" title="分享到搜狐微博" href="#">搜狐微博</a></li>
				<li><a class="kaixin" hidefocus="true" title="分享到开心网"	 href="#">开心网</a></li>
				<li><a class="renren" hidefocus="true" title="分享到人人网"   href="#">人人网</a></li>
				<li><a class="baidu"  hidefocus="true" title="分享到百度空间" href="#">百度空间</a></li>
			</ul>
		</div>
		<div class="link">
			<a href="#" hidefocus="true">关于我们</a>
			<a href="#" hidefocus="true">联系我们</a>
			<a href="#" hidefocus="true">使用帮助</a>
			<a href="#" hidefocus="true">网站地图</a>
		</div>
		<!--[if IE 6]>
			<div class="ie6_min_width">在ie6模拟min-width</div>
		<![endif]-->
	</div>
</body>
</html>
