<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title><{$title}></title>
		<script type="text/javascript" src="static/qdpedia/js/jquery.js?v=1"></script>
		<script type="text/javascript" src="static/qdpedia/js/qdpedia.js?v=1"></script>
		<link type="text/css" rel="stylesheet" href="static/qdpedia/css/base.css?v=1" />
		<!--[if IE]>
			<link type="text/css" rel="stylesheet" href="static/qdpedia/css/ie.css" />
		<![endif]-->
	</head>

	<body>
		<div class="hd" id="head">
			<!--[if IE 6]>
				<div class="ie6_min_width">在ie6模拟min-width</div>
			<![endif]-->
			<h1 class="logo">
				<a href="#" hidefocus="true">爱前端</a>
			</h1>
			<div class="user clearfix">
				<div class="face blue_bg">
					<a href="#" hidefocus="true">
						<img src="static/qdpedia/img/face.jpg" alt="" />
					</a>
					<a href="#" hidefocus="true" class="name male">Cage(刘锋)</a>
					<span class="office">初生牛犊</span>
				</div>
				<div class="signature">
					<!--非淡泊无以明志，非宁静无以致远-->
					这里是个性签名…
				</div>
			</div>

			<div class="topbar">
				<ul>
					<li class="home"><a href="#" hidefocus="true">个人中心</a></li>
					<li class="msg"><a href="#" hidefocus="true">消息(1条未读)</a></li>
					<li class="grade">
						<a href="#" class="level" hidefocus="true">
							<span class="sun" style="width:17px;">太阳</span>
							<span class="moon" style="width:17px;">月亮</span>
							<span class="star" style="width:17px;">星星</span>
						</a>
					</li>
					<li class="login">
						<a class="btn" href="#">
							<span>登录</span>	
						</a>
					</li>
					<li class="reg">
						<a class="btn" href="#">
							<span>注册</span>	
						</a>
					</li>
				</ul>
			</div>
		</div>
