<{include file='qdpedia/header.html' title="p2_add_article"}>
<div class="wp">
	<{include file='qdpedia/side.html'}>
	<div class="location">
		<div class="guide">
			<a href="http://ldev/tpl/index.php?page=qdpedia/p1">首页</a>
			<em class="rsaquo">&rsaquo;</em>
			<span>发表文章</span>
		</div>
		<div class="extend">
			&nbsp;
		</div>
	</div>
	<div class="ct">
		<div class="section add_article">
			<form action="" method="">
				<ul class="form">
					<li>
						<p>标题：</p>
						<span class="option focus"><input type="text" class="text width700" /></span>
					</li>
					<li>
						<p>类别：</p>
						<div class="select" id="sex">
							<span class="width140">Javascript</span>
							<em class="arrow">arrow</em>
							<ul class="width147">
								<li value="0" style="background:blue"><a href="#" class="checked">CSS</a></li>
								<li value="1"><a href="#">Javascript</a></li>
								<li value="2"><a href="#">Ps</a></li>
								<li value="3"><a href="#">HTML</a></li>
								<li value="4"><a href="#">Python</a></li>
							</ul>
							<input type="hidden" value="0" />
						</div>
					</li>
					<li class="tarea">
						<textarea>编辑器</textarea>
					</li>
					<li class="form_btn">
						<a href="javascript:;" class="btn blue_btn" hidefocus="true">
							<span class="width78">发表</span>
							<input type="submit" value="注册" />
						</a>
					</li>
				</ul>
			</form>
		</div>
		<div class="scrollbar vertical">
			<div class="slider">
				scroll slider
			</div>
		</div>
	</div>
</div>
<{include file='qdpedia/footer.html'}>
