<{include file='qdpedia/header.html' title="p3_add_module"}>
<div class="wp">
	<{include file='qdpedia/side.html'}>
	<div class="location">
		<div class="guide">
			<a href="http://ldev/tpl/index.php?page=qdpedia/p1">首页</a>
			<em class="rsaquo">&rsaquo;</em>
			<span>分享模块</span>
		</div>
		<div class="extend">
			&nbsp;
		</div>
	</div>
	<div class="ct">
		<div class="section add_module">
			<form action="" method="">
				<ul class="form">
					<li>
						<p>类型：</p>
						<div class="select" id="sex">
							<span class="width140">CSS模块</span>
							<em class="arrow">arrow</em>
							<ul class="width147">
								<li value="0" style="background:blue"><a href="#" class="checked">CSS</a></li>
							</ul>
							<input type="hidden" value="0" />
						</div>
					</li>
					<li>
						<p>名称：</p>
						<span class="option focus"><input type="text" class="text width700" /></span>
					</li>
					<li class="tarea fl">
						<p>
							HTML：
							<span class="del" title="不需要填写请点击此处删除">×</span>
						</p>
						<textarea></textarea>
					</li>
					<li class="tarea fl">
						<p>
							CSS：
							<span class="del" title="不需要填写请点击此处删除">×</span>
						</p>
						<textarea></textarea>
					</li>
					<li class="tarea fl">
						<p>
							JS：
							<span class="del" title="不需要填写请点击此处删除">×</span>
						</p>
						<textarea></textarea>
					</li>
					<li class="fl upload clear">
						<p>前景图片：</p>
						<a href="javascript:;" class="btn black_btn">
							<span>添加前景图</span>
							<input type="file" value="上传图片" /> 
						</a>
						<ol>
							<li>c:/xampp/htdocs/demo/images/bg.png</li>
							<li>c:/xampp/demo/images/bg.png</li>
							<li>c:/xampp/demo/images/bg.png</li>
							<li>c:/xampp/demo/images/bg.png</li>
							<li>c:/xampp/demo/images/bg.png</li>
						</ol>
					</li>
					<li class="fl upload">
						<p>背景图片：</p>
						<a href="javascript:;" class="btn black_btn">
							<span>添加背景图</span>
							<input type="file" value="上传图片" /> 
						</a>
						<ol>
							<li>c:/xampp/htdocs/demo/images/bg.png</li>
							<li>c:/xampp/htdocs/demo/images/bg.png</li>
							<li>c:/xampp/demo/images/bg.png</li>
							<li>c:/xampp/demo/images/bg.png</li>
						</ol>
					</li>
					<li class="form_btn clear">
						<a href="javascript:;" class="btn blue_btn" hidefocus="true">
							<span class="width78">分享</span>
							<input type="submit" value="注册" />
						</a>
					</li>
				</ul>
			</form>
		</div>
		<div class="scrollbar vertical">
			<div class="slider">
				scroll slider
			</div>
		</div>
	</div>
</div>
<{include file='qdpedia/footer.html'}>
