<{include file='qdpedia/header.html' title="p5_reg"}>
<div class="wp">
	<{include file='qdpedia/side.html'}>
	<div class="location">
		<div class="guide">
			<a href="http://ldev/tpl/index.php?page=qdpedia/p1">首页</a>
			<em class="rsaquo">&rsaquo;</em>
			<span>用户注册</span>
		</div>
		<div class="extend">
			<div class="tips">
				已经有帐号？ 去
				<a href="#">登录</a>
			</div>
		</div>
	</div>
	<div class="ct">
		<div class="section reg">
			<form action="" method="">
				<ul class="form">
					<li>
						<p>用户名：</p>
						<span class="option focus"><input type="text" class="text" /></span>
						<span class="tips yes">
							<em>yes</em>
							可以使用
						</span>
					</li>
					<li>
						<p>昵称：</p>
						<span class="option"><input type="text" class="text" /></span>
						<span class="tips no">
							<em>no</em>
							已经被使用，请重新填写
						</span>
					</li>
					<li>
						<p>密码：</p>
						<span class="option"><input type="password" class="text pwd" /></span>
					</li>
					<li>
						<p>确认密码：</p>
						<span class="option"><input type="password" class="text pwd" /></span>
					</li>
					<li>
						<p>电子邮箱：</p>
						<span class="option"><input type="text" class="text" /></span>
					</li>
					<li>
						<p>验证码：</p>
						<span class="option"><input type="text" class="text width112" /></span>
						<img src="static/qdpedia/img/yzm.jpg" alt="验证码" />
						<span class="tips">看不清？点击更换验证码</span>
					</li>
					<li class="form_btn">
						<a href="javascript:;" class="btn blue_btn" hidefocus="true">
							<span class="width78">注册</span>
							<input type="submit" value="注册" />
						</a>
					</li>
				</ul>
			</form>
		</div>
		<div class="scrollbar vertical">
			<div class="slider">
				scroll slider
			</div>
		</div>
	</div>
</div>
<{include file='qdpedia/footer.html'}>
