<{include file='qdpedia/header.html' title="p7_article_details"}>
<div class="wp">
	<{include file='qdpedia/side.html'}>
	<div class="location">
		<div class="guide">
			<a href="http://ldev/tpl/index.php?page=qdpedia/p1">首页</a>
			<em class="rsaquo">&rsaquo;</em>
			<a href="#">前端技巧</a>
			<em class="rsaquo">&rsaquo;</em>
			<span>PHI(黄金分割)在web设计中的应用</span>
		</div>
		<div class="extend">
			<div class="tips">
				<a href="#">返回列表</a>
			</div>
		</div>
	</div>
	<div class="ct">
		<div class="section details">
			<div class="dt">
				<h1>PHI(黄金分割)在web设计中的应用</h1>
				<div class="info">
					<span>
						类别:<em>ps</em>
					</span>
					<span>
						作者:Cage
					</span>
					<span>
						发表时间:2012-01-19 21:09:32
					</span>
				</div>
			</div>
			<div class="cutline">
				<span>正文</span>
			</div>
			<div class="dc">
				<p>黄金分割又称黄金律，是指事物各部分间一定的数学比例关系，即将整体一分为二，较大部分与较小部分之比等于整体与较大部分之比，其比值为1∶0.618或1.618∶1，即长段为全段的0.618。0.618被公认为最具有审美意义的比例数字。上述比例是最能引起人的美感的比例，因此被称为黄金分割。</p>
				<p>是由于公元前6世纪古希腊的毕达哥拉斯学派研究过正五边形和正十边形的作图，因此现代数学家们推断当时毕达哥拉斯学派已经触及甚至掌握了黄金分割。</p>
				<img src="static/qdpedia/img/mod1.jpg" alt="" />
			</div>
			<div class="cutline">
				<span>评论</span>
			</div>
			<div class="reply">
				<div class="items">
					<div class="user">
						<a href="#">
							<img src="static/qdpedia/img/face.jpg" alt="" />
							<span>Cage(刘锋)</span>
						</a>
					</div>				
					<div class="rc">
						是由于公元前6世纪古希腊的毕达哥拉斯学派研究过正五边形和正十边形的作图，因此现代数学家们推断当时毕达哥拉斯学派已经触及甚至掌握了黄金分割。是由于公元前6世纪古希腊的毕达哥拉斯学派研究过正五边形和正十边形的作图，因此现代数学家们推断当时毕达哥拉斯学派已经触及甚至掌握了黄金分割。是由于公元前6世纪古希腊的毕达哥拉斯学派研究过正五边形和正十边形的作图，因此现代数学家们推断当时毕达哥拉斯学派已经触及甚至掌握了黄金分割。	
					</div>
					<div class="replybar">
						<a href="#">回复</a>
						<span>2012-01-19 22:56:25</span>
					</div>
				</div>
				<div class="items">
					<div class="user">
						<a href="#">
							<img src="static/qdpedia/img/face.jpg" alt="" />
							<span>Cage(刘锋)</span>
						</a>
					</div>				
					<div class="rc">
						是由于公元前6世纪古希腊的毕达哥拉斯学派研究过正五边形和正十边形的作图，因此现代数学家们推断当时毕达哥拉斯学派已经触及甚至掌握了黄金分割。	
					</div>
					<div class="replybar">
						<a href="#">回复</a>
						<span>2012-01-19 22:56:25</span>
					</div>
				</div>
				<div class="items">
					<div class="user">
						<a href="#">
							<img src="static/qdpedia/img/face.jpg" alt="" />
							<span>Cage(刘锋)</span>
						</a>
					</div>				
					<div class="rc">
						<span class="quote">
							<a href="#">Cage(刘锋):</a>
						</span>
						是由于公元前6世纪古希腊的毕达哥拉斯学派研究过正五边形和正十边形的作图，因此现代数学家们推断当时毕达哥拉斯学派已经触及甚至掌握了黄金分割。	
					</div>
					<div class="replybar">
						<a href="#">回复</a>
						<span>2012-01-19 22:56:25</span>
					</div>
				</div>
				<form action="" method="">
					<ul class="form">
						<li class="tarea">
							<textarea disabled></textarea>
							<span class="tips">
								请<a href="#">登录</a>
							</span>
						</li>
						<li class="form_btn">
							<a href="javascript:;" class="btn blue_btn" hidefocus="true">
								<span>发表</span>
								<input type="submit" value="注册" />
							</a>
						</li>
					</ul>
				</form>
			</div>
		</div>
		<div class="scrollbar vertical">
			<div class="slider">
				scroll slider
			</div>
		</div>
	</div>
</div>
<{include file='qdpedia/footer.html'}>
