<{include file='qdpedia/header.html' title="p8_search_list"}>
<div class="wp">
	<{include file='qdpedia/side.html'}>
	<div class="location">
		<div class="guide">
			<a href="http://ldev/tpl/index.php?page=qdpedia/p1">首页</a>
			<em class="rsaquo">&rsaquo;</em>
			<span>搜索：PHI（黄金分割）在web设计中的应用</span>
		</div>
		<div class="assort">
			<a href="#">代码</a>
			<a href="#" class="current">百科</a>
			<a href="#">论坛</a>
			<a href="#">读书</a>
		</div>
		<div class="extend">
			<form action="" method="get">
				<div class="page">
					<a href="#" class="btn prev" title="上一页" hidefocus="true">上一页</a>
					<span class="page_num">
						<strong>123456789</strong>
						<em>of 123456789</em>
					</span>
					<a href="#" class="btn next" title="下一页" hidefocus="true">下一页</a>
					<span class="jump" title="跳转到指定页">
						<input type="text" class="ptext" />
						<input type="submit" class="pbtn" value="跳转" hidefocus="true" />
					</span>
				</div>
			</form>
		</div>
	</div>
	<div class="ct">
		<div class="section">
			<table class="table">
				<colgroup>
					<col width="80px" />
					<col />
					<col width="140px" />
					<col width="140px" />
					<col width="140px" />
				</colgroup>
				<thead>
					<tr>
						<th>类别</th>
						<th>标题</th>
						<th>作者</th>
						<th>发表时间</th>
						<th>查看/回复</th>
					</tr>
				</thead>
				<tbody>
					<tr class="hot">
						<td class="type">ps</td>
						<td class="aleft tit"><a href="#">PHI(黄金分割)在web设计中的应用</a></td>
						<td><a href="#">Cage</a></td>
						<td class="time">
							2012-01-11<br/>
							16:57:23
						</td>
						<td>10/30</td>
					</tr>
					<tr class="hot">
						<td class="type">ps</td>
						<td class="aleft tit"><a href="#">PHI(黄金分割)在web设计中的应用</a></td>
						<td><a href="#">Cage</a></td>
						<td class="time">
							2012-01-11<br/>
							16:57:23
						</td>
						<td>10/30</td>
					</tr>
					<tr>
						<td class="type">ps</td>
						<td class="aleft"><a href="#">PHI(黄金分割)在web设计中的应用</a></td>
						<td><a href="#">Cage</a></td>
						<td class="time">
							2012-01-11<br/>
							16:57:23
						</td>
						<td>10/30</td>
					</tr>
					<tr>
						<td class="type">ps</td>
						<td class="aleft"><a href="#">PHI(黄金分割)在web设计中的应用</a></td>
						<td><a href="#">Cage</a></td>
						<td class="time">
							2012-01-11<br/>
							16:57:23
						</td>
						<td>10/30</td>
					</tr>
					<tr>
						<td class="type">ps</td>
						<td class="aleft"><a href="#">PHI(黄金分割)在web设计中的应用</a></td>
						<td><a href="#">Cage</a></td>
						<td class="time">
							2012-01-11<br/>
							16:57:23
						</td>
						<td>10/30</td>
					</tr>
					<tr>
						<td class="type">ps</td>
						<td class="aleft"><a href="#">PHI(黄金分割)在web设计中的应用</a></td>
						<td><a href="#">Cage</a></td>
						<td class="time">
							2012-01-11<br/>
							16:57:23
						</td>
						<td>10/30</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="scrollbar vertical">
			<div class="slider">
				scroll slider
			</div>
		</div>
	</div>
</div>
<{include file='qdpedia/footer.html'}>
