<{include file='qdpedia/header.html' title="p9_add_user_info"}>
<div class="wp">
	<{include file='qdpedia/side.html'}>
	<div class="location">
		<div class="guide">
			<a href="http://ldev/tpl/index.php?page=qdpedia/p1">首页</a>
			<em class="rsaquo">&rsaquo;</em>
			<span>完善用户资料</span>
		</div>
		<div class="extend">
			<div class="tips">
				已经有帐号？ 去
				<a href="#">登录</a>
			</div>
		</div>
	</div>
	<div class="ct">
		<div class="section user_info">
			<form action="" method="">
				<ul class="form" style="margin-top:-350px;">
					<li>
						<p>用户名：</p>
						<span class="option"><input type="text" class="text" disabled value="cage" /></span>
					</li>
					<li>
						<p>昵称：</p>
						<span class="option"><input type="text" class="text" /></span>
					</li>
					<li>
						<p>性别：</p>
						<div class="select" id="sex">
							<span class="width140">男</span>
							<em class="arrow">arrow</em>
							<ul class="width147">
								<li value="0" style="background:blue"><a href="#" class="checked">男</a></li>
								<li value="1"><a href="#">女</a></li>
							</ul>
							<input type="hidden" value="0" />
						</div>
					</li>
					<li>
						<p>生日：</p>
						<span class="option"><input type="text" class="text aligncenter" /></span>
					</li>
					<li>
						<p>职业：</p>
						<span class="option"><input type="text" class="text" /></span>
					</li>
					<li>
						<p>城市：</p>
						<span class="option"><input type="text" class="text" /></span>
					</li>
					<li class="tarea">
						<p>个性签名：</p>
						<textarea></textarea>
					</li>
					<li class="form_btn">
						<a href="javascript:;" class="btn blue_btn" hidefocus="true">
							<span class="width78">保存</span>
							<input type="submit" value="保存" />
						</a>
					</li>
				</ul>
			</form>
		</div>
		<div class="scrollbar vertical">
			<div class="slider">
				scroll slider
			</div>
		</div>
	</div>
</div>
<{include file='qdpedia/footer.html'}>
