<div class="sb">
	<div id="sb_ct">
		<form action="" method="get">
			<div class="search">
				<input type="text" class="stext" placeholder="请输入关键字" />
				<input type="submit" value="搜索" class="sbtn" hidefocus="true" />
			</div>
		</form>
		<div class="add">
			<a class="btn black_btn" href="#">
				<span>分享</span>
			</a>
			<a class="btn black_btn" href="#">
				<span>发表</span>
			</a>
		</div>
		<ul class="nav">
			<li class="current"><a href="#" hidefocus="true">首页</a></li>
			<li><a href="#" hidefocus="true">CSS模块</a></li>
			<li><a href="#" hidefocus="true">JS特效</a></li>
			<li><a href="#" hidefocus="true">前端百科</a></li>
			<li><a href="#" hidefocus="true">百家讲坛</a></li>
			<li><a href="#" hidefocus="true">一起读书</a></li>
		</ul>
	</div>
	<div class="scrollbar vertical">
		<div class="slider" id="sb_slider">
			scroll slider
		</div>
	</div>
</div>
