<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="{%$STATIC_CSS_URL%}admin/pop.css">
<link rel="stylesheet" type="text/css" href="{%$STATIC_CSS_URL%}admin/category.css">
<title>文章管理 - 导入</title>
</head>

<body>
<div class="article_import">
	<div id="tag" class="tag">
        <a class="current" href="javascript:">推送到其他栏目</a>
    </div>
    <div class="left clearfix">
        <ul id="dir_tree" class="dir_tree">
            <!--<li id="tog_all">
                &nbsp;
            </li>
            <li class="title">
            <a href="#">管理栏目</a>
            </li>-->
            <li>
                <span>
                    <a href="#">一级频道A</a>
                    <i status="1" class="on_off on">&nbsp;</i>
                    <i status="1" class="icon folder_on">&nbsp;</i>
                </span>
                <ul>
                    <li>
                        <span>
                            <a href="#">二级频道B</a>
                            <i status="1" class="on_off on">&nbsp;</i>
                            <i status="1" class="icon folder_on">&nbsp;</i>
                        </span>
                        <ul>
                            <li>
                                <span>
                                    <a href="#">三级频道C</a>
                                    <i status="1" class="on_off on">&nbsp;</i>
                                    <i status="1" class="icon folder_on">&nbsp;</i>
                                </span>
                                <ul> 
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li style="border-left-color: rgb(255, 255, 255);">
                                <span>
                                    <a href="#">三级频道C</a>
                                    <i status="1" class="on_off on">&nbsp;</i>
                                    <i status="1" class="icon folder_on">&nbsp;</i>
                                </span>
                                <ul>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>
                            <a href="#">二级频道B</a>
                            <i status="1" class="on_off on">&nbsp;</i>
                            <i status="1" class="icon folder_on">&nbsp;</i>
                        </span>
                        <ul> 
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>
                            <a href="#">二级频道B</a>
                            <i status="1" class="on_off on">&nbsp;</i>
                            <i status="1" class="icon folder_on">&nbsp;</i>
                        </span>
                        <ul> 
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>
                            <a href="#">二级频道B</a>
                            <i status="1" class="on_off on">&nbsp;</i>
                            <i status="1" class="icon folder_on">&nbsp;</i>
                        </span>
                        <ul> 
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>
                            <a href="#">二级频道B</a>
                            <i status="1" class="on_off on">&nbsp;</i>
                            <i status="1" class="icon folder_on">&nbsp;</i>
                        </span>
                        <ul> 
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li style="border-left-color: rgb(255, 255, 255);">
                        <span>
                            <a href="#">二级频道B</a>
                            <i status="1" class="on_off on">&nbsp;</i>
                            <i status="1" class="icon folder_on">&nbsp;</i>
                        </span>
                        <ul> 
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <span>
                    <a href="#">一级频道A</a>
                    <i status="1" class="on_off on">&nbsp;</i>
                    <i status="1" class="icon folder_on">&nbsp;</i>
                </span>
                <ul>
                    <li>
                        <span>
                            <a href="#">二级频道B</a>
                            <i status="1" class="on_off on">&nbsp;</i>
                            <i status="1" class="icon folder_on">&nbsp;</i>
                        </span>
                        <ul>
                            <li>
                                <span>
                                    <a href="#">三级频道C</a>
                                    <i status="1" class="on_off on">&nbsp;</i>
                                    <i status="1" class="icon folder_on">&nbsp;</i>
                                </span>
                                <ul> 
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li style="border-left-color: rgb(255, 255, 255);">
                                <span>
                                    <a href="#">三级频道C</a>
                                    <i status="1" class="on_off on">&nbsp;</i>
                                    <i status="1" class="icon folder_on">&nbsp;</i>
                                </span>
                                <ul> 
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="#">四级内容C</a>
                                            <i class="icon page">&nbsp;</i>
                                        </span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>
                            <a href="#">二级频道B</a>
                            <i status="1" class="on_off on">&nbsp;</i>
                            <i status="1" class="icon folder_on">&nbsp;</i>
                        </span>
                        <ul> 
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>
                            <a href="#">二级频道B</a>
                            <i status="1" class="on_off on">&nbsp;</i>
                            <i status="1" class="icon folder_on">&nbsp;</i>
                        </span>
                        <ul> 
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>
                            <a href="#">二级频道B</a>
                            <i status="1" class="on_off on">&nbsp;</i>
                            <i status="1" class="icon folder_on">&nbsp;</i>
                        </span>
                        <ul> 
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>
                            <a href="#">二级频道B</a>
                            <i status="1" class="on_off on">&nbsp;</i>
                            <i status="1" class="icon folder_on">&nbsp;</i>
                        </span>
                        <ul> 
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li style="border-left-color: rgb(255, 255, 255);">
                        <span>
                            <a href="#">二级频道B</a>
                            <i status="1" class="on_off on">&nbsp;</i>
                            <i status="1" class="icon folder_on">&nbsp;</i>
                        </span>
                        <ul> 
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">三级内容C</a>
                                    <i class="icon page">&nbsp;</i>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <span>
                    <a href="#">站点地图</a>
                    <i class="icon page">&nbsp;</i>
                </span>
            </li>
        </ul>
    </div>
    <div class="right">
    	<div class="right_wrap">
            <h4>已选栏目：</h4>
            <div class="selected">
            	<ul id="select_cont">
                	
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{%$STATIC_JS_URL%}public/jquery.min.js"></script>
<script type="text/javascript" src="{%$STATIC_JS_URL%}public/jplugins/jquery.cookie.js"></script>
<script type="text/javascript" src="{%$STATIC_JS_URL%}admin/category.js"></script>
<script type="text/javascript">
$(function(){
	var sel_cont=$("#select_cont");
	$("#dir_tree .page").siblings("a").each(function(index){
		var _this=$(this),_i=_this.siblings("i");
		_this.attr("id","cid_"+index).click(function(){
			var cid=_this.attr("id");
			if(_i.hasClass("selected")){
				alert("该栏目已选！");
			}else{
				_i.addClass("selected");
				$("<li><em title='删除'>X</em><span id='"+cid+"'>"+$(this).text()+"</span></li>").appendTo(sel_cont);
			}
		})
	})
	sel_cont.find("em").live("click",function(){
		var cid=$(this).siblings("span").attr("id");
		$("#dir_tree").find("#"+cid).siblings("i").removeClass("selected");
		$(this).parent("li").remove();
	})
})
</script>
</body>
</html>
