<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="{%$STATIC_CSS_URL%}admin/pop.css">
<title>文章管理 - 列表</title>
</head>

<body>
<div class="article_list">
    <div class="hd">
        <h3 class="title_h3">文章管理 - 列表</h3>
        <div class="clearfix">
            <a id="article_add" class="ipt_btn" href="javascript:"><strong class="add">+</strong>添加内容</a>
            <a class="ipt_btn" href="">审 核</a>
            <a class="ipt_btn" href="">批量更新</a>
            <a class="ipt_btn" href="">排 序</a>
            <a class="ipt_btn" href="">批量生成HTML</a>
            <a class="ipt_btn" href="">删 除</a>
            <a id="article_import" class="ipt_btn" href="javascript:">推 送</a>
            <a class="ipt_btn" href="">批量移动</a>
            <div class="search clearfix">
                <input class="ipt" id="" name="" type="text" value="关键字">
                <input class="ipt_btn" id="" type="button" value="搜 索">
                <a id="adv_search" class="ipt_btn"  href="javascript:">高级搜索</a>
            </div>
        </div>
    </div>
    <div class="article_selected">
        <h3>已经选择的</h3>
        <table class="article_table">
            <thead>
                <tr>
                    <th width="50">选择</th>
                    <th width="40">排序</th>
                    <th width="80">ID</th>
                    <th class="txtleft">标题</th>
                    <th width="80">点击量</th>
                    <th width="100">发布人</th>
                    <th width="100">更新时间</th>
                    <th width="140">管理操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="text"></td>
                    <td>123456</td>
                    <td class="txtleft"><a href="">这是文章标题这是文章标题这是文章标题这是文章标题这是文章标题</a></td>
                    <td>3000000</td>
                    <td>发布人admin啊啊</td>
                    <td>2011-09-13<br>11:50:43</td>
                    <td class="opa"><a href="">修改</a>|<a href="">评论</a>|<a href="">转移到软件</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="article_show">
        <table class="article_table">
            <thead>
                <tr>
                    <th width="50">选择</th>
                    <th width="40">排序</th>
                    <th width="80">ID</th>
                    <th class="txtleft">标题</th>
                    <th width="80">点击量</th>
                    <th width="100">发布人</th>
                    <th width="100">更新时间</th>
                    <th width="140">管理操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="text"></td>
                    <td>123456</td>
                    <td class="txtleft"><a href="">这是文章标题这是文章标题这是文章标题这是文章标题这是文章标题</a></td>
                    <td>3000000</td>
                    <td>发布人admin啊啊</td>
                    <td>2011-09-13<br>11:50:43</td>
                    <td class="opa"><a href="">修改</a>|<a href="">评论</a>|<a href="">转移到软件</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="text"></td>
                    <td>123456</td>
                    <td class="txtleft"><a href="">这是文章标题这是文章标题这是文章标题这是文章标题这是文章标题</a></td>
                    <td>3000000</td>
                    <td>发布人admin啊啊</td>
                    <td>2011-09-13<br>11:50:43</td>
                    <td class="opa"><a href="">修改</a>|<a href="">评论</a>|<a href="">转移到软件</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="text"></td>
                    <td>123456</td>
                    <td class="txtleft"><a href="">这是文章标题这是文章标题这是文章标题这是文章标题这是文章标题</a></td>
                    <td>3000000</td>
                    <td>发布人admin啊啊</td>
                    <td>2011-09-13<br>11:50:43</td>
                    <td class="opa"><a href="">修改</a>|<a href="">评论</a>|<a href="">转移到软件</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="text"></td>
                    <td>123456</td>
                    <td class="txtleft"><a href="">这是文章标题这是文章标题这是文章标题这是文章标题这是文章标题</a></td>
                    <td>3000000</td>
                    <td>发布人admin啊啊</td>
                    <td>2011-09-13<br>11:50:43</td>
                    <td class="opa"><a href="">修改</a>|<a href="">评论</a>|<a href="">转移到软件</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="text"></td>
                    <td>123456</td>
                    <td class="txtleft"><a href="">这是文章标题这是文章标题这是文章标题这是文章标题这是文章标题</a></td>
                    <td>3000000</td>
                    <td>发布人admin啊啊</td>
                    <td>2011-09-13<br>11:50:43</td>
                    <td class="opa"><a href="">修改</a>|<a href="">评论</a>|<a href="">转移到软件</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="text"></td>
                    <td>123456</td>
                    <td class="txtleft"><a href="">这是文章标题这是文章标题这是文章标题这是文章标题这是文章标题</a></td>
                    <td>3000000</td>
                    <td>发布人admin啊啊</td>
                    <td>2011-09-13<br>11:50:43</td>
                    <td class="opa"><a href="">修改</a>|<a href="">评论</a>|<a href="">转移到软件</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="text"></td>
                    <td>123456</td>
                    <td class="txtleft"><a href="">这是文章标题这是文章标题这是文章标题这是文章标题这是文章标题</a></td>
                    <td>3000000</td>
                    <td>发布人admin啊啊</td>
                    <td>2011-09-13<br>11:50:43</td>
                    <td class="opa"><a href="">修改</a>|<a href="">评论</a>|<a href="">转移到软件</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="text"></td>
                    <td>123456</td>
                    <td class="txtleft"><a href="">这是文章标题这是文章标题这是文章标题这是文章标题这是文章标题</a></td>
                    <td>3000000</td>
                    <td>发布人admin啊啊</td>
                    <td>2011-09-13<br>11:50:43</td>
                    <td class="opa"><a href="">修改</a>|<a href="">评论</a>|<a href="">转移到软件</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="text"></td>
                    <td>123456</td>
                    <td class="txtleft"><a href="">这是文章标题这是文章标题这是文章标题这是文章标题这是文章标题</a></td>
                    <td>3000000</td>
                    <td>发布人admin啊啊</td>
                    <td>2011-09-13<br>11:50:43</td>
                    <td class="opa"><a href="">修改</a>|<a href="">评论</a>|<a href="">转移到软件</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="text"></td>
                    <td>123456</td>
                    <td class="txtleft"><a href="">这是文章标题这是文章标题这是文章标题这是文章标题这是文章标题</a></td>
                    <td>3000000</td>
                    <td>发布人admin啊啊</td>
                    <td>2011-09-13<br>11:50:43</td>
                    <td class="opa"><a href="">修改</a>|<a href="">评论</a>|<a href="">转移到软件</a></td>
                </tr>
            </tbody>
        </table> 
    </div>
    <div class="page">
        <ul>
            <li><a href="#">上一页</a></li>
            <li><a href="#" class="current">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>...</li>
            <li><a href="#">10</a></li>
            <li><a href="#">下一页</a></li>
            <li><input type="text" class="int" /><input type="submit" class="go" value="GO" /></li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="{%$STATIC_JS_URL%}public/jquery.min.js"></script>
<script type="text/javascript" src="{%$STATIC_JS_URL%}admin/mb_pop.js"></script>
<script type="text/javascript">
$(function(){
	var h=screen.availHeight,w=screen.availWidth; //这里是获取到屏幕的可用高度和宽度用来设置窗口大小
	$("#article_add").click(function(){
		sharkDialog.getInstance({
			type:"modal",
			url:"page.php?p=admin/article_add",
			height:h-120,
			width:w-120
		});
	});
	
	
	$("#adv_search").click(function(){
		sharkDialog.getInstance({
			title:"高级搜索",
			url:"page.php?p=admin/article_adv_search",
			allowmax:true,
			height:400,
			width:600,
			
		})
	});
	
	$("#article_import").click(function(){
		sharkDialog.getInstance({
			title:"文章管理 - 导入",
			url:"page.php?p=admin/article_import",
			height:500,
			width:800
		});
	});
});
</script>
</body>
</html>
