<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Demo</title>
		<link type="text/css" rel="stylesheet" href="static/me/css/cage/me.css" />
	</head>
	<body>
		<div class="main">
			<div class="baseinfo">
				<img class="face" src="static/me/img/cage/face.png" alt="刘锋" width="160" height="160" />
			</div>
		</div>
		<div class="side">
		  <ul class="nav">
		    <li class="current"><a href="#">基本信息</a></li>
		    <li><a href="#">求职意向</a></li>
		    <li><a href="#">自我评价</a></li>
		    <li><a href="#">工作经历</a></li>
		    <li><a href="#">项目经验</a></li>
		    <li><a href="#">教育经历</a></li>
		  </ul>
		</div>
	</body>
</html>
