<{include file='youmo/_header.html' title="Fanfan"}>

<li class="module_item">
	<div class="module_box">
		<div class="module_title">
			按钮1
		</div>
		<div class="module_content">
			<a href="#" class="btn btn1">
				<span>更多未来星<em>&gt;&gt;</em></span>
			</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮2
		</div>
		<div class="module_content">
			<a href="#" class="btn btn2">
				<span>阅读<em>&gt;&gt;</em></span>
			</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮3
		</div>
		<div class="module_content">
			<a href="#" class="btn btn3">
				<span>回复</span>
			</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮4
		</div>
		<div class="module_content">
			<a href="#" class="btn btn4">
				<span>删除</span>
			</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮5
		</div>
		<div class="module_content">
			<a href="#" class="btn btn5">
				<span>发表</span>
			</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮6
		</div>
		<div class="module_content">
			<a href="#" class="btn btn6">
				<span>提交</span>
			</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮7
		</div>
		<div class="module_content">
			<a href="#" class="btn btn7">开始查找</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮8
		</div>
		<div class="module_content">
			<a href="#" class="btn btn8">兼职</a>
		</div>
		<div class="module_title">
			按钮9
		</div>
		<div class="module_content">
			<a href="#" class="btn btn9">过期</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮10
		</div>
		<div class="module_content">
			<a href="#" class="btn btn10">
				<span>查看更多</span>
			</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮11
		</div>
		<div class="module_content">
			<a href="#" class="btn btn10">
				<span>
					<em class="ic ic1">评论</em>
				</span>
			</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮11
		</div>
		<div class="module_content">
			<a href="#" class="btn btn10">
				<span>
					<em class="ic ic2">喜欢</em>
				</span>
			</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮12
		</div>
		<div class="module_content">
			<a href="#" class="btn btn12">
				<span>Top1</span>
			</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮13
		</div>
		<div class="module_content">
			<a href="#" class="btn btn13">
				<span>喜欢</span>
			</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮14
		</div>
		<div class="module_content">
			<a href="#" class="btn btn14">
				阅读更多
			</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮15
		</div>
		<div class="module_content">
			<a href="#" class="btn btn15">
				我要发布业界机会
			</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮16
		</div>
		<div class="module_content">
			<a href="#" class="btn btn16">
				我要发布品牌
			</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮17
		</div>
		<div class="module_content">
			<span class="btn btn17">
				<span>摄影作品大赛</span>
			</span>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮18
		</div>
		<div class="module_content">
			<a href="#" class="btn btn18">
				<span>我要参加</span>
			</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮19
		</div>
		<div class="module_content">
			<a href="#" class="btn btn19">
				<span>按可参加者身份</span>
			</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮20
		</div>
		<div class="module_content">
			<a href="#" class="btn btn20">
				<span>搜索</span>
			</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮21
		</div>
		<div class="module_content">
			<a href="#" class="btn btn21">
				<span>我要报名</span>
			</a>
		</div>
	</div>
	<div class="module_box">
		<div class="module_title">
			按钮22
		</div>
		<div class="module_content">
			<a href="#" class="btn btn22">
				<span>投我一票</span>
			</a>
		</div>
	</div>
</li>
<li class="module_item">
	<div class="module_box">
		<div class="module_title">
			会员统计
		</div>
		<div class="module_content">
			<div class="vip_statistics_box">
				<ul class="vip_statistics_list hor_list">
					<li>
						<span class="vip_icon1">会员总数：<strong class="vip_num">5268</strong></span>
					</li>
					<li>
						<span class="vip_icon2">今日注册人数：<strong class="vip_num">526</strong></span>
					</li>
					<li>
						<span class="vip_icon3">今日更新照片数：<strong class="vip_num">526</strong></span>
					</li>
					<li class="sitenote">
						<strong>网站公告：</strong>
						<a href="#">网站公告网站公告网站公告1...</a>
						<a href="#">网站公告网站公告网站公告2...</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</li>
<li class="module_item">
	<div class="module_box">
		<div class="module_title">
			模特库导航
		</div>
		<div class="module_content" style="width:982px; margin:0 auto;">
			<div class="model_nav_box">
				<ul class="model_nav hor_list">
					<li>
						<a href="#" class="current">首页</a>
					</li>
					<li>
						<a href="#">个人资料</a>
					</li>
					<li>
						<a href="#">从业经历</a>
					</li>
					<li>
						<a href="#">旗下模特</a>
					</li>
					<li>
						<a href="#">相册</a>
					</li>
					<li>
						<a href="#">我的品牌</a>
					</li>
					<li>
						<a href="#">我的活动</a>
					</li>
					<li>
						<a href="#">关注</a>
					</li>
					<li>
						<a href="#">留言区</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</li>
<li class="module_item">
	<div class="module_box">
		<div class="module_title">
			fanfan's module
		</div>
		<div class="module_content"  style="
    width: 982px;
    margin: 10px auto;
    background: url(static/youmo/img/body_bg.png) repeat 0 0;
">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="bt">
						<h2>
							<strong class="title">
								<span class="color1">靓照</span>欣赏
							</strong>
							<span class="letter">
								LIANGZHAOXINSHANG
							</span>
						</h2>
					</div>
					<div class="bc">
						<ul class="admire_pic_list hor_list">
							<li>
								<div class="media media1 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="206" height="260"></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
										<a href="javascript:;" class="current icon like" title="喜欢">喜欢</a>
									</div>
								</div>
							</li>
							<li>
								<div class="media media1 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="206" height="260"></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
										<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
									</div>
								</div>
							</li>
							<li>
								<div class="media media1 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="206" height="260"></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
										<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
									</div>
								</div>
							</li>
							<li>
								<div class="media media1 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="206" height="260"></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
										<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
				<div class="extra">
					<ul class="hor_list tab tab1">
						<li class="current"><a href="#">最新照片</a></li>
						<li><a href="#">今日之星</a></li>
						<li><a href="#">火爆模特</a></li>
						<li><a href="#">推荐企业</a></li>
						<li><a href="#">查看更多</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</li>
<li class="module_item">
	<div class="module_box">
		<div class="module_title">
			fanfan's module
		</div>
		<div class="module_content" style="
    width: 982px;
    margin: 10px auto;
    background: url(static/youmo/img/body_bg.png) repeat 0 0;
">

			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="bt">
						<h2>
							<strong class="title">
								<span class="color1">未来</span>星计划
							</strong>
							<span class="letter">
								Future Star Program
							</span>
						</h2>
					</div>
					<div class="bc">
						<ul class="admire_pic_list hor_list">
							<li>
								<div class="media media1 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="206" height="260"></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
										<a href="javascript:;" class="current icon like" title="喜欢">喜欢</a>
									</div>
								</div>
							</li>
							<li>
								<div class="media media1 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="206" height="260"></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
										<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
									</div>
								</div>
							</li>
							<li>
								<div class="media media1 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="206" height="260"></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
										<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
									</div>
								</div>
							</li>
							<li>
								<div class="media media1 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="206" height="260"></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
										<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
				<div class="extra">
					<a href="#" class="btn btn1">
						<span>更多未来星<em>&gt;&gt;</em></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</li>
<li class="module_item">
	<div class="module_box">
		<div class="module_title">
			fanfan's module
		</div>
		<div class="module_content" style="
    width: 982px;
    margin: 10px auto;
    background: url(static/youmo/img/body_bg.png) repeat 0 0;
">

			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="bt">
						<h2>
							<strong class="title">
								最新<span class="color1">摄影</span>
							</strong>
							<span class="letter">
								Latest photography
							</span>
						</h2>
					</div>
					<div class="bc">
						<div class="pg_box clearfix">
							<div class="fleft pic">
								<a href="#">
									<img src="static/youmo/img/img1.jpg" alt="" width="293" height="420">
								</a>
							</div>
							<ul class="hor_list pic_list pic_list1">
								<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
									<span class="pic_txt">阿斯大打开打算巨大速度</span>
								</a>
								</li>
								<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
									<span class="pic_txt">阿斯大打开打算巨大速度</span>
								</a>
								</li>
								<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
									<span class="pic_txt">阿斯大打开打算巨大速度</span>
								</a>
								</li>
								<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
									<span class="pic_txt">阿斯大打开打算巨大速度</span>
								</a>
								</li>
								<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
									<span class="pic_txt">阿斯大打开打算巨大速度</span>
								</a>
								</li>
								<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
									<span class="pic_txt">阿斯大打开打算巨大速度</span>
								</a>
								</li>
								<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
									<span class="pic_txt">阿斯大打开打算巨大速度</span>
								</a>
								</li>
								<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
									<span class="pic_txt">阿斯大打开打算巨大速度</span>
								</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
				<div class="extra">
					<a href="#" class="btn btn1">
						<span>查看更多<em>&gt;&gt;</em></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</li>
<li class="module_item">
	<div class="module_box">
		<div class="module_title">
			fanfan's module
		</div>
		<div class="module_content">
			module content
			asdasd
		</div>
	</div>
</li>
<li class="module_item">
	<div class="module_box">
		<div class="module_title">
			fanfan's module
		</div>
		<div class="module_content">
			module content
			asdasd
		</div>
	</div>
</li>

<{include file="youmo/_footer.html"}>
