<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>页面列表</title>
		<style type="text/css">
			*{margin:0;padding:0}
			body{padding:10px 0 0 50px;}
			ul{margin-top:10px;}
			h1{font-size:18px;}
			a{color:#57a000}
			li{margin-bottom:10px;}
		</style>
	</head>

	<body>
		<h1>优模网页面列表</h1>
		<ul>
			<li><a href="/index.php?page=youmo/_cage" target="_blank">模块页1</a></li>
			<li><a href="/index.php?page=youmo/_fanfan" target="_blank">模块页2</a></li>
			<li><a href="/index.php?page=youmo/p1" target="_blank">p1首页</a></li>
		</ul>
	</body>
</html>
