<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>页面列表</title>
		<style type="text/css">
			*{margin:0;padding:0}
			body{padding:10px 0 0 50px;}
			ul{margin-top:10px;}
			h1{font-size:18px;}
			a{color:#57a000}
			li{margin-bottom:10px;}
		</style>
	</head>

	<body>
		<h1>优模网页面列表</h1>
		<ul>
			<li><a href="/index.php?page=youmo/_cage" target="_blank">模块页1</a></li>
			<li><a href="/index.php?page=youmo/_fanfan" target="_blank">模块页2</a></li>
			<li><a href="/index.php?page=youmo/p1" target="_blank">p1首页</a></li>
			<li><a href="/index.php?page=youmo/p2" target="_blank">p2从业经历</a></li>
			<li><a href="/index.php?page=youmo/p3" target="_blank">p3个人资料</a></li>
			<li><a href="/index.php?page=youmo/p4" target="_blank">p4关注</a></li>
			<li><a href="/index.php?page=youmo/p5" target="_blank">p5留言区</a></li>
			<li><a href="/index.php?page=youmo/p6" target="_blank">p6模特库1</a></li>
			<li><a href="/index.php?page=youmo/p7" target="_blank">p7模特库2</a></li>
			<li><a href="/index.php?page=youmo/p8" target="_blank">p8旗下模特</a></li>
			<li><a href="/index.php?page=youmo/p9" target="_blank">p9我的活动</a></li>
			<li><a href="/index.php?page=youmo/p10" target="_blank">p10我的品牌1</a></li>
			<li><a href="/index.php?page=youmo/p11" target="_blank">p11我的品牌2</a></li>
			<li><a href="/index.php?page=youmo/p12" target="_blank">p12相册1</a></li>
			<li><a href="/index.php?page=youmo/p13" target="_blank">p13相册2</a></li>
			<li><a href="/index.php?page=youmo/p14" target="_blank">p14业界机会1</a></li>
			<li><a href="/index.php?page=youmo/p15" target="_blank">p15业界机会2</a></li>
			<li><a href="/index.php?page=youmo/p29" target="_blank">p29未来星计划1</a></li>
		</ul>
	</body>
</html>
