<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title><{$title}></title>
		<link type="text/css" rel="stylesheet" href="static/youmo/css/cage.css" />
		<link type="text/css" rel="stylesheet" href="static/youmo/css/fanfan.css" />
		<link type="text/css" rel="stylesheet" href="static/youmo/js/artDialog/skins/default.css" />
		<!--[if lte IE 8]>
			<link type="text/css" rel="stylesheet" href="static/youmo/css/ie.css" />
			<link type="text/css" rel="stylesheet" href="static/youmo/css/fan_ie.css" />
		<![endif]-->
		<script src="static/youmo/js/jquery.js" type="text/javascript"></script>
		<script src="static/youmo/js/cage.js" type="text/javascript"></script>
		<script src="static/youmo/js/jq.jslider.js" type="text/javascript"></script>
	</head>

	<body>
		<div class="hd">
			<div class="hd_inner">
				<h1>
					<a href="#" class="logo">幽默王</a>
				</h1>
				<div class="topbar">
					<span>您好！欢迎来到优模网！</span>
					<a href="#" class="login">登录</a>
					<a href="#" class="reg">注册</a>
					<a href="#" class="favorites">加入收藏</a>
				</div>
				<ul class="hor_list nav">
					<li class="home"><a href="#">首页</a></li>
					<li class="item">
					<a href="#">艺人</a>
					<ul class="subnav">
						<li><a href="#">模特</a></li>
						<li><a href="#">艺人库</a></li>
						<li><a href="#">达人</a></li>
					</ul>
					</li>
					<li class="item"><a href="#">图库</a></li>
					<li class="item"><a href="#">商机</a></li>
					<li class="item"><a href="#">机构</a></li>
					<li class="item"><a href="#">培训</a></li>
					<li class="item"><a href="#">品牌</a></li>
					<li class="item"><a href="#">赛区</a></li>
					<li class="item"><a href="#">交易</a></li>
					<li class="item"><a href="#">团队</a></li>
				</ul>
				<form action="">
					<div class="search">
						<span class="t"><input type="text" value="输入关键字" /></span>
						<button type="submit">搜索</button>
					</div>
				</form>
			</div>
		</div>
		<div class="wp">
