<{include file='youmo/header.html' title="p1"}>
<div class="hor_box column">
	<div class="hor_item main">
		<div class="box">
			<div class="radius radius_top">
				<div>radius top</div>
			</div>
			<div class="box_inner">
				<div class="bc">
					<div class="slider">
						<ul>
							<li><a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="748" height="294"/></a></li>
							<li><a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="748" height="294"/></a></li>
							<li><a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="748" height="294"/></a></li>
							<li><a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="748" height="294"/></a></li>
							<li><a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="748" height="294"/></a></li>
						</ul>
						<span class="toggle">
							<i class="current">1</i>
							<i>2</i>
							<i>3</i>
							<i>4</i>
							<i>5</i>
						</span>
					</div>
				</div>
			</div>
			<div class="radius radius_btm">
				<div>radius bottom</div>
			</div>
		</div>
	</div>
	<div class=" hor_item side">
		<div class="box">
			<div class="radius radius_top">
				<div>radius top</div>
			</div>
			<div class="box_inner">
				<div class="bc">
					<ul class="hor_list tab tab4">
						<li class="current"><a href="#">最新加入</a></li>
						<li><a href="#">今日推荐</a></li>
					</ul>
					<div class="newest">
						<div class="big">
							<ul>
								<li>
								<a href="#"><img width="167" height="134" alt="" src="static/youmo/img/img1.jpg"></a>
								<p>
								<a class="name" href="#">鑫小七</a>
								上海
								<span class="price">80元/小时</span>
								</p>
								</li>
								<li>
								<a href="#"><img width="167" height="134" alt="" src="static/youmo/img/img1.jpg"></a>
								<p>
								<a class="name" href="#">鑫小七</a>
								上海
								<span class="price">80元/小时</span>
								</p>
								</li>
								<li>
								<a href="#"><img width="167" height="134" alt="" src="static/youmo/img/img1.jpg"></a>
								<p>
								<a class="name" href="#">鑫小七</a>
								上海
								<span class="price">80元/小时</span>
								</p>
								</li>
							</ul>
						</div>
						<div class="thum">
							<ul class="hor_list">
								<li>
								<a class="current" href="#">
									<img width="50" height="50" alt="" src="static/youmo/img/img1.jpg">
									<span>小阿斯</span>
									<i class="arrow">arrow</i>
								</a>
								</li>
								<li>
								<a href="#">
									<img width="50" height="50" alt="" src="static/youmo/img/img1.jpg">
									<span>小阿斯</span>
									<i class="arrow">arrow</i>
								</a>
								</li>
								<li>
								<a href="#">
									<img width="50" height="50" alt="" src="static/youmo/img/img1.jpg">
									<span>小阿斯</span>
									<i class="arrow">arrow</i>
								</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="radius radius_btm">
				<div>radius bottom</div>
			</div>
		</div>
	</div>
</div>

<div class="column">
	<div class="vip_statistics_box">
		<ul class="vip_statistics_list hor_list">
			<li><span class="vip_icon1">会员总数：<strong class="vip_num">5268</strong></span></li>
			<li><span class="vip_icon2">今日注册人数：<strong class="vip_num">526</strong></span></li>
			<li><span class="vip_icon3">今日更新照片数：<strong class="vip_num">526</strong></span></li>
			<li class="sitenote">
				<strong>网站公告：</strong>
				<a href="#">网站公告网站公告网站公告1...</a>
				<a href="#">网站公告网站公告网站公告2...</a>
			</li>
		</ul>
	</div>
</div>

<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20">
			<div class="bt">
				<h2>
					<strong class="title">
						<span class="color1">靓照</span>欣赏
					</strong>
					<span class="letter">
						LIANGZHAOXINSHANG
					</span>
				</h2>
			</div>
			<div class="bc">
				<ul class="admire_pic_list hor_list">
					<li>
					<div class="media media1">
						<div class="pic">
							<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="206" height="260"></a>
						</div>
						<div class="txt">
							<p>
							<span class="field">发布人/</span><a href="#" class="name">李上回</a>
							</p>
							<p><span class="field">职业/</span>平面模特</p>
							<a href="javascript:;" class="current icon like" title="喜欢">喜欢</a>
						</div>
					</div>
					</li>
					<li>
					<div class="media media1">
						<div class="pic">
							<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="206" height="260"></a>
						</div>
						<div class="txt">
							<p>
							<span class="field">发布人/</span><a href="#" class="name">李上回</a>
							</p>
							<p><span class="field">职业/</span>平面模特</p>
							<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
						</div>
					</div>
					</li>
					<li>
					<div class="media media1">
						<div class="pic">
							<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="206" height="260"></a>
						</div>
						<div class="txt">
							<p>
							<span class="field">发布人/</span><a href="#" class="name">李上回</a>
							</p>
							<p><span class="field">职业/</span>平面模特</p>
							<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
						</div>
					</div>
					</li>
					<li>
					<div class="media media1">
						<div class="pic">
							<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="206" height="260"></a>
						</div>
						<div class="txt">
							<p>
							<span class="field">发布人/</span><a href="#" class="name">李上回</a>
							</p>
							<p><span class="field">职业/</span>平面模特</p>
							<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
						</div>
					</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
		<div class="extra">
			<ul class="hor_list tab tab1">
				<li class="current"><a href="#">最新照片</a></li>
				<li><a href="#">今日之星</a></li>
				<li><a href="#">火爆模特</a></li>
				<li><a href="#">推荐企业</a></li>
				<li><a href="#">查看更多</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20">
			<div class="bt">
				<h2>
					<strong class="title">
						<span class="color1">未来</span>星计划
					</strong>
					<span class="letter">
						FUTURE STAR PROGRAM
					</span>
				</h2>
			</div>
			<div class="bc">
				<ul class="admire_pic_list hor_list">
					<li>
					<div class="media media1">
						<div class="pic">
							<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="206" height="260"></a>
						</div>
						<div class="txt">
							<p>
							<span class="field">发布人/</span><a href="#" class="name">李上回</a>
							</p>
							<p><span class="field">职业/</span>平面模特</p>
							<a href="javascript:;" class="current icon like" title="喜欢">喜欢</a>
						</div>
					</div>
					</li>
					<li>
					<div class="media media1">
						<div class="pic">
							<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="206" height="260"></a>
						</div>
						<div class="txt">
							<p>
							<span class="field">发布人/</span><a href="#" class="name">李上回</a>
							</p>
							<p><span class="field">职业/</span>平面模特</p>
							<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
						</div>
					</div>
					</li>
					<li>
					<div class="media media1">
						<div class="pic">
							<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="206" height="260"></a>
						</div>
						<div class="txt">
							<p>
							<span class="field">发布人/</span><a href="#" class="name">李上回</a>
							</p>
							<p><span class="field">职业/</span>平面模特</p>
							<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
						</div>
					</div>
					</li>
					<li>
					<div class="media media1">
						<div class="pic">
							<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="206" height="260"></a>
						</div>
						<div class="txt">
							<p>
							<span class="field">发布人/</span><a href="#" class="name">李上回</a>
							</p>
							<p><span class="field">职业/</span>平面模特</p>
							<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
						</div>
					</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
		<div class="extra">
			<a href="#" class="btn btn1">
				<span>更多未来星<em>&gt;&gt;</em></span>
			</a>
		</div>
	</div>
</div>

<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20">
			<div class="bt">
				<h2>
					<strong class="title">
						最新<span class="color1">摄影</span>
					</strong>
					<span class="letter">
						LATEST PHOTOGRAPHY
					</span>
				</h2>
			</div>
			<div class="bc">
				<div class="pg_box clearfix">
					<div class="fleft pic">
						<a href="#">
							<img src="static/youmo/img/img1.jpg" alt="" width="293" height="420">
						</a>
					</div>
					<ul class="hor_list pic_list pic_list1">
						<li>
						<a href="#" class="picture">
							<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
							<span class="pic_txt">阿斯大打开打算巨大速度</span>
						</a>
						</li>
						<li>
						<a href="#" class="picture">
							<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
							<span class="pic_txt">阿斯大打开打算巨大速度</span>
						</a>
						</li>
						<li>
						<a href="#" class="picture">
							<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
							<span class="pic_txt">阿斯大打开打算巨大速度</span>
						</a>
						</li>
						<li>
						<a href="#" class="picture">
							<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
							<span class="pic_txt">阿斯大打开打算巨大速度</span>
						</a>
						</li>
						<li>
						<a href="#" class="picture">
							<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
							<span class="pic_txt">阿斯大打开打算巨大速度</span>
						</a>
						</li>
						<li>
						<a href="#" class="picture">
							<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
							<span class="pic_txt">阿斯大打开打算巨大速度</span>
						</a>
						</li>
						<li>
						<a href="#" class="picture">
							<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
							<span class="pic_txt">阿斯大打开打算巨大速度</span>
						</a>
						</li>
						<li>
						<a href="#" class="picture">
							<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
							<span class="pic_txt">阿斯大打开打算巨大速度</span>
						</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
		<div class="extra">
			<a href="#" class="btn btn1">
				<span>查看更多<em>&gt;&gt;</em></span>
			</a>
		</div>
	</div>
</div>

<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20">
			<div class="bt">
				<h2>
					<strong class="title">
						<span class="color1">全部</span>模特
					</strong>
					<span class="letter">
						ALL MODELS
					</span>
				</h2>
			</div>
			<div class="bc all_models">
				<ul class="admire_pic_list hor_list">
					<li>
						<div class="media media1">
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="160" height="202"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
								<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
							</div>
						</div>
					</li>
					<li>
						<div class="media media1">
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="160" height="202"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
								<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
							</div>
						</div>
					</li>
					<li>
						<div class="media media1">
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="160" height="202"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
								<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
							</div>
						</div>
					</li>
					<li>
						<div class="media media1">
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="160" height="202"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
								<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
							</div>
						</div>
					</li>
					<li>
						<div class="media media1">
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="160" height="202"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
								<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
		<div class="extra">
			<ul class="hor_list tab tab1">
				<li class="current"><a href="#">网模</a></li>
				<li><a href="#">T台模特</a></li>
				<li><a href="#">平面模特</a></li>
				<li><a href="#">胸模</a></li>
				<li><a href="#">手模</a></li>
				<li><a href="#">臀模</a></li>
				<li><a href="#">查看更多</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20">
			<div class="bt">
				<h2>
					<strong class="title">
						企业库
					</strong>
					<span class="letter">
						ENTERPRISE LIBRARY
					</span>
				</h2>
			</div>
			<div class="bc">
				content bc<br>
				content bc<br>
				content bc<br>
				content bc<br>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
		<div class="extra">
			<ul class="hor_list tab tab2">
				<li class="current"><a href="#">最新照片</a></li>
				<li><a href="#">今日之星</a></li>
				<li><a href="#">火爆模特</a></li>
				<li><a href="#">推荐企业</a></li>
				<li><a href="#">查看更多</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="hor_box column tg1">
	<div class="hor_item tab_group">
		<ul class="hor_list tab tab3">
			<li class="current"><a href="#">工作机会</a></li>
			<li><a href="#">求职信息</a></li>
			<li><a href="#">商演机会</a></li>
		</ul>
		<div class="box">
			<div class="radius radius_top">
				<div>radius top</div>
			</div>
			<div class="box_inner p_lr_20">
				<div class="bc">
					content bc<br>
					content bc<br>
					content bc<br>
					content bc<br>
				</div>
			</div>
			<div class="radius radius_btm">
				<div>radius bottom</div>
			</div>
		</div>
	</div>
	<div class="hor_item tab_group">
		<ul class="hor_list tab tab3">
			<li class="current"><a href="#">培训信息</a></li>
			<li><a href="#">业界动态</a></li>
		</ul>
		<div class="box">
			<div class="radius radius_top">
				<div>radius top</div>
			</div>
			<div class="box_inner p_lr_20">
				<div class="bc">
					content bc<br>
					content bc<br>
					content bc<br>
					content bc<br>
				</div>
			</div>
			<div class="radius radius_btm">
				<div>radius bottom</div>
			</div>
		</div>
	</div>
	<div class="hor_item tab_group">
		<ul class="hor_list tab tab3">
			<li class="current"><a href="#">会员动态</a></li>
			<li><a href="#">好友动态</a></li>
		</ul>
		<div class="box">
			<div class="radius radius_top">
				<div>radius top</div>
			</div>
			<div class="box_inner p_lr_20">
				<div class="bc">
					content bc<br>
					content bc<br>
					content bc<br>
					content bc<br>
				</div>
			</div>
			<div class="radius radius_btm">
				<div>radius bottom</div>
			</div>
		</div>
	</div>
	<div class="hor_item tab_group">
		<ul class="hor_list tab tab3">
			<li class="current"><a href="#">品牌库</a></li>
			<li><a href="#">品牌图库</a></li>
		</ul>
		<div class="box">
			<div class="radius radius_top">
				<div>radius top</div>
			</div>
			<div class="box_inner p_lr_20">
				<div class="bc">
					content bc<br>
					content bc<br>
					content bc<br>
					content bc<br>
				</div>
			</div>
			<div class="radius radius_btm">
				<div>radius bottom</div>
			</div>
		</div>
	</div>
</div>

<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20">
			<div class="bt">
				<h2>
					<strong class="title">
						<span class="color1">在线</span>会员
					</strong>
					<span class="letter">
						MEMBERS ONLINES
					</span>
				</h2>
				<span class="extra_info">
					当前在线<strong class="color1">123123</strong>人
				</span>
			</div>
			<div class="bc">
				content bc<br>
				content bc<br>
				content bc<br>
				content bc<br>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
		<div class="extra">
			<a class="btn btn1" href="#">
				<span>查看更多<em>&gt;&gt;</em></span>
			</a>
		</div>
	</div>
</div>

<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20">
			<div class="bt">
				<h2>
					<strong class="title">
						<span class="color1">猜你</span>喜欢
					</strong>
					<span class="letter">
						I GUESS YOU LIKE
					</span>
				</h2>
			</div>
			<div class="bc">
				content bc<br>
				content bc<br>
				content bc<br>
				content bc<br>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
		<div class="extra">
			<a class="btn btn1" href="#">
				<span>我也想出现在这里</span>
			</a>
		</div>
	</div>
</div>







<{include file="youmo/footer.html"}>
