<{include file="youmo/header.html" title="p15"}>

<div class="hor_box">
	<div class="hor_item main">
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="bc">
						<div class="bt bt4">
							<div class="depress_tit">
								<h2>
									<strong class="title">
										最给力心理减压十大法则
									</strong>
								</h2>
								<p class="bt_tips">
								<span class="writer_icon">发布者：肖喜雅</span>
								<span class="visits_icon">访问量：345 </span>
								<span class="enter_icon">报名数：345</span>
								</p>
							</div>	
						</div>
						<div class="depress_text_box">
							<div class="depress_text">
								<p>当你面对生活心理压力时，学会下面“十步棋”，一定可以变压力为动力，消压力于无形。</p>
								<p>第一步，精神超越――价值观和人生定位；</p>
								<p>自我的人生价值和角色定位、人生主要目标的设定等等，简单的说就是：你准备做一个什么样的人，你的人生准备达成哪些目标。这些看似与具体压力无关的东西其实对我们的影响却总是十分巨大，对很多压力的反思最后往往都要归结到这个方面。卡耐基说：“我非常相信，这是获得心理平静的最大秘密之一――要有正确的价值观念。而我也相信，只要我们能定出一种个人的标准来――就是和我们的生活比起来，什么样的事情才值得的标准，我们的忧虑有50%可以立刻消除。”</p>
								<p>第二步，心态调整――以积极乐观的心态拥抱压力；</p>
								<p>法国作家雨果曾说过：“思想可以使天堂变成地狱，也可以使地狱变成天堂。”</p>
								<p>我们要认识到危机即是转机，遇到困难，产生压力，一方面可能是自己的能力不足，因此整个问题处理过程，就成为增强自己能力、发展成长重要的机会；另外也可能是环境或他人的因素，则可以理性沟通解决，如果无法解决，也可宽恕一切，尽量以正向乐观的态度去面对每一件事。如同有人研究所谓乐观系数，也就是说一个人常保持正向乐观的心，处理问题时，他就会比一般人多出20%的机会得到满意的结果。因此正向乐观的态度不仅会平息由压力而带来的紊乱情绪，也较能使问题导向正面的结果。</p>
								<p>第三步，理性反思――自我反省和压力日记；</p>
								<p>理性反思，积极进行自我对话和反省。对于一个积极进取的人而言，面对压力时可以自问，“如果没做成又如何？”这样的想法并非找借口，而是一种有效疏解压力的方式。但如果本身个性较容易趋向于逃避，则应该要求自己以较积极的态度面对压力，告诉自己，适度的压力能够帮助自我成长。</p>
								<p>同时，记压力日记也是一种简单有效的理性反思方法。它可以帮助你确定是什么刺激引起了压力，通过检查你的日记，你可以发现你是怎么应对压力的。</p>
								<p>第四步，建立平衡――留出休整的空间，不要把工作上的压力带回家。</p>
								<p>第五步，时间管理――关键是不要让你的安排左右你，你要自己安排你的事。</p>
								<p>第六步，加强沟通――不要试图一个人就把所有压力承担下来；</p>
								<p>平时要积极改善人际关系，特别是要加强与上级、同事及下属的沟通，要随时切记，压力过大时要寻求主管的协助，不要试图一个人就把所有压力承担下来。同时在压力到来时，还可采取主动寻求心理援助，如与家人朋友倾诉交流、进行心理咨询等方式来积极应对。</p>
								<p>第七步，提升能力――疏解压力最直接有效的方法是设法提升自身的能力；</p>
								<p>既然压力的来源是自身对事物的不熟悉、不确定感，或是对于目标的达成感到力不从心所致，那么，疏解压力最直接有效的方法，便是去了解、掌握状况，并且设法提升自身的能力。通过自学、参加培训等途径，一旦“会了”、“熟了”、“清楚了”，压力自然就会减低、消除，可见压力并不是一件可怕的事。逃避之所以不能疏解压力，则是因为本身的能力并未提升，使得既有的压力依旧存在，强度也未减弱。</p>
								<p>第八步，活在今天――集中你所有的智慧、热忱，把今天的工作做得尽善尽美</p>
								<p>压力，其实都有一个相同的特质，就是突出表现在对明天和将来的焦虑和担心。而要应对压力，我们首要做的事情不是去观望遥远的将来，而是去做手边的清晰之事，因为为明日作好准备的最佳办法就是集中你所有的智慧、热忱，把今天的工作做得尽善尽美。</p>
								<p>第九步，生理调节――保持健康，学会放松；</p>
								<p>另外一个管理压力的方法集中在控制一些生理变化，如：逐步肌肉放松、深呼吸、加强锻炼、充足完整的睡眠、保持健康和营养。通过保持你的健康，你可以增加精力和耐力，帮助你与压力引起的疲劳斗争。</p>
								<p>第十步，日常减压；</p>
								<p>以下是帮助你在日常生活中减轻压力的10种具体方法，简单方便，经常运用可以起到很好的效果：</p>
								<p>1、早睡早起。在你的家人醒来前一小时起床，做好一天的准备工作。</p>
								<p>2、同你的家人和同事共同分享工作的快乐。</p>
								<p>3、一天中要多休息，从而使头脑清醒，呼吸通畅。</p>
								<p>4、利用空闲时间锻炼身体。</p>
								<p>5、不要急切地、过多地表现自己。</p>
								<p>6、提醒自己任何事不可能都是尽善尽美的。</p>
								<p>7、学会说“不”。</p>
								<p>8、生活中的顾虑不要太多。</p>
								<p>9、偶尔可听音乐放松自己。</p>
								<p>10、培养豁达的心胸。</p>
							</div>
							<div class="depress_img">
								<img src="static/youmo/img/img1.jpg" width="649" height="349" />
							</div>
							<p class="last_next">
							<a href="#">【上一篇】</a>
							<a href="#">【下一篇】</a>
							</p>
						</div>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
				<div class="extra">
					<a class="btn btn5" href="#">
						<span>我要报名</span>
					</a>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="bt bt3">
						<h2>
							<strong class="title">
								他们说
							</strong>
							<span class="letter">
								THEY SAID
							</span>
						</h2>
						<span class="extra_info">
							(共6条)
						</span>
					</div>
					<div class="bc">
						<div class="they_said_ct">
							<form action="">
								<div class="comment_box">
									<textarea>添加您的评论…</textarea>
									<input type="submit" class="comment" value="评论">
									<input type="reset" class="reset" value="取消">
								</div>
							</form>
							<div class="said_list_box">
								<ul class="said_list">
									<li>
										<div class="media media4 clearfix">
											<div class="fleft pic">
												<a href="#">
													<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
												</a>
											</div>
											<div class="txt">
												<p class="summary">
												<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
												片后期 2名资深化妆师 创作摄影师 2名潜力
												<a class="btn btn3" href="#">
													<span>回复</span>
												</a>
												<a class="btn btn4" href="#">
													<span>删除</span>
												</a>
												</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media4 clearfix">
											<div class="fleft pic">
												<a href="#">
													<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
												</a>
											</div>
											<div class="txt">
												<p class="summary">
												<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
												片后期 2名资深化妆师 创作摄影师 2名潜力
												<a class="btn btn3" href="#">
													<span>回复</span>
												</a>
												<a class="btn btn4" href="#">
													<span>删除</span>
												</a>
												</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media4 clearfix">
											<div class="fleft pic">
												<a href="#">
													<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
												</a>
											</div>
											<div class="txt">
												<p class="summary">
												<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
												片后期 2名资深化妆师 创作摄影师 2名潜力
												<a class="btn btn3" href="#">
													<span>回复</span>
												</a>
												<a class="btn btn4" href="#">
													<span>删除</span>
												</a>
												</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media4 clearfix">
											<div class="fleft pic">
												<a href="#">
													<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
												</a>
											</div>
											<div class="txt">
												<p class="summary">
												<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
												片后期 2名资深化妆师 创作摄影师 2名潜力
												<a class="btn btn3" href="#">
													<span>回复</span>
												</a>
												<a class="btn btn4" href="#">
													<span>删除</span>
												</a>
												</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media4 clearfix">
											<div class="fleft pic">
												<a href="#">
													<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
												</a>
											</div>
											<div class="txt">
												<p class="summary">
												<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
												片后期 2名资深化妆师 创作摄影师 2名潜力
												<a class="btn btn3" href="#">
													<span>回复</span>
												</a>
												<a class="btn btn4" href="#">
													<span>删除</span>
												</a>
												</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media4 clearfix">
											<div class="fleft pic">
												<a href="#">
													<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
												</a>
											</div>
											<div class="txt">
												<p class="summary">
												<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
												片后期 2名资深化妆师 创作摄影师 2名潜力
												<a class="btn btn3" href="#">
													<span>回复</span>
												</a>
												<a class="btn btn4" href="#">
													<span>删除</span>
												</a>
												</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="page1_form">
							<form action="">
								<div class="page page1">
									<a href="#" class="current">1</a>
									<a href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">
										<span>下一页</span>
										<i class="arrow">arrow</i>
									</a>
									<span class="pagenum">共 4 页</span>
									<span class="topage">
										到第<input type="text" class="txt">页
										<input type="submit" value="确定" class="go">
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
	</div>
	<div class=" hor_item side">
		<div class="column">
			<div class="issue_box">
				<a href="#" class="btn btn15">我要发布业界机会</a>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="attention_center bt bt2">
						<h3>
							<strong class="review_tit title">
								访问量TOP10
							</strong>
						</h3>
					</div>
					<div class="vip_concern_me">
						<ul class="vip_mov_list">
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="attention_center bt bt2">
						<h3>
							<strong class="review_tit title">
								最新TOP10
							</strong>
						</h3>
					</div>
					<div class="vip_concern_me">
						<ul class="vip_mov_list">
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="attention_center bt bt2">
						<h3>
							<strong class="review_tit title">
								报名者最多TOP10
							</strong>
						</h3>
					</div>
					<div class="nater_top10_box">
						<ul class="nater_top10_list">
							<li><a href="#">招募--第一期【新浪V认证】淘女郎</a></li>
							<li><a href="#">招募--第一期【新浪V认证】淘女郎</a></li>
							<li><a href="#">招募--第一期【新浪V认证】淘女郎</a></li>
							<li><a href="#">招募--第一期【新浪V认证】淘女郎</a></li>
							<li><a href="#">招募--第一期【新浪V认证】淘女郎</a></li>
							<li><a href="#">招募--第一期【新浪V认证】淘女郎</a></li>
							<li><a href="#">招募--第一期【新浪V认证】淘女郎</a></li>
							<li><a href="#">招募--第一期【新浪V认证】淘女郎</a></li>
							<li><a href="#">招募--第一期【新浪V认证】淘女郎</a></li>
							<li><a href="#">招募--第一期【新浪V认证】淘女郎</a></li>
						</ul>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
	</div>
</div>
<{include file="youmo/footer.html"}>
