<{include file="youmo/header.html" title="p2"}>

<div class="hor_box">
	<div class="hor_item main">
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="bc">
						<div class="slider slider2">
							<ul>
								<li><a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="748" height="252"></a></li>
								<li><a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="748" height="252"></a></li>
								<li><a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="748" height="252"></a></li>
								<li><a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="748" height="252"></a></li>
								<li><a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="748" height="252"></a></li>
							</ul>
							<span class="toggle">
								<i class="current">1</i>
								<i>2</i>
								<i>3</i>
								<i>4</i>
								<i>5</i>
							</span>
						</div>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>	
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="bc">
						<div class="agency">
							<ul class="agency_list">
								<li>
									<div class="media media7 clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="83" height="83">
											</a>
										</div>
										<div class="txt">
											<h3 class="tit"><a href="#">北京大汉传媒有限公司</a></h3>
											<span class="agency_site">（机构/传媒）</span>
											<p class="summary">总访问量：2345  本周访问量：678  关注度：56</p>
											<p><a href="#" class="take_job">招聘摄影师及摄影助理</a></p>
										</div>
										<div class="media7_tips">
											<a href="#">+加关注</a>
											<a href="#">查看</a>
										</div>
									</div>
								</li>
								<li>
									<div class="media media7 clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="83" height="83">
											</a>
										</div>
										<div class="txt">
											<h3 class="tit"><a href="#">北京大汉传媒有限公司</a></h3>
											<span class="agency_site">（机构/传媒）</span>
											<p class="summary">总访问量：2345  本周访问量：678  关注度：56</p>
											<p><a href="#" class="take_job">招聘摄影师及摄影助理</a></p>
										</div>
										<div class="media7_tips">
											<a href="#">+加关注</a>
											<a href="#">查看</a>
										</div>
									</div>
								</li>
								<li>
									<div class="media media7 clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="83" height="83">
											</a>
										</div>
										<div class="txt">
											<h3 class="tit"><a href="#">北京大汉传媒有限公司</a></h3>
											<span class="agency_site">（机构/传媒）</span>
											<p class="summary">总访问量：2345  本周访问量：678  关注度：56</p>
											<p><a href="#" class="take_job">招聘摄影师及摄影助理</a></p>
										</div>
										<div class="media7_tips">
											<a href="#">+加关注</a>
											<a href="#">查看</a>
										</div>
									</div>
								</li>
								<li>
									<div class="media media7 clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="83" height="83">
											</a>
										</div>
										<div class="txt">
											<h3 class="tit"><a href="#">北京大汉传媒有限公司</a></h3>
											<span class="agency_site">（机构/传媒）</span>
											<p class="summary">总访问量：2345  本周访问量：678  关注度：56</p>
											<p><a href="#" class="take_job">招聘摄影师及摄影助理</a></p>
										</div>
										<div class="media7_tips">
											<a href="#">+加关注</a>
											<a href="#">查看</a>
										</div>
									</div>
								</li>
								<li>
									<div class="media media7 clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="83" height="83">
											</a>
										</div>
										<div class="txt">
											<h3 class="tit"><a href="#">北京大汉传媒有限公司</a></h3>
											<span class="agency_site">（机构/传媒）</span>
											<p class="summary">总访问量：2345  本周访问量：678  关注度：56</p>
											<p><a href="#" class="take_job">招聘摄影师及摄影助理</a></p>
										</div>
										<div class="media7_tips">
											<a href="#">+加关注</a>
											<a href="#">查看</a>
										</div>
									</div>
								</li>
								<li>
									<div class="media media7 clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="83" height="83">
											</a>
										</div>
										<div class="txt">
											<h3 class="tit"><a href="#">北京大汉传媒有限公司</a></h3>
											<span class="agency_site">（机构/传媒）</span>
											<p class="summary">总访问量：2345  本周访问量：678  关注度：56</p>
											<p><a href="#" class="take_job">招聘摄影师及摄影助理</a></p>
										</div>
										<div class="media7_tips">
											<a href="#">+加关注</a>
											<a href="#">查看</a>
										</div>
									</div>
								</li>
								<li>
									<div class="media media7 clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="83" height="83">
											</a>
										</div>
										<div class="txt">
											<h3 class="tit"><a href="#">北京大汉传媒有限公司</a></h3>
											<span class="agency_site">（机构/传媒）</span>
											<p class="summary">总访问量：2345  本周访问量：678  关注度：56</p>
											<p><a href="#" class="take_job">招聘摄影师及摄影助理</a></p>
										</div>
										<div class="media7_tips">
											<a href="#">+加关注</a>
											<a href="#">查看</a>
										</div>
									</div>
								</li>
								<li>
									<div class="media media7 clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="83" height="83">
											</a>
										</div>
										<div class="txt">
											<h3 class="tit"><a href="#">北京大汉传媒有限公司</a></h3>
											<span class="agency_site">（机构/传媒）</span>
											<p class="summary">总访问量：2345  本周访问量：678  关注度：56</p>
											<p><a href="#" class="take_job">招聘摄影师及摄影助理</a></p>
										</div>
										<div class="media7_tips">
											<a href="#">+加关注</a>
											<a href="#">查看</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="page page16">
							<form action="">
								<div class="page page1">
									<a href="#">1</a>
									<a href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">
										<span>下一页</span>
										<i class="arrow">arrow</i>
									</a>
									<span class="pagenum">共 4 页</span>
									<span class="topage">
										到第<input type="text" class="txt">页
										<input type="submit" value="确定" class="go">
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="bt bt4">
						<h2>
							<strong class="title">
								最新评论
							</strong>
							<span class="letter">
								LAST REVIEWED
							</span>
						</h2>
					</div>
					<div class="bc">
						<div class="new_review_box">
							<ul class="new_review_list hor_list">
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
				<div class="extra">
					<div class="extra16_more">
						<strong>+</strong>
						<a href="#">查看更多</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hor_item side">
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="attention_center bt bt2">
						<h3>
							<strong class="review_tit title">
								关注TOP10
							</strong>
						</h3>
					</div>
					<div class="vip_concern_me bg_color">
						<ul class="hor_list pic_list pic_list2">
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfa</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">小白兔</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">白又白</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfa</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="attention_center bt bt2">
						<h3>
							<strong class="review_tit title">
								访问量TOP10
							</strong>
						</h3>
					</div>
					<div class="vip_concern_me bg_color">
						<ul class="hor_list pic_list pic_list2">
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfa</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">小白兔</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">白又白</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfa</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="attention_center bt bt2">
						<h3>
							<strong class="review_tit title">
								最新工作机会
							</strong>
						</h3>
					</div>
					<div class="vip_concern_me">
						<ul class="vip_mov_list">
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="attention_center bt bt2">
						<h3>
							<strong class="review_tit title">
								积分最高TOP10
							</strong>
						</h3>
					</div>
					<div class="vip_concern_me bg_color">
						<ul class="hor_list pic_list pic_list2">
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfa</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">小白兔</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">白又白</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfa</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
	</div>
</div>
<{include file="youmo/footer.html"}>
