<{include file="youmo/header.html" title="p2"}>

<div class="hor_box">
	<div class="hor_item main">
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="bc">
						<div class="slider slider2">
							<ul>
								<li><a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="748" height="252"></a></li>
								<li><a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="748" height="252"></a></li>
								<li><a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="748" height="252"></a></li>
								<li><a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="748" height="252"></a></li>
								<li><a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="748" height="252"></a></li>
							</ul>
							<span class="toggle">
								<i class="current">1</i>
								<i>2</i>
								<i>3</i>
								<i>4</i>
								<i>5</i>
							</span>
						</div>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="bt bt4">
						<h2>
							<strong class="title">
								品牌图片
							</strong>
						</h2>
					</div>
					<div class="bc">
						<div class="brand_pic">
							<ul class="brand_pic_list hor_list pic_list">
								<li>
									<a href="#" class="picture">
										<img src="static/youmo/img/img1.jpg" alt="" width="223" height="142">
									</a>
									<a href="#" class="name">运动内衣</a>
									<p class="info">为宝马330i拍摄的一组宣传片，前期车辆为棚内电影灯拍摄...</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
				<div class="extra">
					<div class="extra16_more">
						<a href="#">查看更多&gt;&gt;</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class=" hor_item side">
		<div class="column">
			<div class="issue_box">
				<a href="#" class="btn btn15">我要发布业界机会</a>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="attention_center bt bt2">
						<h3>
							<strong class="review_tit title">
								他们说...
							</strong>
						</h3>
					</div>
					<div class="vip_concern_me">
						<ul class="vip_mov_list">
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七</a><a href="#">发布：创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
	</div>
</div>
<{include file="youmo/footer.html"}>
