<{include file="youmo/header.html" title="p2"}>

<div class="hor_box">
	<div class=" hor_item side2">
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="bc">
						<form action="">
							<div class="column">
								<div class="form19_box">
									<div class="form19_tit">
										<div class="btn btn19">
											<span>按可参加者身份</span>
										</div>
									</div>
									<dl class="form19_ct">
										<dt class="form19_vip">个人会员</dt>
										<dd>
											<input type="checkbox" class="form19_vip_txt">
											<label for="" class="form19_vip_field">模特</label>
										</dd>
										<dd>
											<input type="checkbox" class="form19_vip_txt">
											<label for="" class="form19_vip_field">摄影师</label>
										</dd>
										<dd>
											<input type="checkbox" class="form19_vip_txt">
											<label for="" class="form19_vip_field">经纪人</label>
										</dd>
										<dd>
											<input type="checkbox" class="form19_vip_txt" checked="checked">
											<label for="" class="form19_vip_field">化妆师</label>
										</dd>
										<dt class="form19_com_vip form19_vip">企业会员</dt>
										<dd>
											<input type="checkbox" class="form19_vip_txt">
											<label for="" class="form19_vip_field">经纪公司</label>
										</dd>
										<dd>
											<input type="checkbox" class="form19_vip_txt">
											<label for="" class="form19_vip_field">培训公司</label>
										</dd>
										<dd>
											<input type="checkbox" class="form19_vip_txt">
											<label for="" class="form19_vip_field">传媒企业</label>
										</dd>
										<dd>
											<input type="checkbox" class="form19_vip_txt" checked="checked">
											<label for="" class="form19_vip_field">其它企业</label>
										</dd>
									</dl>
								</div>
							</div>
							<div class="form19_box">
								<div class="form19_tit">
									<div class="btn btn19">
										<span>按过期与否</span>
									</div>
								</div>
								<ul class="form19_ct">
									<dd>
										<input type="checkbox" class="form19_vip_txt">
										<label for="" class="form19_vip_field">经纪人</label>
									</dd>
									<dd>
										<input type="checkbox" class="form19_vip_txt" checked="checked">
										<label for="" class="form19_vip_field">化妆师</label>
									</dd>
								</ul>
							</div>
						</form>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hor_item main">
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="bc">
						<div class="view_more">
							<p>点击浏览更多<em>&gt;&gt;</em></p>
						</div>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
	</div>
</div>
<{include file="youmo/footer.html"}>
