<{include file="youmo/header.html" title="p2"}>

<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="media media5 clearfix">
						<div class="fleft pic">
							<a href="#">
								<img src="static/youmo/img/img1.jpg" alt="" width="116" height="116">
							</a>
						</div>
						<div class="txt">
							<dl class="model_item">
								<dt class="hor_box">
									<h2 class="hor_item"><strong>孙小娇</strong>/平面模特</h2>
									<p class="hor_item">
										<span class="vip_grade vip_grade1">普通会员</span>
										<span class="vip_grade vip_grade2">VIP会员</span>
										<span class="vip_grade vip_grade3">人工验证</span>
										<span class="vip_grade vip_grade4">身份验证</span>
										<span class="vip_grade vip_grade5">未来星</span>
										<span class="vip_grade vip_grade6">赛区之星</span>
										<span class="vip_grade vip_grade7">授权合作</span>
										<span class="vip_grade vip_grade8">专属会员</span>
										<span class="vip_grade vip_grade9">推荐会员</span>
									</p>
								</dt>
								<dd>
									<span>地区：广东省 广州市</span>
									<span>身高：168.0CM</span>
									<span>体重：46.0KG</span>
									<span>三围：83-62-89</span>
									<span>拍片数：62</span>
									<span>服务价格：1000元/天</span>
								</dd>
								<dd>
									<form action="">
										<div class="vip_apply_form">
											<input type="text" value="无边落木萧萧下" />

											<a href="#" class="btn btn23">
												<span>提交</span>
											</a>
										</div>		
									</form>
								</dd>
								<dd class="reserve_model">
									<a href="#" class="moder">线上预约</a>
									<a href="#" class="report_icon">举报投诉我</a>
									<a href="#" class="m_icon">私聊</a>
									<a href="#" class="attention_icon">加关注</a>
									<a href="#" class="collect_icon">收藏她</a>
									<a href="#" class="like_icon">喜欢</a>
									<a href="#" class="link_me">和我联系</a>
								</dd>
							</dl>
							<ul class="modle_concern">
								<li><span>总访问量：</span>2345</li>
								<li><span>本周访问量：</span>455</li>
								<li><span>关注度：</span>322</li>
								<li><span>喜欢数：</span>778</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
				<div class="extra">
				</div>
			</div>
<{include file="youmo/footer.html"}>
