<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>邀请码</title>
		<link type="text/css" rel="stylesheet" href="static/youmo/css/cage.css">
		<link type="text/css" rel="stylesheet" href="static/youmo/css/fanfan.css">
		<!--[if lte IE 8]>
			<link type="text/css" rel="stylesheet" href="static/youmo/css/ie.css" />
			<link type="text/css" rel="stylesheet" href="static/youmo/css/fan_ie.css" />
		<![endif]-->
	</head>
	<body>
		<div class="wp">
			<div class="login_header">
				<h1><a href="#" class="logo">优模网</a></h1>
			</div>
			<div class="login_ct">
				<div class="login_sd column">
					<div class="box">
						<div class="radius radius_top">
							<div>radius top</div>
						</div>
						<div class="box_inner p_lr_20">
							<div class="attention_center bt bt4">
								<h3 class="invite_apply">
									<strong class="review_tit title">
										申请结果
									</strong>
								</h3>
							</div>
							<div class="bc">
								<div class="invite_get_success bt bt2">
										<p class="review_tit title invite_tips">
											恭喜你，申请成功，您的邀请码是
										</p>
										<p>4B32ACF23</p>
										<p class="review_tit invite_tips">用笔记下，防止忘记</p>
								</div>
								
								<div class="invite_note invite_note2 column">
									<ol>
										<li>2012年8月1日网站开放注册</li>
										<li>输入此邀请码，可注册网站服务</li>
										<li>且免费赠送1000网站积分</li>
									</ol>
								</div>
							</div>
						</div>
						<div class="radius radius_btm">
							<div>radius bottom</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="inviod_ft">
			Copyright &copy;
			<script type="text/javascript">
				document.write((new Date()).getFullYear());
			</script>
		</div>
	</body>
</html>
