<{include file='youmo/header.html' title="p23"}>
<div class="column">
	<div class="game_title">
		<div class="dr_nav hor_box">
			<ul class="hor_item hor_list">
				<li><a href="#" class="current">访问量最多</a></li>
				<li><a href="#">关注度最高</a></li>
				<li><a href="#">积分最多</a></li>
				<li><a href="#">留言最多</a></li>
				<li><a href="#">作品最多</a></li>
				<li><a href="#">旗下艺人最多</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20">
			<div class="bc">
				<div class="hot_mod_list">
					<span class="type">模特</span>
					<ul class="justify_list">
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="hot_mod_list">
					<span class="type">摄影师</span>
					<ul class="justify_list">
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="hot_mod_list">
					<span class="type">经纪人</span>
					<ul class="justify_list">
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6 hor_item">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
								</div>
								<div class="txt">
									<p>
										<span class="field">发布人/</span><a href="#" class="name">李上回</a>
										<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
	</div>
</div>

<{include file="youmo/footer.html"}>
