<{include file="youmo/header.html" title="p24"}>

<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20">
			<div class="media media5 clearfix">
				<div class="fleft pic">
					<a href="#">
						<img src="static/youmo/img/img1.jpg" alt="" width="130" height="150">
					</a>
				</div>
				<div class="txt">
					<dl class="model_item">
						<dt class="hor_box">
							<h2 class="hor_item jg_name"><strong>南通友菲瑜伽摄影机构测试长度</strong>(cat888)</h2>
						</dt>
						<dd>
							<p class="dtwy">
								<span>积分(1212323)</span>
								<span>照片(11123)</span>
								<span>留言(3)</span>
								<span>预约(123123)</span>
								<span>网站通知(12313)</span>
								<span>账户余额(123元)</span>
							</p>
							<p class="dtwy">
								<span>2012-03-04 12:42:21</span>
								<span>地区:江苏 徐州</span>
							</p>
						</dd>
						<dd>
							<p class="hor_item">
								<span class="vip_grade vip_grade1">普通会员</span>
								<span class="vip_grade vip_grade2">VIP会员</span>
								<span class="vip_grade vip_grade3">人工验证</span>
								<span class="vip_grade vip_grade4">身份验证</span>
								<span class="vip_grade vip_grade5">未来星</span>
								<span class="vip_grade vip_grade6">赛区之星</span>
								<span class="vip_grade vip_grade7">授权合作</span>
							</p>
						</dd>
					</dl>
					<span class="quick_entry">
						<a href="#" class="to_cash">充值与提现</a>
						<a href="#" class="profile">个人主页</a>
					</span>
				</div>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
		<div class="extra">
		</div>
	</div>
</div>

<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner">
			<div class="bc hor_box">
				<div class="hor_item uside">
					<dl class="uside_nav">
						<dt>账号设置</dt>
						<dd><a href="#">基本信息</a></dd>
						<dd><a href="#">头像设置</a></dd>
						<dd><a href="#">微博设置</a></dd>
						<dd><a href="#">密码维护</a></dd>
						<dd><a href="#">收货地址</a></dd>
						<dd><a href="#">从业经历</a></dd>
						<dd><a href="#">服务说明</a></dd>
						<dt>认证</dt>
						<dd><a href="#">身份验证</a></dd>
						<dd><a href="#">人工验证</a></dd>
						<dt>我的</dt>
						<dd><a href="#">相册</a></dd>
						<dd><a href="#">桌面图片</a></dd>
						<dd><a href="#">旗下艺人</a></dd>
						<dd><a href="#">品牌</a></dd>
						<dd><a href="#">品牌图库</a></dd>
						<dd><a href="#">业界机会</a></dd>
						<dd><a href="#">培训信息</a></dd>
						<dd><a href="#">比赛</a></dd>
						<dt>互动</dt>
						<dd><a href="#">留言</a></dd>
						<dd><a href="#">评论</a></dd>
						<dd><a href="#">预约</a></dd>
						<dd><a href="#">关注</a></dd>
						<dd><a href="#">投诉</a></dd>
						<dd><a href="#">网站通知</a></dd>
						<dt>资金与交易</dt>
						<dd><a href="#">交易</a></dd>
						<dd><a href="#">余额</a></dd>
						<dd><a href="#">消费明细</a></dd>
						<dd><a href="#">充值</a></dd>
						<dd><a href="#">取现</a></dd>
						<dt>申请权利</dt>
						<dd><a href="#">VIP会员</a></dd>
						<dd><a href="#">授权合作会员</a></dd>
						<dd><a href="#">未来星计划</a></dd>
						<dd><a href="#">推荐会员</a></dd>
						<dt>活动</dt>
						<dd><a href="#">推广网站得积分</a></dd>
						<dd><a href="#">邀请会员得积分</a></dd>
						<dd><a href="#">积分兑换推广位</a></dd>
						<dd><a href="#">购买广告位</a></dd>
						<dt>其它</dt>
						<dd><a href="#">我看过的</a></dd>
						<dd><a href="#">看过我的</a></dd>
						<dd><a href="#">联系管理员</a></dd>
					</dl>
				</div>
				<div class="hor_item umain">
					<div class="ubox">
						<div class="ubt">
							<span>基本信息</span>
						</div>
						<div class="ubc">
							content
						</div>
						<div class="extra">
							<ul class="hor_list tab tab5">
								<li class="current"><a href="#">修改信息</a></li>
								<li><a href="#">修改密码</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
	</div>
</div>
<{include file="youmo/footer.html"}>
