<{include file="youmo/header.html" title="p30"}>

<div class="hor_box">
	<div class="hor_item main">
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="bc">
					<div class="actor_box clearfix">
						<ul class="actor_list justify_list">
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156" alt=""></a>
									</div>
									<div class="txt">
										<p>
										<span class="field">发布人/</span><a class="name" href="#">李上回</a>
										<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
						</ul>
						<div class="page10_form">
							<form action="">
								<div class="page page1">
									<a href="#" class="current">1</a>
									<a href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">
										<span>下一页</span>
										<i class="arrow">arrow</i>
									</a>
									<span class="pagenum">共 4 页</span>
									<span class="topage">
										到第<input type="text" class="txt">页
										<input type="submit" value="确定" class="go">
									</span>
								</div>
							</form>
						</div>
					</div>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="bt">
						<h2>
							<strong class="title">
								随机<span class="color1">作品展示</span>
							</strong>
							<span class="letter">
								RANDOM WORKS SHOW
							</span>
						</h2>
					</div>
					<div class="bc m_tb_11">
						<div class="cont clearfix">
							<ul class="random_show_list tab_item hor_list">
								<li>
									<div class="media media11 hor_item">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="157" height="198"></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
											<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
										</div>
									</div>
								</li>
								<li>
									<div class="media media11 hor_item">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="157" height="198"></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
											<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
										</div>
									</div>
								</li>
								<li>
									<div class="media media11 hor_item">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="157" height="198"></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
											<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
										</div>
									</div>
								</li>
								<li>
									<div class="media media11 hor_item">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="157" height="198"></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
											<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
										</div>
									</div>
								</li>
								<li>
									<div class="media media11 hor_item">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="157" height="198"></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
											<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
										</div>
									</div>
								</li>
								<li>
									<div class="media media11 hor_item">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="157" height="198"></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
											<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
										</div>
									</div>
								</li>
								<li>
									<div class="media media11 hor_item">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="157" height="198"></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
											<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
										</div>
									</div>
								</li>
								<li>
									<div class="media media11 hor_item">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="157" height="198"></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
											<a href="javascript:;" class="icon like" title="喜欢">喜欢</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class=" hor_item side">
		<div class="column">
			<div class="actor_vip_box">
				<div class="vip_bt">
					<h3>
						全部会员分类
					</h3>
				</div>
				<div class="vip_sort_ct">
					<div class="vip_sort_inner">
						<dl class="actor_vip_dl">
							<dt>表演者</dt>
							<dd>模特</dd>
							<dd>主持人</dd>
							<dd>演员</dd>
							<dt>从业者</dt>
							<dd>摄影师</dd>
							<dd class="current">经纪人</dd>
							<dd>化妆师</dd>
							<dt>企业会员</dt>
							<dd>经纪公司</dd>
							<dd>培训公司</dd>
							<dd>传媒企业</dd>
							<dd>其他企业</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="attention_center bt bt2">
						<h3>
							<strong class="review_tit title">
								访问量最多TOP10
							</strong>
						</h3>
					</div>
					<div class="vip_concern_me bg_color">
							<ul class="justify_list pic_list pic_list2">
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">asdfa</span>
									</a>
								</li>
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">小白兔</span>
									</a>
								</li>
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">白又白</span>
									</a>
								</li>
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">asdfghll</span>
									</a>
								</li>
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">asdfa</span>
									</a>
								</li>
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">asdfghll</span>
									</a>
								</li>
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">asdfghll</span>
									</a>
								</li>
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">asdfghll</span>
									</a>
								</li>
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">asdfghll</span>
									</a>
								</li>
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">asdfghll</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="radius radius_btm">
						<div>radius bottom</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="box">
					<div class="radius radius_top">
						<div>radius top</div>
					</div>
					<div class="box_inner">
						<div class="attention_center bt bt2">
							<h3>
								<strong class="review_tit title">
									互动最多TOP10
								</strong>
							</h3>
						</div>
						<div class="vip_concern_me bg_color">
							<ul class="justify_list pic_list pic_list2">
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">asdfa</span>
									</a>
								</li>
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">小白兔</span>
									</a>
								</li>
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">白又白</span>
									</a>
								</li>
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">asdfghll</span>
									</a>
								</li>
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">asdfa</span>
									</a>
								</li>
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">asdfghll</span>
									</a>
								</li>
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">asdfghll</span>
									</a>
								</li>
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">asdfghll</span>
									</a>
								</li>
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">asdfghll</span>
									</a>
								</li>
								<li>
									<a class="picture" href="#">
										<img width="65" height="65" alt="" src="static/youmo/img/img1.jpg">
										<span class="pic_txt">asdfghll</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="radius radius_btm">
						<div>radius bottom</div>
					</div>
				</div>
			</div>
		</div>
</div>
<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20">
			<div class="bt">
				<h2>
					<strong class="title">
						<span class="color1">猜你</span>喜欢
					</strong>
					<span class="letter">
						I GUESS YOU LIKE
					</span>
				</h2>
			</div>
			<div class="bc m_tb_11 scroll scroll4 clearfix" id="guessyoulike">
				<div class="scroll_box">
					<div class="cont clearfix">
						<ul class="tab_item hor_list pic_list pic_list3 jslider_content">
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="jslider_handler">
					<span class="tbtn tbtn1 prev">前翻</span>
					<span class="tbtn tbtn1 next">后翻</span>
				</div>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
		<div class="extra">
			<a class="btn btn1" href="#">
				<span>我也想出现在这里</span>
			</a>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#guessyoulike").jSlider({
		effect : "DirX",
		autoPlay:true,
		speed : "normal",
		timer : 3000,
		steps:3
	});
	$(".actor_vip_dl dd").click(function(){
		$(this).addClass("current").siblings("dd").removeClass("current");
	});
</script>
<{include file="youmo/footer.html"}>
