<{include file="youmo/header.html" title="p32"}>
<div class="column">
	<div class="hor_box desktop">
		<div class="hor_item side">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="bc">
						<dl class="resolution">
							<dt>选择分辨率下载</dt>
							<dd><a href="#">全部</a></dd>
							<dd><a href="#">1920X1200</a></dd>
							<dd><a href="#">1920X1080</a></dd>
							<dd><a href="#">1680X1050</a></dd>
							<dd><a href="#" class="current">1600X1200</a></dd>
							<dd><a href="#">1400X900</a></dd>
							<dd><a href="#">1366X768</a></dd>
							<dd><a href="#">1280X800</a></dd>
							<dd><a href="#">1280X768</a></dd>
							<dd><a href="#">1280X1024</a></dd>
							<dd><a href="#">1280X768</a></dd>
						</dl>
						<a href="#" class="releasing_desktop">发布桌面</a>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
		<div class="hor_item main">
			<div class="column">
				<div class="box">
					<div class="radius radius_top">
						<div>radius top</div>
					</div>
					<div class="box_inner p_lr_20">
						<div class="bc scroll scroll9 clearfix">
							<div class="scroll_box">
								<div class="cont clearfix">
									<ul class="hor_list pic_list pic_list2">
										<li>
											<a href="#" class="picture">
												<img src="static/youmo/img/img1.jpg" alt="" width="697" height="447">
											</a>
										</li>
										<li>
											<a href="#" class="picture">
												<img src="static/youmo/img/img1.jpg" alt="" width="697" height="447">
											</a>
										</li>
										<li>
											<a href="#" class="picture">
												<img src="static/youmo/img/img1.jpg" alt="" width="697" height="447">
											</a>
										</li>
										<li>
											<a href="#" class="picture">
												<img src="static/youmo/img/img1.jpg" alt="" width="697" height="447">
											</a>
										</li>
										<li>
											<a href="#" class="picture">
												<img src="static/youmo/img/img1.jpg" alt="" width="697" height="447">
											</a>
										</li>
										<li>
											<a href="#" class="picture">
												<img src="static/youmo/img/img1.jpg" alt="" width="697" height="447">
											</a>
										</li>
										<li>
											<a href="#" class="picture">
												<img src="static/youmo/img/img1.jpg" alt="" width="697" height="447">
											</a>
										</li>
										<li>
											<a href="#" class="picture">
												<img src="static/youmo/img/img1.jpg" alt="" width="697" height="447">
											</a>
										</li>
										<li>
											<a href="#" class="picture">
												<img src="static/youmo/img/img1.jpg" alt="" width="697" height="447">
											</a>
										</li>
										<li>
											<a href="#" class="picture">
												<img src="static/youmo/img/img1.jpg" alt="" width="697" height="447">
											</a>
										</li>
									</ul>
								</div>
							</div>
							<span class="tbtn tbtn1 prev">前翻</span>
							<span class="tbtn tbtn1 next">后翻</span>
							<span class="tips">
								*请在图片上按右键使用"设置为背景"菜单
							</span>
						</div>
					</div>
					<div class="radius radius_btm">
						<div>radius bottom</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="box">
					<div class="radius radius_top">
						<div>radius top</div>
					</div>
					<div class="box_inner p_lr_20">
						<div class="bt">
							<h2>
								<strong class="title">
									<span>猜你喜欢</span>
								</strong>
								<span class="letter">
									I GUESS YOU LIKE
								</span>
							</h2>
						</div>
						<div class="bc igylike">
							<ul class="justify_list pic_list pic_list3">
								<li>
									<a href="#" class="picture">
										<img src="static/youmo/img/img1.jpg" alt="" width="160" height="130" />
									</a>
									<a href="#" class="name">图片宁成分</a>
									<p>分辨率:1280X900</p>
									<p>发布会员:<a href="#" class="publisher">王小思</a></p>
								</li>
								<li>
									<a href="#" class="picture">
										<img src="static/youmo/img/img1.jpg" alt="" width="160" height="130" />
									</a>
									<a href="#" class="name">图片宁成分</a>
									<p>分辨率:1280X900</p>
									<p>发布会员:<a href="#" class="publisher">王小思</a></p>
								</li>
								<li>
									<a href="#" class="picture">
										<img src="static/youmo/img/img1.jpg" alt="" width="160" height="130" />
									</a>
									<a href="#" class="name">图片宁成分</a>
									<p>分辨率:1280X900</p>
									<p>发布会员:<a href="#" class="publisher">王小思</a></p>
								</li>
								<li>
									<a href="#" class="picture">
										<img src="static/youmo/img/img1.jpg" alt="" width="160" height="130" />
									</a>
									<a href="#" class="name">图片宁成分</a>
									<p>分辨率:1280X900</p>
									<p>发布会员:<a href="#" class="publisher">王小思</a></p>
								</li>
							</ul>
						</div>
					</div>
					<div class="radius radius_btm">
						<div>radius bottom</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<{include file="youmo/footer.html"}>
