<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>p35登录</title>
		<link type="text/css" rel="stylesheet" href="static/youmo/css/cage.css">
		<link type="text/css" rel="stylesheet" href="static/youmo/css/fanfan.css">
		<!--[if lte IE 8]>
			<link type="text/css" rel="stylesheet" href="static/youmo/css/ie.css" />
			<link type="text/css" rel="stylesheet" href="static/youmo/css/fan_ie.css" />
		<![endif]-->
	</head>
	<body>
		<div class="wp">
			<div class="login_header">
				<h1><a href="#" class="logo">优模网</a></h1>
			</div>
			<div class="login_ct">
				<div class="login_ft column">
					<div class="login_box">
						<div class="tips_info">
							该帐号涉及恶意登录,请60分钟后再登录
						</div>
						<form action="">
							<div class="form">
								<div class="item">
									<label for="" class="field">用户名</label>
									<span class="txt"><input type="text" class="w230" /></span>
								</div>
								<div class="item">
									<label for="" class="field">密码</label>
									<span class="txt"><input type="password" class="w230" /></span>
								</div>
								<div class="item">
									<label for="" class="field">验证码</label>
									<span class="txt"><input type="text" class="w117" /></span>
									<a href="#"><img src="static/youmo/img/test_bg.png" alt="" /></a>
									<p><a href="#" class="change_valid_code">看不清，换一张</a></p>
								</div>
								<div class="item">
									<label>
										<input type="checkbox" class="checkbox" />
										<span class="ftext">一周内自动登录</span>
									</label>
								</div>
								<div class="item">
									<a href="#" class="btn btn33">
										<span>登录</span>
										<input type="submit" value="登录" />
									</a>
									<a href="#" class="btn btn34">
										<span>注册</span>
									</a>
								</div>
							</div>
						</form>
						<div class="partners_login">
							
						</div>
					</div>
				</div>
			</div>

			<div class="inviod_ft">
				Copyright &copy;
				<script type="text/javascript">
					document.write((new Date()).getFullYear());
					</script>
					优模网 沪ICP备0900678号
				</div>
		</div>
	</body>
</html>
