<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>p35登录</title>
		<link type="text/css" rel="stylesheet" href="static/youmo/css/cage.css">
		<link type="text/css" rel="stylesheet" href="static/youmo/css/fanfan.css">
		<!--[if lte IE 8]>
			<link type="text/css" rel="stylesheet" href="static/youmo/css/ie.css" />
			<link type="text/css" rel="stylesheet" href="static/youmo/css/fan_ie.css" />
		<![endif]-->
	</head>
	<body>
		<div class="wp">
			<div class="login_header">
				<h1><a href="#" class="logo">优模网</a></h1>
			</div>
			<div class="login_ct">
				<div class="login_ft column">
					<div class="login_box">
						<div class="tips_info">
							该帐号涉及恶意登录,请60分钟后再登录
						</div>
						<form action="">
							<div class="form">
								<div class="item">
									<label for="" class="field">用户名</label>
									<span class="txt"><input type="text" class="w230" /></span>
								</div>
								<div class="item">
									<label for="" class="field">密码</label>
									<span class="txt"><input type="password" class="w230" /></span>
								</div>
								<div class="item">
									<label for="" class="field">验证码</label>
									<span class="txt"><input type="text" class="w117" /></span>
									<a href="#"><img src="static/youmo/img/test_bg.png" alt="" /></a>
									<p><a href="#" class="change_valid_code">看不清，换一张</a></p>
								</div>
								<div class="item">
									<label>
										<input type="checkbox" class="checkbox" />
										<span class="ftext">一周内自动登录</span>
									</label>
								</div>
								<div class="item">
									<a href="#" class="btn btn33">
										<span>登录</span>
										<input type="submit" value="登录" />
									</a>
									<a href="#" class="btn btn34">
										<span>注册</span>
									</a>
								</div>
							</div>
						</form>
						<div class="partners_login">
							
						</div>
					</div>
				</div>
			</div>

			<div class="login_hot">
				<div class="lht">
					<strong>他们正在说：</strong>
					<span>美国称基地组织二号人物遭无人机空袭丧生</span>
				</div>
				<div class="lhc hor_box">
					<div class="lbox hor_item online">
						<div class="lbt"><span>看看谁在线</span></div>
						<div class="lbc">
							<ul class="justify_list pic_list pic_list1">
								<li>
									<a href="#" class="picture">
										<img src="static/youmo/img/img1.jpg" alt="" width="48" height="48" />
										<span class="pic_txt">阿斯大的</span>
									</a>
								</li>
								<li>
									<a href="#" class="picture">
										<img src="static/youmo/img/img1.jpg" alt="" width="48" height="48" />
										<span class="pic_txt">阿斯大的</span>
									</a>
								</li>
								<li>
									<a href="#" class="picture">
										<img src="static/youmo/img/img1.jpg" alt="" width="48" height="48" />
										<span class="pic_txt">阿斯大的</span>
									</a>
								</li>
								<li>
									<a href="#" class="picture">
										<img src="static/youmo/img/img1.jpg" alt="" width="48" height="48" />
										<span class="pic_txt">阿斯大的</span>
									</a>
								</li>
								<li>
									<a href="#" class="picture">
										<img src="static/youmo/img/img1.jpg" alt="" width="48" height="48" />
										<span class="pic_txt">阿斯大的</span>
									</a>
								</li>
								<li>
									<a href="#" class="picture">
										<img src="static/youmo/img/img1.jpg" alt="" width="48" height="48" />
										<span class="pic_txt">阿斯大的</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="lbox hor_item newimg">
						<div class="lbt"><span>刚刚发现的图片</span></div>
						<div class="lbc">
							<ul class="justify_list pic_list pic_list2">
								<li>
									<a href="#" class="picture">
										<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
									</a>
								</li>
								<li>
									<a href="#" class="picture">
										<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
									</a>
								</li>
								<li>
									<a href="#" class="picture">
										<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="lbox hor_item saying">
						<div class="lbt"><span>他们正在说</span></div>
						<div class="lbc">
							<ul class="saylist">
							  <li><a href="#"><span>YG家族饭一只</span>建新隆春真爱</a></li>
							  <li><a href="#"><span>FLOWWER</span>这是爱,不要紧!</a></li>
							  <li><a href="#"><span>不善良</span>世界上肯定有另一个我,做着那些……</a></li>
							  <li><a href="#"><span>YG家族饭一只</span>建新隆春真爱</a></li>
							  <li><a href="#"><span>YG家族饭一只</span>建新隆春真爱</a></li>
							  <li><a href="#"><span>FLOWWER</span>这是爱,不要紧!</a></li>
							  <li><a href="#"><span>不善良</span>世界上肯定有另一个我,做着那些……</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="inviod_ft">
				Copyright &copy;
				<script type="text/javascript">
					document.write((new Date()).getFullYear());
					</script>
					优模网 沪ICP备0900678号
				</div>
		</div>
	</body>
</html>
