<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>重设密码</title>
		<link type="text/css" rel="stylesheet" href="static/youmo/css/cage.css">
		<link type="text/css" rel="stylesheet" href="static/youmo/css/fanfan.css">
		<!--[if lte IE 8]>
			<link type="text/css" rel="stylesheet" href="static/youmo/css/ie.css" />
			<link type="text/css" rel="stylesheet" href="static/youmo/css/fan_ie.css" />
		<![endif]-->
	</head>
	<body>
		<div class="wp">
			<div class="login_header">
				<h1><a href="#" class="logo">优模网</a></h1>
			</div>
			<div class="login_box2">
				<div class="login_box2_inner">
					<div class="login_box2_tit">
						<h2>重设密码</h2>
						<div class="login_tit_extra">
							<a href="#">用合作网站的账号登陆</a>
						</div>
					</div>
					<div class="login_tips">
						<p>填写您的新密码，用笔记下，别忘记了</p>
					</div>
					<form action="">
						<div class="login2_form form">
							<div class="item">
								<label for="" class="field">新密码</label>
								<span class="txt"><input type="" class="w230"></span>
								<span class="tips pink">输入新密码，8个英文+数字</span>
							</div>
							<div class="item">
								<label for="" class="field">重新输入</label>
								<span class="txt"><input type="" class="w230"></span>
							</div>
							<div class="item">
								<label for="" class="field">验证码</label>
								<span class="txt"><input type="" class="w109"></span>
								<a href="#"><img src="static/youmo/img/test_bg.png" alt=""></a>
								<p class="change_valid_code">看不清，点<a href="#" class="pink">这里</a>换一张</p>
							</div>
							<div class="item">
								<a href="#" class="btn btn35">
									<span>确定，重设密码</span>
									<input type="submit" value="确定，重设密码" />
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="inviod_ft">
				Copyright &copy;
				<script type="text/javascript">
					document.write((new Date()).getFullYear());
					</script>
					优模网 沪ICP备0900678号
				</div>
		</div>
	</body>
</html>
