<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>找回密码</title>
		<link type="text/css" rel="stylesheet" href="static/youmo/css/cage.css">
		<link type="text/css" rel="stylesheet" href="static/youmo/css/fanfan.css">
		<!--[if lte IE 8]>
			<link type="text/css" rel="stylesheet" href="static/youmo/css/ie.css" />
			<link type="text/css" rel="stylesheet" href="static/youmo/css/fan_ie.css" />
		<![endif]-->
	</head>
	<body>
		<div class="wp">
			<div class="login_header">
				<h1><a href="#" class="logo">优模网</a></h1>
			</div>
			<div class="login_box2">
				<div class="login_box2_inner">
					<div class="login_box2_tit">
						<h2>忘记密码？别担心，现在帮你找回</h2>
						<div class="login_tit_extra">
							如果您曾用合作网站的账号登录，点<a href="#" class="pink">这里</a>
						</div>
					</div>
					<div class="login_tips">
						<p>回忆一下，填写你注册时的信息</p>
					</div>
					<form action="">
						<div class="login2_form form">
							<div class="item">
								<label for="" class="field">用户名</label>
								<span class="txt"><input type="text" class="w230"></span>
								<span class="tips pink">填写你注册的用户名</span>
							</div>
							<div class="item">
								<label for="" class="field">密码问题</label>
								<span class="txt"><input type="text" class="w230"></span>
							</div>
							<div class="item">
								<label for="" class="field">答案</label>
								<span class="txt"><input type="text" class="w230"></span>
								<span class="tips pink">填写设置的问题答案</span>
							</div>
							<div class="item">
								<label for="" class="field">注册邮箱</label>
								<span class="txt"><input type="text" class="w230"></span>
							</div>
							<div class="item">
								<label for="" class="field">验证码</label>
								<span class="txt"><input type="text" class="w109"></span>
								<a href="#"><img src="static/youmo/img/test_bg.png" alt=""></a>
								<p class="change_valid_code">看不清，点<a href="#" class="pink">这里</a>换一张</p>
							</div>
							<div class="item">
								<a href="#" class="btn btn35">
									<span>确定，找回密码</span>
									<input type="submit" value="确定，找回密码" />
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="inviod_ft">
				Copyright &copy;
				<script type="text/javascript">
					document.write((new Date()).getFullYear());
					</script>
					优模网 沪ICP备0900678号
				</div>
		</div>
	</body>
</html>
