<{include file="youmo/header.html" title="p2"}>

<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20">
			<div class="media media5 clearfix">
				<div class="fleft pic">
					<a href="#">
						<img src="static/youmo/img/img1.jpg" alt="" width="116" height="116">
					</a>
				</div>
				<div class="txt">
					<dl class="model_item">
						<dt class="hor_box">
						<h2 class="hor_item"><strong>孙小娇</strong>/平面模特</h2>
						<p class="hor_item">
						<span class="vip_grade vip_grade1">专属会员</span>
						<span class="vip_grade vip_grade2">推荐会员</span>
						<span class="vip_grade vip_grade3">普通验证</span>
						<span class="vip_grade vip_grade6">身份验证</span>
						<span class="vip_grade vip_grade7">未来星</span>
						<span class="vip_grade vip_grade8">赛区之星</span>
						<span class="vip_grade vip_grade9">授权合作</span>
						</p>
						</dt>
						<dd>
						<span>地区：广东省 广州市</span>
						<span>身高：168.0CM</span>
						<span>体重：46.0KG</span>
						<span>三围：83-62-89</span>
						<span>拍片数：62</span>
						<span>服务价格：1000元/天</span>
						</dd>
						<dd>
						<form action="">
							<div class="vip_apply_form">
								<input type="text" value="无边落木萧萧下" />

								<a href="#" class="btn btn23">
									<span>提交</span>
									<input type="submit" value="提交" />
								</a>
							</div>		
						</form>
						</dd>
						<dd class="reserve_model">
						<a href="#" class="moder">线上预约</a>
						<a href="#" class="report_icon">举报投诉我</a>
						<a href="#" class="m_icon">私聊</a>
						<a href="#" class="attention_icon">加关注</a>
						<a href="#" class="collect_icon">收藏她</a>
						<a href="#" class="like_icon">喜欢</a>
						<a href="#" class="link_me">和我联系</a>
						</dd>
					</dl>
					<ul class="model_concern">
						<li><span>总访问量：</span>2345</li>
						<li><span>本周访问量：</span>455</li>
						<li><span>关注度：</span>322</li>
						<li><span>喜欢数：</span>778</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
		<div class="extra">
		</div>
	</div>
</div>
<div class="column">
	<div class="model_nav_box">
		<ul class="model_nav hor_list">
			<li>
				<a href="#" class="current">首页</a>
			</li>
			<li>
				<a href="#">个人资料</a>
			</li>
			<li>
				<a href="#">从业经历</a>
			</li>
			<li>
				<a href="#">旗下模特</a>
			</li>
			<li>
				<a href="#">相册</a>
			</li>
			<li>
				<a href="#">我的品牌</a>
			</li>
			<li>
				<a href="#">我的活动</a>
			</li>
			<li>
				<a href="#">关注</a>
			</li>
			<li>
				<a href="#">留言区</a>
			</li>
		</ul>
	</div>
</div>
<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20">
			<div class="bt bt1">
				<h2>
					<strong class="title">
						关注我的
					</strong>
					<span class="letter">
						CONCERNED ABOUT ME
					</span>
				</h2>
			</div>
			<div class="bc">
				<div class="content content_me">
					<ul class="media hor_list">
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>	
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>	
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>	
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>	
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>	
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>	
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>
					</ul>
				</div>	
				<div class="bt bt1 pr">
					<h2>
						<strong class="title">
							我关注的
						</strong>
						<span class="letter">
							I AM CONCERNED
						</span>
					</h2>
					<div class="extra_my_contented">
						<em class="lt color1">&lt;</em>
						<em class="gt">&gt;</em>
					</div>
				</div>
				<div class="content">
					<ul class="media hor_list">
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>	
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>	
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>	
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>	
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>	
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>	
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>
						<li>
							<div class="pic">
								<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
							</div>
							<div class="txt">
								<p>
								<span class="field">发布人/</span><a href="#" class="name">李上回</a>
								<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
								</p>
								<p><span class="field">职业/</span>平面模特</p>
							</div>
						</li>
					</ul>
				</div>	
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
		<div class="extra">
			<em class="lt color1">&lt;</em>
			<em class="gt">&gt;</em>
		</div>
	</div>
</div>

<div class="box guess_like">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="bt">
						<h2>
							<strong class="title">
								猜你<span class="color1">喜欢</span>
							</strong>
							<span class="letter">
								I GUESS YOU LIKE
							</span>
						</h2>
					</div>
					<div class="bc scroll scroll4 clearfix">
						<div class="scroll_box">
							<div class="cont clearfix">
								<ul class="tab_item hor_list pic_list pic_list3">
									<li>
										<div class="media media6 hor_item">
											<div class="pic">
												<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
											</div>
											<div class="txt">
												<p>
													<span class="field">发布人/</span><a href="#" class="name">李上回</a>
													<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
												</p>
												<p><span class="field">职业/</span>平面模特</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media6 hor_item">
											<div class="pic">
												<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
											</div>
											<div class="txt">
												<p>
													<span class="field">发布人/</span><a href="#" class="name">李上回</a>
													<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
												</p>
												<p><span class="field">职业/</span>平面模特</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media6 hor_item">
											<div class="pic">
												<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
											</div>
											<div class="txt">
												<p>
													<span class="field">发布人/</span><a href="#" class="name">李上回</a>
													<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
												</p>
												<p><span class="field">职业/</span>平面模特</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media6 hor_item">
											<div class="pic">
												<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
											</div>
											<div class="txt">
												<p>
													<span class="field">发布人/</span><a href="#" class="name">李上回</a>
													<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
												</p>
												<p><span class="field">职业/</span>平面模特</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media6 hor_item">
											<div class="pic">
												<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
											</div>
											<div class="txt">
												<p>
													<span class="field">发布人/</span><a href="#" class="name">李上回</a>
													<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
												</p>
												<p><span class="field">职业/</span>平面模特</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<span class="tbtn tbtn1 prev">前翻</span>
						<span class="tbtn tbtn1 next">后翻</span>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
				<div class="extra">
					<a class="btn btn1" href="#">
						<span>我也想出现在这里</span>
					</a>
				</div>
			</div>
<{include file="youmo/footer.html"}>
