<{include file="youmo/header.html" title="p4"}>

<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20">
			<div class="media media5 clearfix">
				<div class="fleft pic">
					<a href="#">
						<img src="static/youmo/img/img1.jpg" alt="" width="116" height="116">
					</a>
				</div>
				<div class="txt">
					<dl class="model_item">
						<dt class="hor_box">
						<h2 class="hor_item"><strong>孙小娇</strong>/平面模特</h2>
						<p class="hor_item">
							<span class="vip_grade vip_grade1">专属会员</span>
							<span class="vip_grade vip_grade2">推荐会员</span>
							<span class="vip_grade vip_grade3">普通验证</span>
							<span class="vip_grade vip_grade6">身份验证</span>
							<span class="vip_grade vip_grade7">未来星</span>
							<span class="vip_grade vip_grade8">赛区之星</span>
							<span class="vip_grade vip_grade9">授权合作</span>
						</p>
						</dt>
						<dd>
							<span>地区：广东省 广州市</span>
							<span>身高：168.0CM</span>
							<span>体重：46.0KG</span>
							<span>三围：83-62-89</span>
							<span>拍片数：62</span>
							<span>服务价格：1000元/天</span>
						</dd>
						<dd>
						<form action="">
							<div class="vip_apply_form">
								<input type="text" value="无边落木萧萧下" />

								<a href="#" class="btn btn23">
									<span>提交</span>
									<input type="submit" value="提交" />
								</a>
							</div>		
						</form>
						</dd>
						<dd class="reserve_model">
							<a href="#" class="moder">线上预约</a>
							<a href="#" class="report_icon J_jubao_tousu">举报投诉我</a>
							<a href="#" class="m_icon">私聊</a>
							<a href="#" class="attention_icon J_guanzhu" data="url">加关注</a>
							<a href="#" class="collect_icon J_shoucang" data="url">收藏她</a>
							<a href="#" class="like_icon J_xihuan" data="">喜欢</a>
							<a href="#" class="link_me">和我联系</a>
						</dd>
					</dl>
					<ul class="model_concern">
						<li><span>总访问量：</span>2345</li>
						<li><span>本周访问量：</span>455</li>
						<li><span>关注度：</span>322</li>
						<li><span>喜欢数：</span>778</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
		<div class="extra">
		</div>
	</div>
</div>
<div class="column">
	<div class="model_nav_box">
		<ul class="model_nav hor_list">
			<li>
				<a href="#" class="current">首页</a>
			</li>
			<li>
				<a href="#">个人资料</a>
			</li>
			<li>
				<a href="#">从业经历</a>
			</li>
			<li>
				<a href="#">旗下模特</a>
			</li>
			<li>
				<a href="#">相册</a>
			</li>
			<li>
				<a href="#">我的品牌</a>
			</li>
			<li>
				<a href="#">我的活动</a>
			</li>
			<li>
				<a href="#">关注</a>
			</li>
			<li>
				<a href="#">留言区</a>
			</li>
		</ul>
	</div>
</div>
<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20">
			<div class="bt bt1">
				<h2>
					<strong class="title">
						关注我的
					</strong>
					<span class="letter">
						CONCERNED ABOUT ME
					</span>
				</h2>
			</div>
			<div class="bc scroll scroll5" id="scroll5">
				<div class="cont clearfix">
					<ul class="jslider_content hor_box">
						<li class="hor_item">
							<ul class="tab_item justify_list">
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回1</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li class="hor_item">
							<ul class="tab_item justify_list">
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回2</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li class="hor_item">
							<ul class="tab_item justify_list">
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回3</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media media6">
										<div class="pic">
											<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
										</div>
										<div class="txt">
											<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
											</p>
											<p><span class="field">职业/</span>平面模特</p>
										</div>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="bt bt1">
				<h2>
					<strong class="title">
						我关注的
					</strong>
					<span class="letter">
						I AM CONCERNED
					</span>
				</h2>
			</div>
			<div class="bc scroll scroll5">
				<div class="cont clearfix">
					<ul class="tab_item justify_list">
						<li>
							<div class="media media6">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
								</div>
								<div class="txt">
									<p>
									<span class="field">发布人/</span><a class="name" href="#">李上回1</a>
									<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
								</div>
								<div class="txt">
									<p>
									<span class="field">发布人/</span><a class="name" href="#">李上回</a>
									<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
								</div>
								<div class="txt">
									<p>
									<span class="field">发布人/</span><a class="name" href="#">李上回</a>
									<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
								</div>
								<div class="txt">
									<p>
									<span class="field">发布人/</span><a class="name" href="#">李上回</a>
									<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
								</div>
								<div class="txt">
									<p>
									<span class="field">发布人/</span><a class="name" href="#">李上回</a>
									<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
								</div>
								<div class="txt">
									<p>
									<span class="field">发布人/</span><a class="name" href="#">李上回</a>
									<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
								</div>
								<div class="txt">
									<p>
									<span class="field">发布人/</span><a class="name" href="#">李上回</a>
									<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
								</div>
								<div class="txt">
									<p>
									<span class="field">发布人/</span><a class="name" href="#">李上回</a>
									<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
								</div>
								<div class="txt">
									<p>
									<span class="field">发布人/</span><a class="name" href="#">李上回</a>
									<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
								</div>
								<div class="txt">
									<p>
									<span class="field">发布人/</span><a class="name" href="#">李上回</a>
									<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
								</div>
								<div class="txt">
									<p>
									<span class="field">发布人/</span><a class="name" href="#">李上回</a>
									<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
								</div>
								<div class="txt">
									<p>
									<span class="field">发布人/</span><a class="name" href="#">李上回</a>
									<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
								</div>
								<div class="txt">
									<p>
									<span class="field">发布人/</span><a class="name" href="#">李上回</a>
									<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
								</div>
								<div class="txt">
									<p>
									<span class="field">发布人/</span><a class="name" href="#">李上回</a>
									<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
						<li>
							<div class="media media6">
								<div class="pic">
									<a href="#"><img src="static/youmo/img/img1.jpg" width="156" height="156"  alt=""/></a>
								</div>
								<div class="txt">
									<p>
									<span class="field">发布人/</span><a class="name" href="#">李上回</a>
									<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
									</p>
									<p><span class="field">职业/</span>平面模特</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
		<div class="extra jslider_handler">
			<em class="lt prev">&lt;</em>
			<em class="gt next">&gt;</em>
		</div>
	</div>
</div>

<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20 they_say">
			<div class="bt bt3">
				<h2>
					<strong class="title">
						他们说
					</strong>
					<span class="letter">
						THEY SAID
					</span>
				</h2>
				<span class="extra_info">
					(共6条)
				</span>
			</div>
			<div class="bc">
				<div class="they_said_ct">
					<form action="">
						<div class="comment_box">
							<textarea>添加您的评论…</textarea>
							<input type="submit" value="评论" class="comment">
							<input type="reset" value="取消" class="reset">
						</div>
					</form>
					<div class="said_list_box">
						<ul class="said_list">
							<li>
								<div class="media media4 clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
											<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
											片后期 2名资深化妆师 创作摄影师 2名潜力
											<a class="btn btn3 J_add_reply" href="javascript:;">
												<span>回复</span>
											</a>
											<a class="btn btn4" href="#">
												<span>删除</span>
											</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media4 clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
											<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
											片后期 2名资深化妆师 创作摄影师 2名潜力
											<a class="btn btn3 J_add_reply" href="javascript:;">
												<span>回复</span>
											</a>
											<a class="btn btn4" href="#">
												<span>删除</span>
											</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media4 clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
											<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
											片后期 2名资深化妆师 创作摄影师 2名潜力
											<a class="btn btn3" href="javascript:;" class="J_add_reply">
												<span>回复</span>
											</a>
											<a class="btn btn4" href="#">
												<span>删除</span>
											</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media4 clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
											<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
											片后期 2名资深化妆师 创作摄影师 2名潜力
											<a class="btn btn3 J_add_reply" href="javascript:;">
												<span>回复</span>
											</a>
											<a class="btn btn4" href="#">
												<span>删除</span>
											</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media4 clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
											<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
											片后期 2名资深化妆师 创作摄影师 2名潜力
											<a class="btn btn3 J_add_reply" href="javascript:;">
												<span>回复</span>
											</a>
											<a class="btn btn4" href="#">
												<span>删除</span>
											</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media4 clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
											<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
											片后期 2名资深化妆师 创作摄影师 2名潜力
											<a class="btn btn3 J_add_reply" href="javascript:;">
												<span>回复</span>
											</a>
											<a class="btn btn4" href="#">
												<span>删除</span>
											</a>
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="view_more" data="url">
						<p>点击浏览更多<em>&gt;&gt;</em></p>
					</div>
				</div>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
	</div>
</div>


<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20">
			<div class="bt">
				<h2>
					<strong class="title">
						<span class="color1">猜你</span>喜欢
					</strong>
					<span class="letter">
						I GUESS YOU LIKE
					</span>
				</h2>
			</div>
			<div class="bc m_tb_11 scroll scroll4 clearfix" id="guessyoulike">
				<div class="scroll_box">
					<div class="cont clearfix">
						<ul class="tab_item hor_list pic_list pic_list3 jslider_content">
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回1</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回2</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回3</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回4</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回5</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回6</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回7</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回8</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回9</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回10</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回11</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="jslider_handler">
					<span class="tbtn tbtn1 prev">前翻</span>
					<span class="tbtn tbtn1 next">后翻</span>
				</div>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
		<div class="extra">
			<a class="btn btn1" href="#">
				<span>我也想出现在这里</span>
			</a>
		</div>
	</div>
</div>

<div class="J_reply_form" id="J_reply_form">
	<form action="">
		<div class="sform">
			<div class="item">
				<textarea></textarea>
			</div>
			<div class="item">
				<input type="submit" class="sbtn" value="提交" />
			</div>
		</div>
	</form>
</div>
<div class="J_reply_form" id="J_jubao_form">
	<form action="">
		<div class="sform">
			<div class="item">
				<label class="vtop">理由</label>
				<textarea></textarea>
			</div>
			<div class="item">
				<input type="submit" class="sbtn" value="提交" />
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
	$("#guessyoulike").jSlider({
		effect : "DirX",
		autoPlay:true,
		speed : "normal",
		timer : 3000,
		steps:3
	});
	$("#scroll5").jSlider({
		effect : "DirX",
		autoPlay:true,
		speed : "normal",
		timer : 3000,
		steps:1
	});
</script>
<{include file="youmo/footer.html"}>
