<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>注册1</title>
		<link type="text/css" rel="stylesheet" href="static/youmo/css/cage.css">
		<link type="text/css" rel="stylesheet" href="static/youmo/css/fanfan.css">
		<!--[if lte IE 8]>
			<link type="text/css" rel="stylesheet" href="static/youmo/css/ie.css" />
			<link type="text/css" rel="stylesheet" href="static/youmo/css/fan_ie.css" />
		<![endif]-->
	</head>
	<body>
		<div class="wp">
			<div class="login_header">
				<h1><a href="#" class="logo">优模网</a></h1>
			</div>
			<div class="login_box2">
				<div class="login_box2_inner">
					<div class="login_box2_tit">
						<h2>欢迎注册</h2>
						<div class="login_tit_extra">
							已经注册？<a href="#" class="underl">点这里登陆</a>
						</div>
					</div>
					<div class="login_steps">
						<ol class="login_steps_list hor_list">
							<li><span>1 设置登录信息</span></li>
							<li class="current"><span>2 设置账号信息</span></li>
							<li class="last"><span>3 完善资料</span></li>
						</ol>
					</div>
					<form action="">
						<div class="login2_form form">
							<div class="item">
								<label for="" class="field">邮箱</label>
								<span class="txt"><input type="text" class="w230"></span>
							</div>
							<div class="item">
								<label for="" class="field">密码问题</label>
								<span class="txt"><input type="text" class="w230"></span>
							</div>
							<div class="item">
								<label for="" class="field">密码答案</label>
								<span class="txt"><input type="text" class="w230"></span>
							</div>
							<div class="item">
								<label for="" class="field">联系QQ</label>
								<span class="txt"><input type="text" class="w230" value="可留空"></span>
							</div>
							<div class="item">
								<label for="" class="field">联系手机号</label>
								<span class="txt"><input type="text" class="w230" value="可留空"></span>
							</div>
							<div class="item over_btn">
								<a href="#" class="btn btn35">
									<span>完善资料，下一步</span>
									<input type="submit" value="确定，找回密码" />
								</a>
								<a href="#" class="btn btn35">
									<span>完成，先去看看</span>
									<input type="submit" value="确定，找回密码" />
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="inviod_ft">
				Copyright &copy;
				<script type="text/javascript">
					document.write((new Date()).getFullYear());
					</script>
					优模网 沪ICP备0900678号
				</div>
		</div>
	</body>
</html>
