<{include file="youmo/header.html" title="p5"}>

<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20">
			<div class="media media5 clearfix">
				<div class="fleft pic">
					<a href="#">
						<img src="static/youmo/img/img1.jpg" alt="" width="116" height="116">
					</a>
				</div>
				<div class="txt">
					<dl class="model_item">
						<dt class="hor_box">
						<h2 class="hor_item"><strong>孙小娇</strong>/平面模特</h2>
						<p class="hor_item">
							<span class="vip_grade vip_grade1">专属会员</span>
							<span class="vip_grade vip_grade2">推荐会员</span>
							<span class="vip_grade vip_grade3">普通验证</span>
							<span class="vip_grade vip_grade6">身份验证</span>
							<span class="vip_grade vip_grade7">未来星</span>
							<span class="vip_grade vip_grade8">赛区之星</span>
							<span class="vip_grade vip_grade9">授权合作</span>
						</p>
						</dt>
						<dd>
							<span>地区：广东省 广州市</span>
							<span>身高：168.0CM</span>
							<span>体重：46.0KG</span>
							<span>三围：83-62-89</span>
							<span>拍片数：62</span>
							<span>服务价格：1000元/天</span>
						</dd>
						<dd>
						<form action="">
							<div class="vip_apply_form">
								<input type="text" value="无边落木萧萧下" />

								<a href="#" class="btn btn23">
									<span>提交</span>
									<input type="submit" value="提交" />
								</a>
							</div>		
						</form>
						</dd>
						<dd class="reserve_model">
							<a href="#" class="moder">线上预约</a>
							<a href="#" class="report_icon">举报投诉我</a>
							<a href="#" class="m_icon">私聊</a>
							<a href="#" class="attention_icon">加关注</a>
							<a href="#" class="collect_icon">收藏她</a>
							<a href="#" class="like_icon">喜欢</a>
							<a href="#" class="link_me">和我联系</a>
						</dd>
					</dl>
					<ul class="model_concern">
						<li><span>总访问量：</span>2345</li>
						<li><span>本周访问量：</span>455</li>
						<li><span>关注度：</span>322</li>
						<li><span>喜欢数：</span>778</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
		<div class="extra">
		</div>
	</div>
</div>
<div class="column">
	<div class="model_nav_box">
		<ul class="model_nav hor_list">
			<li>
				<a href="#" class="current">首页</a>
			</li>
			<li>
				<a href="#">个人资料</a>
			</li>
			<li>
				<a href="#">从业经历</a>
			</li>
			<li>
				<a href="#">旗下模特</a>
			</li>
			<li>
				<a href="#">相册</a>
			</li>
			<li>
				<a href="#">我的品牌</a>
			</li>
			<li>
				<a href="#">我的活动</a>
			</li>
			<li>
				<a href="#">关注</a>
			</li>
			<li>
				<a href="#">留言区</a>
			</li>
		</ul>
	</div>
</div>
<div class="hor_box">
	<div class="hor_item main">
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="bc">
						<div class="they_said_ct">
							<form action="">
								<div class="comment_box">
									<textarea>添加您的评论…</textarea>
									<input type="submit" class="comment" value="评论">
									<input type="reset" class="reset" value="取消">
								</div>
							</form>
							<div class="said_list_box">
								<ul class="said_list">
									<li>
										<div class="media media4 clearfix">
											<div class="fleft pic">
												<a href="#">
													<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
												</a>
											</div>
											<div class="txt">
												<p class="summary">
												<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
												片后期 2名资深化妆师 创作摄影师 2名潜力
												<a class="btn btn3" href="#">
													<span>回复</span>
												</a>
												<a class="btn btn4" href="#">
													<span>删除</span>
												</a>
												</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media4 clearfix">
											<div class="fleft pic">
												<a href="#">
													<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
												</a>
											</div>
											<div class="txt">
												<p class="summary">
												<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
												片后期 2名资深化妆师 创作摄影师 2名潜力
												<a class="btn btn3" href="#">
													<span>回复</span>
												</a>
												<a class="btn btn4" href="#">
													<span>删除</span>
												</a>
												</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media4 clearfix">
											<div class="fleft pic">
												<a href="#">
													<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
												</a>
											</div>
											<div class="txt">
												<p class="summary">
												<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
												片后期 2名资深化妆师 创作摄影师 2名潜力
												<a class="btn btn3" href="#">
													<span>回复</span>
												</a>
												<a class="btn btn4" href="#">
													<span>删除</span>
												</a>
												</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media4 clearfix">
											<div class="fleft pic">
												<a href="#">
													<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
												</a>
											</div>
											<div class="txt">
												<p class="summary">
												<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
												片后期 2名资深化妆师 创作摄影师 2名潜力
												<a class="btn btn3" href="#">
													<span>回复</span>
												</a>
												<a class="btn btn4" href="#">
													<span>删除</span>
												</a>
												</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media4 clearfix">
											<div class="fleft pic">
												<a href="#">
													<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
												</a>
											</div>
											<div class="txt">
												<p class="summary">
												<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
												片后期 2名资深化妆师 创作摄影师 2名潜力
												<a class="btn btn3" href="#">
													<span>回复</span>
												</a>
												<a class="btn btn4" href="#">
													<span>删除</span>
												</a>
												</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media4 clearfix">
											<div class="fleft pic">
												<a href="#">
													<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
												</a>
											</div>
											<div class="txt">
												<p class="summary">
												<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
												片后期 2名资深化妆师 创作摄影师 2名潜力
												<a class="btn btn3" href="#">
													<span>回复</span>
												</a>
												<a class="btn btn4" href="#">
													<span>删除</span>
												</a>
												</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media4 clearfix">
											<div class="fleft pic">
												<a href="#">
													<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
												</a>
											</div>
											<div class="txt">
												<p class="summary">
												<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
												片后期 2名资深化妆师 创作摄影师 2名潜力
												<a class="btn btn3" href="#">
													<span>回复</span>
												</a>
												<a class="btn btn4" href="#">
													<span>删除</span>
												</a>
												</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media4 clearfix">
											<div class="fleft pic">
												<a href="#">
													<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
												</a>
											</div>
											<div class="txt">
												<p class="summary">
												<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
												片后期 2名资深化妆师 创作摄影师 2名潜力
												<a class="btn btn3" href="#">
													<span>回复</span>
												</a>
												<a class="btn btn4" href="#">
													<span>删除</span>
												</a>
												</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media4 clearfix">
											<div class="fleft pic">
												<a href="#">
													<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
												</a>
											</div>
											<div class="txt">
												<p class="summary">
												<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
												片后期 2名资深化妆师 创作摄影师 2名潜力
												<a class="btn btn3" href="#">
													<span>回复</span>
												</a>
												<a class="btn btn4" href="#">
													<span>删除</span>
												</a>
												</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media4 clearfix">
											<div class="fleft pic">
												<a href="#">
													<img src="static/youmo/img/img1.jpg" alt="" width="51" height="51">
												</a>
											</div>
											<div class="txt">
												<p class="summary">
												<a href="#" class="name">鑫小七:</a>创创作摄影师 2名潜力摄影助理 3名平面设计 2名网络营销1名图
												片后期 2名资深化妆师 创作摄影师 2名潜力
												<a class="btn btn3" href="#">
													<span>回复</span>
												</a>
												<a class="btn btn4" href="#">
													<span>删除</span>
												</a>
												</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="page1_form">
								<form action="">
									<div class="page page1">
										<a href="#" class="current">1</a>
										<a href="#">2</a>
										<a href="#">3</a>
										<a href="#">4</a>
										<a href="#">
											<span>下一页</span>
											<i class="arrow">arrow</i>
										</a>
										<span class="pagenum">共 4 页</span>
										<span class="topage">
											到第<input type="text" class="txt">页
											<input type="submit" value="确定" class="go">
										</span>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
	</div>
	<div class=" hor_item side">
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="vip_review_tit bt bt2">
						<h3>
							<strong class="review_tit title">
								一句话点评
							</strong>
						</h3>
					</div>
					<div class="vip_review_ct">
						<form action="">
							<div class="vip_ct">
								<textarea></textarea>
								<a href="#" class="btn btn6"><span>提交</span></a>
							</div>
						</form>
						<div class="vip_tags_box">
							<ul class="hor_list tags">
								<li>坚强的女孩</li>
								<li>一家人～</li>
								<li>才女，呵呵～</li>
								<li>家庭嘱咐</li>
								<li>爱你，永远的～～</li>
								<li>温柔体贴</li>
								<li>万能精灵～</li>
								<li>领导经验丰富，组织领导力强</li>
								<li>坚强的女孩</li>
								<li>一家人～</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
				<div class="extra">
					<a href="#" class="all_color">全部<em>&gt;</em></a>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="vip_review_tit bt bt2">
						<h3>
							<strong class="review_tit title">
								关注我的
							</strong>
						</h3>
					</div>
					<div class="vip_concern_me">
						<ul class="justify_list pic_list pic_list2">
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfa</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">小白兔</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">白又白</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfa</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
				<div class="extra">
					<a href="#" class="all_color">全部<em>&gt;</em></a>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="vip_review_tit bt bt2">
						<h3>
							<strong class="review_tit title">
								我关注的
							</strong>
						</h3>
					</div>
					<div class="vip_concern_me">
						<ul class="justify_list pic_list pic_list2">
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfa</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">小白兔</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">白又白</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfa</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
				<div class="extra">
					<a href="#" class="all_color">全部<em>&gt;</em></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20">
			<div class="bt">
				<h2>
					<strong class="title">
						<span class="color1">猜你</span>喜欢
					</strong>
					<span class="letter">
						I GUESS YOU LIKE
					</span>
				</h2>
			</div>
			<div class="bc m_tb_11 scroll scroll4 clearfix" id="guessyoulike">
				<div class="scroll_box">
					<div class="cont clearfix">
						<ul class="tab_item hor_list pic_list pic_list3 jslider_content">
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img src="static/youmo/img/img1.jpg" alt="" width="156" height="156"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a href="#" class="name">李上回</a>
											<a href="javascript:;" class="icon follow" title="加关注">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="jslider_handler">
					<span class="tbtn tbtn1 prev">前翻</span>
					<span class="tbtn tbtn1 next">后翻</span>
				</div>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
		<div class="extra">
			<a class="btn btn1" href="#">
				<span>我也想出现在这里</span>
			</a>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#guessyoulike").jSlider({
		effect : "DirX",
		autoPlay:true,
		speed : "normal",
		timer : 3000,
		steps:3
	});
</script>
<{include file="youmo/footer.html"}>
