<{include file="youmo/header.html" title="p2"}>

<div class="hor_box">
	<div class="hor_item main" style="overflow:hidden;">
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="bc">
						<div class="slider slider2">
							<ul>
								<li><a href="#"><img width="748" height="252" alt="" src="static/youmo/img/img1.jpg"></a></li>
								<li><a href="#"><img width="748" height="252" alt="" src="static/youmo/img/img1.jpg"></a></li>
								<li><a href="#"><img width="748" height="252" alt="" src="static/youmo/img/img1.jpg"></a></li>
								<li><a href="#"><img width="748" height="252" alt="" src="static/youmo/img/img1.jpg"></a></li>
								<li><a href="#"><img width="748" height="252" alt="" src="static/youmo/img/img1.jpg"></a></li>
							</ul>
							<span class="toggle">
								<i class="current">1</i>
								<i>2</i>
								<i>3</i>
								<i>4</i>
								<i>5</i>
							</span>
						</div>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="bc">
						<form action="">
							<div class="filter">
								<ul class="options_item justify_list">
									<li>
										<div class="box">
											<div class="radius radius_top">
												<div>radius top</div>
											</div>
											<div class="box_inner p_lr_20">
												<div class="bc">
														asdasd
												</div>
											</div>
											<div class="radius radius_btm">
												<div>radius bottom</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</form>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="bc">
						<form>
							<input type="text" />
						</form>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>

		<div class="column">
			<ul class="justify_list pic_list pic_list4 mod_list1" id="waterfall">
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="230">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="147">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
					<div class="comment">
						<div class="media media3 clearfix">
							<div class="fleft pic">
								<a href="#">
									<img src="static/youmo/img/img1.jpg" alt="" width="29" height="29">
								</a>
							</div>
							<div class="txt">
								<p class="summary">
								<a href="#" class="name">鑫小七:</a>创作摄影师 2名潜力摄影助理 3名
								</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="157">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="217">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
					<div class="comment">
						<div class="media media3 clearfix">
							<div class="fleft pic">
								<a href="#">
									<img src="static/youmo/img/img1.jpg" alt="" width="29" height="29">
								</a>
							</div>
							<div class="txt">
								<p class="summary">
								<a href="#" class="name">鑫小七:</a>创作摄影师 2名潜力摄影助理 3名
								</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="187">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="197">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
					<div class="comment">
						<div class="media media3 clearfix">
							<div class="fleft pic">
								<a href="#">
									<img src="static/youmo/img/img1.jpg" alt="" width="29" height="29">
								</a>
							</div>
							<div class="txt">
								<p class="summary">
								<a href="#" class="name">鑫小七:</a>创作摄影师 2名潜力摄影助理 3名
								</p>
							</div>
						</div>
					</div>
				</li>
				<li style="margin-top:-105px">
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="127">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="157">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
					<div class="comment">
						<div class="media media3 clearfix">
							<div class="fleft pic">
								<a href="#">
									<img src="static/youmo/img/img1.jpg" alt="" width="29" height="29">
								</a>
							</div>
							<div class="txt">
								<p class="summary">
								<a href="#" class="name">鑫小七:</a>创作摄影师 2名潜力摄影助理 3名
								</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="267">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
					<div class="comment">
						<div class="media media3 clearfix">
							<div class="fleft pic">
								<a href="#">
									<img src="static/youmo/img/img1.jpg" alt="" width="29" height="29">
								</a>
							</div>
							<div class="txt">
								<p class="summary">
								<a href="#" class="name">鑫小七:</a>创作摄影师 2名潜力摄影助理 3名
								</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="157">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
					<div class="comment">
						<div class="media media3 clearfix">
							<div class="fleft pic">
								<a href="#">
									<img src="static/youmo/img/img1.jpg" alt="" width="29" height="29">
								</a>
							</div>
							<div class="txt">
								<p class="summary">
								<a href="#" class="name">鑫小七:</a>创作摄影师 2名潜力摄影助理 3名
								</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<form action="">
				<div class="page page2">
					<a href="#">首页</a>
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<span>…</span>
					<a href="#">
						<span>下一页</span>
					</a>
					<span class="pagenum">共 4 页</span>
					<span class="topage">
						到第<input type="text" class="txt">页
						<input type="submit" value="确定" class="go">
					</span>
				</div>
			</form>
		</div>

		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="bt bt4">
						<h2>
							<strong class="title">
								最新评论
							</strong>
							<span class="letter">
								LAST REVIEWED
							</span>
						</h2>
					</div>
					<div class="bc">
						<div class="new_review_box">
							<ul class="new_review_list hor_list">
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>

	</div>
	<div class="hor_item side">
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="attention_center bt bt2">
						<h3>
							<strong class="review_tit title">
								关注TOP10
							</strong>
						</h3>
					</div>
					<div class="vip_concern_me bg_color">
						<ul class="justify_list pic_list pic_list2" style="">
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfa</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">小白兔</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">白又白</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfa</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="attention_center bt bt2">
						<h3>
							<strong class="review_tit title">
								赛区TOP10
							</strong>
						</h3>
					</div>
					<div class="divi_rank vip_concern_me">
						<ul class="divi_rank_list">
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
						</ul>
					</div>	
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="attention_center bt bt2">
						<h3>
							<strong class="review_tit title">
								访问量TOP10
							</strong>
						</h3>
					</div>
					<div class="vip_concern_me bg_color">
						<ul class="justify_list pic_list pic_list2">
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfa</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">小白兔</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">白又白</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfa</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="attention_center bt bt2">
						<h3>
							<strong class="review_tit title">
								会员最新动态
							</strong>
						</h3>
					</div>
					<div class="vip_concern_me">
						<ul class="vip_mov_list">
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20">
			<div class="bt">
				<h2>
					<strong class="title">
						<span class="color1">猜你</span>喜欢
					</strong>
					<span class="letter">
						I GUESS YOU LIKE
					</span>
				</h2>
			</div>
			<div class="bc m_tb_11 scroll scroll4 clearfix">
				<div class="scroll_box">
					<div class="cont clearfix">
						<ul class="tab_item hor_list pic_list pic_list3">
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img width="156" height="156" alt="" src="static/youmo/img/img1.jpg"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img width="156" height="156" alt="" src="static/youmo/img/img1.jpg"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img width="156" height="156" alt="" src="static/youmo/img/img1.jpg"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img width="156" height="156" alt="" src="static/youmo/img/img1.jpg"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img width="156" height="156" alt="" src="static/youmo/img/img1.jpg"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<span class="tbtn tbtn1 prev">前翻</span>
				<span class="tbtn tbtn1 next">后翻</span>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
		<div class="extra">
			<a href="#" class="btn btn1">
				<span>我也想出现在这里</span>
			</a>
		</div>
	</div>
</div>
<{include file="youmo/footer.html"}>
