<{include file="youmo/header.html" title="p6"}>

<div class="hor_box">
	<div class="hor_item main">
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="bc">
						<div class="slider slider2">
							<ul>
								<li><a href="#"><img width="748" height="252" alt="" src="static/youmo/img/img1.jpg"></a></li>
								<li><a href="#"><img width="748" height="252" alt="" src="static/youmo/img/img1.jpg"></a></li>
								<li><a href="#"><img width="748" height="252" alt="" src="static/youmo/img/img1.jpg"></a></li>
								<li><a href="#"><img width="748" height="252" alt="" src="static/youmo/img/img1.jpg"></a></li>
								<li><a href="#"><img width="748" height="252" alt="" src="static/youmo/img/img1.jpg"></a></li>
							</ul>
							<span class="toggle">
								<i class="current">1</i>
								<i>2</i>
								<i>3</i>
								<i>4</i>
								<i>5</i>
							</span>
						</div>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="bc">
						<form action="">
							<div class="filter">
								<ul class="options_item justify_list">
									<li>
										<h4>类型</h4>
										<p><label><input type="checkbox" /><span>不限</span></label></p>
										<p><label><input type="checkbox" /><span>脸模</span></label></p>
										<p><label><input type="checkbox" /><span>眼模</span></label></p>
										<p><label><input type="checkbox" /><span>腿模</span></label></p>
										<p><label><input type="checkbox" /><span>手模</span></label></p>
										<p><label><input type="checkbox" /><span>嘴模</span></label></p>
									</li>
									<li>
										<h4>风格</h4>
										<p><label><input type="checkbox" /><span>不限</span></label></p>
										<p><label><input type="checkbox" /><span>欧美</span></label></p>
										<p><label><input type="checkbox" /><span>韩版</span></label></p>
										<p><label><input type="checkbox" /><span>日系</span></label></p>
										<p><label><input type="checkbox" /><span>英伦</span></label></p>
										<p><label><input type="checkbox" /><span>OL风</span></label></p>
										<p><label><input type="checkbox" /><span>学院</span></label></p>
										<p><label><input type="checkbox" /><span>可爱</span></label></p>
										<p><label><input type="checkbox" /><span>大码</span></label></p>
										<p><label><input type="checkbox" /><span>其它</span></label></p>
									</li>
									<li>
										<h4>服务价格</h4>
										<p><label><input type="checkbox" /><span>不限</span></label></p>
										<p><label><input type="checkbox" /><span>1000元以下</span></label></p>
										<p><label><input type="checkbox" /><span>1001-2000元</span></label></p>
										<p><label><input type="checkbox" /><span>2001-3000元</span></label></p>
										<p><label><input type="checkbox" /><span>3001-4000元</span></label></p>
										<p><label><input type="checkbox" /><span>4001元以上</span></label></p>
									</li>
									<li>
										<h4>胸围(cm)</h4>
										<p><label><input type="checkbox" /><span>不限</span></label></p>
										<p><label><input type="checkbox" /><span>80-84</span></label></p>
										<p><label><input type="checkbox" /><span>85-90</span></label></p>
										<p><label><input type="checkbox" /><span>90-95</span></label></p>
										<p><label><input type="checkbox" /><span>95-100</span></label></p>
										<p><label><input type="checkbox" /><span>100-105</span></label></p>
									</li>
									<li>
										<h4>臀围(cm)</h4>
										<p><label><input type="checkbox" /><span>不限</span></label></p>
										<p><label><input type="checkbox" /><span>70-75</span></label></p>
										<p><label><input type="checkbox" /><span>75-80</span></label></p>
										<p><label><input type="checkbox" /><span>80-85</span></label></p>
										<p><label><input type="checkbox" /><span>85-90</span></label></p>
										<p><label><input type="checkbox" /><span>90-95</span></label></p>
										<p><label><input type="checkbox" /><span>95-100</span></label></p>
										<p><label><input type="checkbox" /><span>100-105</span></label></p>
										<p><label><input type="checkbox" /><span>105-110</span></label></p>
									</li>
									<li>
										<h4>身高(cm)</h4>
										<p><label><input type="checkbox" /><span>不限</span></label></p>
										<p><label><input type="checkbox" /><span>160-165</span></label></p>
										<p><label><input type="checkbox" /><span>165-170</span></label></p>
										<p><label><input type="checkbox" /><span>170-175</span></label></p>
										<p><label><input type="checkbox" /><span>175-180</span></label></p>
										<p><label><input type="checkbox" /><span>180-185</span></label></p>
										<p><label><input type="checkbox" /><span>185-190</span></label></p>
										<p><label><input type="checkbox" /><span>190-195</span></label></p>
										<p><label><input type="checkbox" /><span>195-200</span></label></p>
									</li>
									<li>
										<h4>拍摄类型</h4>
										<p><label><input type="checkbox" /><span>不限</span></label></p>
										<p><label><input type="checkbox" /><span>内衣</span></label></p>
										<p><label><input type="checkbox" /><span>鞋帽</span></label></p>
										<p><label><input type="checkbox" /><span>护肤</span></label></p>
										<p><label><input type="checkbox" /><span>服饰</span></label></p>
										<p><label><input type="checkbox" /><span>彩妆</span></label></p>
										<p><label><input type="checkbox" /><span>其它</span></label></p>
									</li>
									<li>
										<h4>体重(kg)</h4>
										<p><label><input type="checkbox" /><span>不限</span></label></p>
										<p><label><input type="checkbox" /><span>80-89</span></label></p>
										<p><label><input type="checkbox" /><span>90-99</span></label></p>
										<p><label><input type="checkbox" /><span>100-109</span></label></p>
										<p><label><input type="checkbox" /><span>110-119</span></label></p>
										<p><label><input type="checkbox" /><span>120-129</span></label></p>
										<p><label><input type="checkbox" /><span>130-139</span></label></p>
									</li>
								</ul>
							</div>
							<div class="filter_btn">
								<a href="#" class="btn btn7">
									开始查找
									<input type="submit" value="开始查找" />
								</a>
							</div>
						</form>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>

		<div class="column" style="position:relative;z-index:999">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="bc bar1">
						<form action="">
							<div class="hor_box selector selector1">
								<div class="hor_item txt">
									<input type="text" value="发布者" />
									<input type="submit" class="sbtn" value="搜索" />
								</div>
								<div class="hor_item sitem close">
									<span class="cur">默认排序</span>
									<i class="arrow">arrow</i>
									<ul class="slist sort_type">
										<li><span>排序选项</span></li>
										<li><span>排序选项</span></li>
										<li><span>排序选项</span></li>
									</ul>
									<input type="hidden" value="" />
								</div>
								<div class="hor_item sitem fixed_width close">
									<span class="cur">地区</span>
									<i class="arrow">arrow</i>
									<ul class="slist citylist">
										<li>
										<strong class="province">安徽省</strong>
										<span data_children = "hefei" class="city checked">合肥市</span>
										<span data_children = "wuhu" class="city">芜湖市</span>
										<span data_children = "anqing" class="city">安庆市</span>
										<span data_children = "maanshan" class="city">马鞍山市</span>
										<span data_children = "huainan" class="city">淮南市</span>
										<span data_children = "huabei" class="city">淮北市</span>
										<span data_children = "huangshan" class="city">黄山市</span>
										<span data_children = "suzhou" class="city">宿州市</span>
										<span data_children = "xuancheng" class="city">宣城市</span>
										<span data_children = "chaohu" class="city">巢湖市</span>
										<div class="sublist">
											<span class="county">妖海区</span>
											<span class="county">妖海区</span>
											<span class="county">罩杯区</span>
											<span class="county">阿斯空区</span>
											<span class="county">岳西县</span>
											<span class="county">钱山县</span>
											<span class="county">太湖县</span>
											<span class="county">诉讼县</span>
											<span class="county">罩杯区</span>
											<span class="county">阿斯空区</span>
											<span class="county">岳西县</span>
											<span class="county">钱山县</span>
											<span class="county">太湖县</span>
											<span class="county">诉讼县</span>
										</div>
										</li>
										<li>
										<strong class="province">安徽省</strong>
										<span class="city">合肥市</span>
										<span class="city">芜湖市</span>
										<span class="city">安庆市</span>
										<span class="city">马鞍山市</span>
										<span class="city">淮南市</span>
										<span class="city">淮北市</span>
										<span class="city">黄山市</span>
										<span class="city">宿州市</span>
										<span class="city">宣城市</span>
										<span class="city">巢湖市</span>
										<div class="sublist">
											<span class="county">妖海区</span>
											<span class="county">罩杯区</span>
											<span class="county">阿斯空区</span>
											<span class="county">岳西县</span>
											<span class="county">钱山县</span>
											<span class="county">太湖县</span>
											<span class="county">诉讼县</span>
										</div>
										</li>
									</ul>
									<input type="hidden" value="" />
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>

		<div class="column">
			<ul class="justify_list pic_list pic_list4 mod_list1" id="waterfall">
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="230">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="147">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
					<div class="comment">
						<div class="media media3 clearfix">
							<div class="fleft pic">
								<a href="#">
									<img src="static/youmo/img/img1.jpg" alt="" width="29" height="29">
								</a>
							</div>
							<div class="txt">
								<p class="summary">
								<a href="#" class="name">鑫小七:</a>创作摄影师 2名潜力摄影助理 3名
								</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="437">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="217">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
					<div class="comment">
						<div class="media media3 clearfix">
							<div class="fleft pic">
								<a href="#">
									<img src="static/youmo/img/img1.jpg" alt="" width="29" height="29">
								</a>
							</div>
							<div class="txt">
								<p class="summary">
								<a href="#" class="name">鑫小七:</a>创作摄影师 2名潜力摄影助理 3名
								</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="187">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="197">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
					<div class="comment">
						<div class="media media3 clearfix">
							<div class="fleft pic">
								<a href="#">
									<img src="static/youmo/img/img1.jpg" alt="" width="29" height="29">
								</a>
							</div>
							<div class="txt">
								<p class="summary">
								<a href="#" class="name">鑫小七:</a>创作摄影师 2名潜力摄影助理 3名
								</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="127">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="157">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
					<div class="comment">
						<div class="media media3 clearfix">
							<div class="fleft pic">
								<a href="#">
									<img src="static/youmo/img/img1.jpg" alt="" width="29" height="29">
								</a>
							</div>
							<div class="txt">
								<p class="summary">
								<a href="#" class="name">鑫小七:</a>创作摄影师 2名潜力摄影助理 3名
								</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="267">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
					<div class="comment">
						<div class="media media3 clearfix">
							<div class="fleft pic">
								<a href="#">
									<img src="static/youmo/img/img1.jpg" alt="" width="29" height="29">
								</a>
							</div>
							<div class="txt">
								<p class="summary">
								<a href="#" class="name">鑫小七:</a>创作摄影师 2名潜力摄影助理 3名
								</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="177">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
				</li>
				<li>
					<a href="#" class="picture">
						<img src="static/youmo/img/img1.jpg" alt="" width="140" height="157">
					</a>
					<div class="bar">
						<a href="#">坏坏果丫头</a>
						<span class="like">11233</span>
						<span class="reply">123</span>
					</div>
					<div class="comment">
						<div class="media media3 clearfix">
							<div class="fleft pic">
								<a href="#">
									<img src="static/youmo/img/img1.jpg" alt="" width="29" height="29">
								</a>
							</div>
							<div class="txt">
								<p class="summary">
								<a href="#" class="name">鑫小七:</a>创作摄影师 2名潜力摄影助理 3名
								</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<script type="text/javascript">
				youmo.waterfall.init("waterfall",4);
			</script>
			<form action="">
				<div class="page page2">
					<a href="#">首页</a>
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<span>…</span>
					<a href="#">
						<span>下一页</span>
					</a>
					<span class="pagenum">共 4 页</span>
					<span class="topage">
						到第<input type="text" class="txt">页
						<input type="submit" value="确定" class="go">
					</span>
				</div>
			</form>
		</div>

		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner p_lr_20">
					<div class="bt bt4">
						<h2>
							<strong class="title">
								最新评论
							</strong>
							<span class="letter">
								LAST REVIEWED
							</span>
						</h2>
					</div>
					<div class="bc">
						<div class="new_review_box">
							<ul class="new_review_list hor_list">
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media clearfix">
										<div class="fleft pic">
											<a href="#">
												<img src="static/youmo/img/img1.jpg" alt="" width="52" height="51">
											</a>
										</div>
										<div class="txt">
											<p class="summary">
											<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>

	</div>
	<div class="hor_item side">
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="attention_center bt bt2">
						<h3>
							<strong class="review_tit title">
								关注TOP10
							</strong>
						</h3>
					</div>
					<div class="vip_concern_me bg_color">
						<ul class="justify_list pic_list pic_list2">
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfa</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">小白兔</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">白又白</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfa</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="attention_center bt bt2">
						<h3>
							<strong class="review_tit title">
								赛区TOP10
							</strong>
						</h3>
					</div>
					<div class="divi_rank vip_concern_me">
						<ul class="divi_rank_list">
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
							<li>
							<div class="media clearfix">
								<div class="fleft pic">
									<a href="#">
										<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									</a>
								</div>
								<div class="txt">
									<h3 class="tit"><a href="#">十二公主</a></h3>
									<div class="summary">
										<p>
										拍片次数：500次
										</p>
										<p>
										<a href="#" class="btn btn12">
											<span>Top1</span>
										</a>
										</p>
									</div>
								</div>
							</div>
							</li>
						</ul>
					</div>	
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="attention_center bt bt2">
						<h3>
							<strong class="review_tit title">
								访问量TOP10
							</strong>
						</h3>
					</div>
					<div class="vip_concern_me bg_color">
						<ul class="justify_list pic_list pic_list2">
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfa</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">小白兔</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">白又白</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfa</span>
								</a>
							</li>
							<li>
								<a href="#" class="picture">
									<img src="static/youmo/img/img1.jpg" alt="" width="65" height="65">
									<span class="pic_txt">asdfghll</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="box">
				<div class="radius radius_top">
					<div>radius top</div>
				</div>
				<div class="box_inner">
					<div class="attention_center bt bt2">
						<h3>
							<strong class="review_tit title">
								会员最新动态
							</strong>
						</h3>
					</div>
					<div class="vip_concern_me">
						<ul class="vip_mov_list">
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media clearfix">
									<div class="fleft pic">
										<a href="#">
											<img src="static/youmo/img/img1.jpg" alt="" width="35" height="35">
										</a>
									</div>
									<div class="txt">
										<p class="summary">
										<a href="#" class="name">鑫小七:</a><a href="#">创创作摄影师名潜力摄影助理名平面设计</a>
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="radius radius_btm">
					<div>radius bottom</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="column">
	<div class="box">
		<div class="radius radius_top">
			<div>radius top</div>
		</div>
		<div class="box_inner p_lr_20">
			<div class="bt">
				<h2>
					<strong class="title">
						<span class="color1">猜你</span>喜欢
					</strong>
					<span class="letter">
						I GUESS YOU LIKE
					</span>
				</h2>
			</div>
			<div class="bc m_tb_11 scroll scroll4 clearfix">
				<div class="scroll_box">
					<div class="cont clearfix">
						<ul class="tab_item hor_list pic_list pic_list3">
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img width="156" height="156" alt="" src="static/youmo/img/img1.jpg"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img width="156" height="156" alt="" src="static/youmo/img/img1.jpg"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img width="156" height="156" alt="" src="static/youmo/img/img1.jpg"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img width="156" height="156" alt="" src="static/youmo/img/img1.jpg"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media media6 hor_item">
									<div class="pic">
										<a href="#"><img width="156" height="156" alt="" src="static/youmo/img/img1.jpg"></a>
									</div>
									<div class="txt">
										<p>
											<span class="field">发布人/</span><a class="name" href="#">李上回</a>
											<a title="加关注" class="icon follow" href="javascript:;">加关注</a>
										</p>
										<p><span class="field">职业/</span>平面模特</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<span class="tbtn tbtn1 prev">前翻</span>
				<span class="tbtn tbtn1 next">后翻</span>
			</div>
		</div>
		<div class="radius radius_btm">
			<div>radius bottom</div>
		</div>
		<div class="extra">
			<a href="#" class="btn btn1">
				<span>我也想出现在这里</span>
			</a>
		</div>
	</div>
</div>
<{include file="youmo/footer.html"}>
