			<div class="ft clearfix">
				<p class="nav fright">
					<a href="#">关于Monkey</a> |
					<a href="#">FAQ</a> |
					<a href="#">博客</a> |
					<a href="#">交流</a>
				</p>
				<p>
					Copyright &copy; 
					<script type="text/javascript">
						document.write((new Date()).getFullYear());
					</script>
					Version 1.0.0
				</p>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var oLayout = document.getElementById("layout");
		//oLayout.style.width = document.documentElement.clientWidth + "px";
	</script>
</html>
