			<div class="ft clearfix">
				<p class="nav fright">
					<a href="#">关于Monkey</a> |
					<a href="#">FAQ</a> |
					<a href="#">博客</a> |
					<a href="#">交流</a>
				</p>
				<p>
					Copyright &copy; 
					<script type="text/javascript">
						document.write((new Date()).getFullYear());
					</script>
					Version 1.0.0
				</p>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		(function(){
			var oLayout = document.getElementById("layout");
			var oSide = document.getElementById("side");
			var oWp = document.getElementById("wp");
			if(typeof oLayout.style.minWidth === "undefined"){
				$(window).ready(function(){
					var windowWidth = document.documentElement.clientWidth;
					windowWidth < 900 ? oLayout.style.width = "900px" : oLayout.style.width = "auto";
				});
				$(window).addEvent("resize",function(){
					$.throttle(function(){
						var windowWidth = document.documentElement.clientWidth;
						windowWidth < 900 ? oLayout.style.width = "900px" : oLayout.style.width = "auto";
					});
				});
			}
		}());
	</script>
</html>
