<{include file="monkey/header.html" title="p1"}>
<div class="wp hor_box" id="wp">
	<div class="main hor_item">
		<div class="main_inner">
			<div class="box">
				<div class="bt">
					<span class="tit">表单模块</span>
				</div>
				<div class="bc">
					<form action="">
						<div class="form">
							<div class="item">
								<label class="field">输入框：</label>
								<input type="text" class="txt w250" />
							</div>
							<div class="item">
								<label class="field">输入框：</label>
								<input type="text" class="txt w250 focus" />
							</div>
							<div class="item">
								<label class="field">输入框：</label>
								<input type="text" class="txt w250 err" />
							</div>
							<div class="item">
								<label class="field">单选按钮：</label>
								<span class="radio" name="">
									单选按钮
									<input type="hidden" />
								</span>
								<span class="radio r_checked" name="">
									单选按钮
									<input type="hidden" />
								</span>
							</div>
							<div class="item">
								<label class="field">单选按钮：</label>
								<span class="radio r_checked" name="">
									单选按钮
									<input type="hidden" />
								</span>
							</div>
							<div class="item">
								<label class="field">复选框：</label>
								<span class="checkbox" name="">
									复选框
									<input type="hidden" />
								</span>
								<span class="checkbox" name="">
									复选框
									<input type="hidden" />
								</span>
							</div>
							<div class="item">
								<label class="field">复选框：</label>
								<span class="checkbox c_checked" name="">
									复选框
									<input type="hidden" />
								</span>
							</div>
							<!--
							   -<div class="item">
							   -    <label class="field">下拉：</label>
							   -    <div class="select">
							   -        <span class="cur_option">下拉菜单</span>
							   -        <ol>
							   -            <li><a href="#">下拉菜单</a></li>
							   -            <li><a href="#">下拉菜单</a></li>
							   -            <li><a href="#">下拉菜单</a></li>
							   -            <li><a href="#">下拉菜单</a></li>
							   -        </ol>
							   -        <input type="hidden" />
							   -    </div>
							   -</div>
							   -->
							<div class="item">
								<label class="field">按钮：</label>
								<a href="javascript:;" class="btn">
									<span>按钮</span>
									<input type="submit" value="按钮" />
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="box">
				<div class="bt">
					<span class="tit">表格模块</span>
				</div>
				<div class="bc">
					<table class="table">
						<thead>
							<tr>
								<th>第一列</th>
								<th>第二列</th>
								<th>第三列</th>
								<th>第四列</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>第一列</td>
								<td>第二列</td>
								<td>第三列</td>
								<td>第四列</td>
							</tr>
							<tr class="even">
								<td>第一列</td>
								<td>第二列</td>
								<td>第三列</td>
								<td>第四列</td>
							</tr>
							<tr>
								<td>第一列</td>
								<td>第二列</td>
								<td>第三列</td>
								<td>第四列</td>
							</tr>
							<tr class="even">
								<td>第一列</td>
								<td>第二列</td>
								<td>第三列</td>
								<td>第四列</td>
							</tr>
							<tr>
								<td>第一列</td>
								<td>第二列</td>
								<td>第三列</td>
								<td>第四列</td>
							</tr>
							<tr class="even">
								<td>第一列</td>
								<td>第二列</td>
								<td>第三列</td>
								<td>第四列</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="box">
				<div class="bt">
					<span class="tit">标题</span>
				</div>
				<div class="bc">
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
				</div>
			</div>
			<div class="box">
				<div class="bt">
					<span class="tit">标题</span>
				</div>
				<div class="bc">
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
				</div>
			</div>
			<div class="box">
				<div class="bt">
					<span class="tit">标题</span>
				</div>
				<div class="bc">
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
				</div>
			</div>
			<div class="box">
				<div class="bt">
					<span class="tit">标题</span>
				</div>
				<div class="bc">
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
				</div>
			</div>
			<div class="box">
				<div class="bt">
					<span class="tit">标题</span>
				</div>
				<div class="bc">
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
				</div>
			</div>
			<div class="box">
				<div class="bt">
					<span class="tit">标题</span>
				</div>
				<div class="bc">
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
				</div>
			</div>
			<div class="box">
				<div class="bt">
					<span class="tit">标题</span>
				</div>
				<div class="bc">
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
				</div>
			</div>
			<div class="box">
				<div class="bt">
					<span class="tit">标题</span>
				</div>
				<div class="bc">
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
				</div>
			</div>
			<div class="box">
				<div class="bt">
					<span class="tit">标题</span>
				</div>
				<div class="bc">
					main<br/>
					main<br/>
					main<br/>
				</div>
			</div>
		</div>
	</div>
	<div class="side hor_item" id="side">
			<div class="box">
				<div class="bt">
					<span class="tit">登录用户</span>
				</div>
				<div class="bc">
					<div class="userinfo clearfix">
						<p><img src="http://www.i-shu.com/static/media/user_pic/user4.png" alt="" width="32" height="32" style="float:left" /></p>
						<p><span>姓名：</span>Cage</p>
						<p><span>部门：</span>前端组</p>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="bt">
					<span class="tit">标题</span>
				</div>
				<div class="bc">
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
				</div>
			</div>
			<div class="box">
				<div class="bt">
					<span class="tit">标题</span>
				</div>
				<div class="bc">
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
				</div>
			</div>
			<div class="box">
				<div class="bt">
					<span class="tit">标题</span>
				</div>
				<div class="bc">
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
				</div>
			</div>
	</div>
</div>
<{include file="monkey/footer.html"}>
