<{include file="monkey/header.html" title="p1"}>
<div class="wp hor_box">
	<div class="main hor_item">
		<div class="main_inner">
			<div class="box">
				<div class="bt">
					<span class="tit">标题</span>
				</div>
				<div class="bc">
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
				</div>
			</div>
			<div class="box">
				<div class="bt">
					<span class="tit">标题</span>
				</div>
				<div class="bc">
					main<br/>
					main<br/>
					main<br/>
				</div>
			</div>
		</div>
	</div>
	<div class="side hor_item">
			<div class="box">
				<div class="bt">
					<span class="tit">标题</span>
				</div>
				<div class="bc">
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
				</div>
			</div>
			<div class="box">
				<div class="bt">
					<span class="tit">标题</span>
				</div>
				<div class="bc">
					main<br/>
					main<br/>
					main<br/>
					main<br/>
					main<br/>
				</div>
			</div>
	</div>
</div>
<{include file="monkey/footer.html"}>
