html{
	/*overflow-x:hidden;*/
	overflow-y:scroll;
	_background-image:url(about:blank);
	_background-attachment:fixed;
}
body,ul,ol,p,dl,dd,form,textarea,h1,h2,h3,h4,fieldset,input{
    margin:0;
}

ul,ol,input,button,td,th,fieldset{
    padding:0;
}
ul,ol{
    list-style-type:none;
    list-style-position:outside;
}
a{
    text-decoration:none;
    color:#3B5998;
}
a img,fieldset{
    border:none;
}
fieldset legend{
	display:none
}
a,input,button,textarea{
	outline:none;
}
textarea{
	resize:none
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
em{
    font-style:normal
}
.clear{
    clear:both;
}
.clearfix{
	*zoom:1;
}
.clearfix:after{
    content:'';
    height:0;
    clear:both;
    display:block;
    overflow:hidden;
}
body{
    font:12px/1.5 Tahoma,simsun,'宋体',Helvetica,simsun,sans-serif;
    color:#222;
	background:url(../../img/liuqin/body_bg.png) repeat 0 0;
}
.hor_box,
.hor_list,
.justify_box,
.justify_list{
	letter-spacing:-0.5em;
	font-size:0;
}
.justify_box,
.justify_list{
	text-align:justify;
	text-justify:distribute-all-lines;
}
.justify_box:after,
.justify_list:after{
	content:"";
	display:inline-block;
	width:100%;
	height:0;
	overflow:hidden;
}
.hor_item,
.hor_list li,
.justify_item,
.justify_list li{
	display:inline-block;
	letter-spacing:normal;
	font-size:12px;
	vertical-align:top;
	text-align:left;
	text-justify:auto;
	*display:inline;
	*zoom:1;
}
.hd{
	height:30px;
	background:#333;
	line-height:30px;
	border-bottom:1px solid #ccc;
	text-align:center;
}
.nav a{
	color:#fff;
	font-size:14px;
	margin-left:5px;
	margin-right:5px;
}
.wp{
	width:990px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	padding-bottom:188px;
}
.piclist{
	margin-left:-72px;
	text-align:center;
}
.piclist li{
	text-align:center;
	margin-bottom:12px;
	width:248px;
	height:220px;
	margin-left:72px;
	background:url(../../img/liuqin/loading.gif) no-repeat center center;
	cursor:pointer;
}
.piclist li.loaded{
	background:none;
}
.piclist img{
	vertical-align:middle;
	padding:3px;
	width:180px;
	height:180px;
	border:1px solid #888;
	background:#eee;
	border-radius:3px;
	box-shadow:0 0 3px #333;
	-webkit-transition: 0.3s linear all;
	-moz-transition: 0.3s linear all;
	-ms-transition: 0.3s linear all;
	-o-transition: 0.3s linear all;
	-khtml-transition: 0.3s linear all;
	transition: 0.3s linear all;
}
.piclist img:hover{
	box-shadow:0 0 10px #57a000;
	border-color:#57a000;
	border-radius:250px;
}
.piclist .name{
	display:block;
	font-size:14px;
	color:#000;
}
#gotop{
	width:50px;
	height:50px;
	background:#333;
	border-radius:300px;
	position:fixed;
	bottom:10px;
	right:10px;
	cursor:pointer;
	text-align:center;
	line-height:50px;
	font-size:18px;
	font-weight:700;
	color:#fff;
	_position:absolute;
	_top:expression(eval(document.documentElement.clientHeight - 60)  + document.documentElement.scrollTop);
}
#gotop:hover{
	box-shadow:0 0 15px #fff;
}
