/* reset css start */
html{
	overflow-y:scroll;
}
body,ul,ol,p,dl,dd,form,textarea,h1,h2,h3,h4,fieldset,input{
	margin:0;
}

ul,ol,input,button,td,th,fieldset{
	padding:0;
}
ul,ol{
	list-style-type:none;
	list-style-position:outside;
}
a{
	text-decoration:none;
}
a img,fieldset{
	border:none;
}
fieldset legend{
	display:none
}
a,input,button,textarea{
	outline:none;
}
textarea{
	resize:none
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
em{
	font-style:normal
}
select{
	height: 21px;
	border: 1px solid #C4C4C4;
	background: white;
	line-height: 30px;
}
body{
	color:#5c5c5c;
	font:12px/1.5 Tahoma,arial,宋体b8b\4f53;
}
/* reset style end */

/* base style start */
.clear{
	clear:both;
}
.clearfix{
	zoom:1;
}
.clearfix:after{
	content:'';
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
.hor_box,
.hor_list{
	font-size:0;
	letter-spacing:-5px;
}
.hor_item,
.hor_list li{
	display        : inline-block;
	vertical-align : top;
	font-size      : 12px;
	letter-spacing : normal;
	*display       : inline;
	*zoom          : 1;
}
i.arrow{
	width:0;
	height:0;
	font-size:0;
	overflow:hidden;
	border-style:solid;
	border-color:transparent;
	_border-color:red;
	_filter:chroma(color=red);
}
a.btn,
a.btn span{
	display:inline-block;
}
a.btn{
	position:relative;
	overflow:hidden;
}
a.btn span{
	cursor:pointer;
}
a.btn input{
	position:absolute;
	width:999px;
	height:999px;
	top:0;
	left:0;
	z-index:9;
	cursor:pointer;
	opacity:0;
	filter:alpha(opacity=0);
}
/* base css start */
