<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>刘琴的简历</title>
		<link type="text/css" rel="stylesheet" href="static/me/css/liuqin/me.css" />
	</head>
	<body>
		<div class="hd">
			<ul class="nav hor_list">
			  <li><a href="#">作品集</a></li>
			  <li><a href="#" id="showresume">关于我</a></li>
			</ul>
		</div>

		<div class="wp">
			<ul class="hor_list piclist" id="list"></ul>
		</div>

		<div id="gotop">Top</div>
		<div class="tips">
			还有<span id="count"></span>件作品 点击或往下滚动浏览更多↓
		</div>
		<a href="static/me/img/liuqin/刘琴的简历.doc" class="download">下载我的简历</a>
		<div id="resume">
			<div class="inner" id="inner">
				<table class="table">
					<caption>个人简历</caption>
					<tbody>
						<tr class="acenter">
							<td class="field">姓名</td>
							<td>刘琴</td>
							<td class="field">性别</td>
							<td>女</td>
							<td class="field">民族</td>
							<td>汉</td>
							<td rowspan="3" class="face">
								<img src="static/me/img/liuqin/face.jpg" alt="" />
							</td>
						</tr>
						<tr class="acenter">
							<td class="field">身高</td>
							<td>155cm</td>
							<td class="field">体重</td>
							<td>48kg</td>
							<td class="field">政治面貌</td>
							<td>汉</td>
						</tr>
						<tr class="acenter">
							<td class="field">出身年月</td>
							<td>1989.11.15</td>
							<td class="field">学历</td>
							<td>大专</td>
							<td class="field">籍贯</td>
							<td>皖安庆市</td>
						</tr>
						<tr>
							<td class="field">毕业学校</td>
							<td colspan="2">安徽三联学院</td>
							<td class="field">联系地址</td>
							<td colspan="3">上海市杨浦区国定路600弄10号301室</td>
						</tr>
						<tr>
							<td class="field">专业</td>
							<td colspan="2">电脑艺术设计</td>
							<td class="field">联系电话</td>
							<td colspan="3">13524582900</td>
						</tr>
						<tr>
							<td class="field">兴趣爱好</td>
							<td colspan="6">设计、剪纸、绘画、种植花木、听音乐、阅读书籍、写作</td>
						</tr>
						<tr>
							<td class="field">大学所学专业课程</td>
							<td colspan="6">
								CoreIDRAW、IIIustrator、FLASH、PHOTOSHOP、3DSMAX、色彩、素描、色彩构成、平面构成、装饰图案、包装设计、广告设计、标志设计、徒手动画
							</td>
						</tr>
						<tr>
							<td class="field">大学中任职经历</td>
							<td colspan="6">
								剪纸协会组织部副部长
							</td>
						</tr>
						<tr>
							<td class="field">奖励情况</td>
							<td colspan="6">10年12剪纸作品《合荷二仙》获得优秀奖</td>
						</tr>
						<tr>
							<td class="field">自我鉴定</td>
							<td colspan="6">有较强动手能力、细心，创新意识和责任心强；积极上进，乐观坚强;坚信一分耕耘，一分收获</td>
						</tr>
						<tr>
							<td class="field">应聘职位</td>
							<td colspan="6">平面设计</td>
						</tr>
					</tbody>
				</table>
				<div class="cover_letters">
					<h2>自荐信</h2>
					<p>尊敬的各位领导：</p>
					<p>您们好!首先向您辛勤工作致以深深的敬意，同时也衷心感谢您在百忙之中浏览我的自荐信，为一位将要步入社会的大学生开启一扇希望之门。祝愿贵单位事业欣欣向荣，蒸蒸日上！</p>
					<p>我叫刘琴，来自安徽安庆市的大别山，毕业于安徽三联学院电脑艺术设计专业。我是一个时间观念很强的人，做事认真细心，能吃苦耐劳、积极乐观、诚实、有责任心。我总告诉自己：要做就要做到最好，要么就不做。我始终相信一分耕耘一分收获，所以我一直对自己严格要求。</p>
					<p>	回首昨天，曲折坎坷，得失荣誉间，都是一个奋进勃发的身影，都是一份无悔无愧的心情。在校期间，我不断积极进取，立足基础扎实，努力学习专业知识，成绩优异。熟练CoreIDRAW、IIIustrator、FLASH、PHOTOSHOP、3DSMAX软件。课余时间积极参加学校组织的活动和社团活动，使我的沟通能力得到提高和团结协作精神得到锻炼。</p>
					<p>	“长风破浪会有时，直挂云帆济沧海”，怀着饱满的热情、坚韧的性格的性格、待着我的是机遇与挑战！抓住这个机会，为单位尽自己的绵薄之力。</p>
					<p>
						此致<br/>
						敬礼！
					</p>
					<p class="person">求职人：刘琴</p>
					<p class="time">
						2012年06月24日
					</p>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var aList = [
			{"name":"2014南京青奥招贴","big":"static/me/img/liuqin/zp1.jpg","url":"static/me/img/liuqin/zp1_s.jpg"}
		];
		var oList = document.getElementById("list");
		var gotop = document.getElementById("gotop");
		var oTips = document.getElementById("tips");
		var oCount = document.getElementById("count");
		var oResume = document.getElementById("resume");
		var oShow = document.getElementById("showresume");
		var oInner = document.getElementById("inner");
		var html = document.documentElement;
		var body = document.body;
		var bodyHeight;
		var len = aList.length;
		var clientHeight = document.documentElement.clientHeight;
		var initnum = (Math.floor(clientHeight / 188) * 3) < len ? Math.floor(clientHeight / 188) * 3 : len;
		oResume.style.height = clientHeight - 30 + "px";
		oInner.style.height = clientHeight - 30 + "px";



		function loadImg(start,n){
			var oFragment = document.createDocumentFragment();
			for(var i = start; i < n; i++){
				var oImg = new Image();
				var oLi = document.createElement("li");
				var oSpan = document.createElement("span");
				oSpan.className = "name";
				oSpan.innerHTML = aList[i]["name"];
				oImg.setAttribute("alt",aList[i]["name"]);
				oImg.setAttribute("title",aList[i]["name"]);
				oImg.setAttribute("rel",aList[i]["big"]);
				oImg.style.visibility = 'hidden';
				oImg.onload = function(){
					this.style.visibility = "visible";
					this.setAttribute("loaded",1);
				}
				oImg.src = aList[i]["url"];
				oLi.appendChild(oImg);
				oLi.appendChild(oSpan);
				oFragment.appendChild(oLi);
			}
			oList.appendChild(oFragment);
			initnum = oList.getElementsByTagName("li").length;
			(len - initnum) > 0 ? oCount.innerHTML = len - initnum : oCount.parentNode.style.display = "none";
			return body.offsetHeight;
		}
		bodyHeight = loadImg(0,initnum);
		window.onscroll = function(){
			if(initnum >= len){return};
			var scrollTop = html.scrollTop || body.scrollTop;
			if(bodyHeight - clientHeight == scrollTop){
				var end = (initnum + 3) < len ? initnum + 3 : len;
				bodyHeight = loadImg(initnum,end);
			}
		};
		document.onclick = function(e){
			e = e || window.event;
			var target = e.target || e.srcElement;
			if(target.nodeName.toLowerCase() === "img" && target.parentNode.nodeName.toLowerCase() === "li"){
				window.location.href = target.getAttribute('rel');
			}
			if(target.getAttribute("id") === "gotop"){
				var timer = null;
				(function(){
					var scrollTop = html.scrollTop || body.scrollTop;
					var iSpeed = scrollTop / 4;			  
					html.scrollTop ? (html.scrollTop = scrollTop - iSpeed) : (body.scrollTop = scrollTop - iSpeed);
					scrollTop ? timer = setTimeout(arguments.callee,30) : clearTimeout(timer);
				}());
			}
			if(target.nodeName.toLowerCase() === "div" && target.className === "tips"){
				if(initnum >= len){return};
				var end = (initnum + 3) < len ? initnum + 3 : len;
				bodyHeight = loadImg(initnum,end);
			}
			if(target.nodeName.toLowerCase() === "a" && target.getAttribute("id") === "showresume"){
				oResume.style.display = "block";
				document.documentElement.style.overflowY = "hidden";
			}else{
				oResume.style.display = "none";
				document.documentElement.style.overflowY = "scroll";
			}
		}
		oInner.onclick = function(e){
			e = e || window.event;
			if(e.stopPropagation){
				e.stopPropagation();
			}else{
				e.cancelBubble = true;
			}
		}
	</script>
</html>
