<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>刘琴的简历</title>
		<link type="text/css" rel="stylesheet" href="static/me/css/liuqin/me.css" />
	</head>
	<body>
		<div class="hd">
			<ul class="nav hor_list">
			  <li><a href="#">作品集</a></li>
			  <li><a href="#">关于我</a></li>
			  <li><a href="#" class="download">下载简历</a></li>
			</ul>
		</div>

		<div class="wp">
			<ul class="hor_list piclist" id="list"></ul>
		</div>

		<div id="gotop">Top</div>
		<div class="tips">
			还有<span id="count"></span>件作品 点击或往下滚动浏览更多↓
		</div>
		<div id="resume">
			<div class="inner" id="inner">
				sdadasdasd
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var aList = [
			{"name":"作品1","big":"static/me/img/cage/face.png","url":"static/me/img/cage/face.png"},
			{"name":"作品1","big":"static/me/img/cage/face.png","url":"static/me/img/cage/face.png"},
			{"name":"作品1","big":"static/me/img/cage/face.png","url":"static/me/img/cage/face.png"},
			{"name":"作品1","big":"static/me/img/cage/face.png","url":"static/me/img/cage/face.png"},
			{"name":"作品1","big":"static/me/img/cage/face.png","url":"static/me/img/cage/face.png"},
			{"name":"作品1","big":"static/me/img/cage/face.png","url":"static/me/img/cage/face.png"},
			{"name":"作品1","big":"static/me/img/cage/face.png","url":"static/me/img/cage/face.png"},
			{"name":"作品1","big":"static/me/img/cage/face.png","url":"static/me/img/cage/face.png"},
			{"name":"作品1","big":"static/me/img/cage/face.png","url":"static/me/img/cage/face.png"}
		];
		var oList = document.getElementById("list");
		var gotop = document.getElementById("gotop");
		var oTips = document.getElementById("tips");
		var oCount = document.getElementById("count");
		var oResume = document.getElementById("resume");
		var oInner = document.getElementById("inner");
		var html = document.documentElement;
		var body = document.body;
		var bodyHeight;
		var len = aList.length;
		var clientHeight = document.documentElement.clientHeight;
		var initnum = (Math.floor(clientHeight / 188) * 3) < len ? Math.floor(clientHeight / 188) * 3 : len;
		oResume.style.height = clientHeight - 30 + "px";
		oInner.style.height = clientHeight - 30 + "px";



		function loadImg(start,n){
			var oFragment = document.createDocumentFragment();
			for(var i = start; i < n; i++){
				var oImg = new Image();
				var oLi = document.createElement("li");
				var oSpan = document.createElement("span");
				oSpan.className = "name";
				oSpan.innerHTML = aList[i]["name"];
				oImg.setAttribute("alt",aList[i]["name"]);
				oImg.setAttribute("title",aList[i]["name"]);
				oImg.setAttribute("rel",aList[i]["big"]);
				oImg.style.visibility = 'hidden';
				oImg.onload = function(){
					this.style.visibility = "visible";
					this.setAttribute("loaded",1);
				}
				oImg.src = aList[i]["url"];
				oLi.appendChild(oImg);
				oLi.appendChild(oSpan);
				oFragment.appendChild(oLi);
			}
			oList.appendChild(oFragment);
			initnum = oList.getElementsByTagName("li").length;
			(len - initnum) > 0 ? oCount.innerHTML = len - initnum : oCount.parentNode.style.display = "none";
			return body.offsetHeight;
		}
		bodyHeight = loadImg(0,initnum);
		window.onscroll = function(){
			if(initnum >= len){return};
			var scrollTop = html.scrollTop || body.scrollTop;
			if(bodyHeight - clientHeight == scrollTop){
				var end = (initnum + 3) < len ? initnum + 3 : len;
				bodyHeight = loadImg(initnum,end);
			}
		};
		document.onclick = function(e){
			e = e || window.event;
			var target = e.target || e.srcElement;
			if(target.nodeName.toLowerCase() === "img"){
				window.location.href = target.getAttribute('rel');
			}
			if(target.getAttribute("id") === "gotop"){
				var timer = null;
				(function(){
					var scrollTop = html.scrollTop || body.scrollTop;
					var iSpeed = scrollTop / 4;			  
					html.scrollTop ? (html.scrollTop = scrollTop - iSpeed) : (body.scrollTop = scrollTop - iSpeed);
					scrollTop ? timer = setTimeout(arguments.callee,30) : clearTimeout(timer);
				}());
			}
			if(target.nodeName.toLowerCase() === "div" && target.className === "tips"){
				if(initnum >= len){return};
				var end = (initnum + 3) < len ? initnum + 3 : len;
				bodyHeight = loadImg(initnum,end);
			}
		}
	</script>
</html>
