/* reset style start */
html{
	overflow-x:auto;
	overflow-y:scroll;
}
body,ul,ol,p,dl,dd,form,textarea,h1,h2,h3,h4,fieldset,input{
    margin:0;
}

ul,ol,input,button,td,th,fieldset{
    padding:0;
}
ul,ol{
    list-style-type:none;
    list-style-position:outside;
}
a{
    text-decoration:none;
    color:#606060;
}
a img,fieldset{
    border:none;
}
fieldset legend{
	display:none
}
a,input,button,textarea{
	outline:none;
}
textarea{
	resize:none
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
em{
    font-style:normal
}
.clear{
    clear:both;
}
.clearfix{
	zoom:1;
}
.clearfix:after{
    content:'';
    height:0;
    clear:both;
    display:block;
    overflow:hidden;
}
body{
    font:12px/1.5 "微软雅黑",Tahoma,simsun,'宋体',Helvetica,simsun,sans-serif;
    color:#333;
	background:url(../img/body_bg.png) repeat 0 0;
}
/* reset style end */

/* blank style start */
.w230{
	width:230px;
}
.w117{
	width:117px;
}
.p_lr_20{
	padding-left:20px;
	padding-right:20px;
}
.m_tb_11{
	margin-top:11px;
	margin-bottom:11px;
}
/* blank style end */

/* base style start */
.fleft{
	float:left;
}
.fright{
	float:right;
}
.btn,
.btn span{
	display:inline-block;
	overflow:hidden;
	cursor:pointer;
}
.btn{
	position:relative;
	vertical-align:middle;
	zoom:1;
} 
.btn input{
	width:999px;
	height:999px;
	position:absolute;
	left:0;
	top:0;
	z-index:9;
	opacity:0;
	filter:alpha(opacity=0);
}
.hor_box,
.hor_list,
.justify_box,
.justify_list{
	letter-spacing:-0.5em;
	font-size:0;
	*zoom:1;
}
.justify_box,
.justify_list{
	text-align:justify;
	text-justify:distribute-all-lines;
}
.justify_box:after,
.justify_list:after{
	content:"";
	display:inline-block;
	width:100%;
	height:0;
	overflow:hidden;
}
.hor_item,
.hor_list li,
.justify_item,
.justify_list li{
	display:inline-block;
	letter-spacing:normal;
	font-size:12px;
	vertical-align:top;
	text-align:left;
	text-justify:auto;
	*display:inline;
	*zoom:1;
}
.arrow{
	display:inline-block;
	width:0;
	height:0;
	overflow:hidden;
	border-style:solid;
	border-color:transparent;
	vertical-align:middle;
}
/* header style start */
.hd{
	height
}
.hd_inner{
	height:112px;
	width:982px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
.hd,
.hd_inner{
	background:url(../img/rx.png) repeat-x 0 0;
}
.hd .topbar a{
	padding-left:14px;
	background-image:url(../img/icon.png);
	background-repeat:no-repeat;
	color:#707070;
	margin:0 7px;
}
.hd .topbar{
	height:30px;
	width:398px;
	background:url(../img/bg.png) no-repeat 0 -115px;
	position:absolute;
	line-height:30px;
	color:#707070;
	text-align:center;
	top:0;
	right:0;
}
.hd .topbar .login{
	background-position:0 2px;
}
.hd .topbar .reg{
	background-position:0 -23px;
}
.hd .topbar .favorites{
	background-position:0 -47px;
}
.nav{
	position:absolute;
	bottom:12px;
}
.nav .home,
.nav .item{
	padding:0 18px;
	background-image:url(../img/icon.png);
	background-repeat:no-repeat;
}
.nav .home{
	padding-left:45px;
	background-position:18px -66px;
}
.nav .item{
	padding:0 18px;
	background-position:0 -143px;
	position:relative;
}
.nav a{
	font-size:14px;
	color:#fff;
}
.subnav{
	display:none;
}
.search{
	position:absolute;
	right:0;
	bottom:12px;
	font-size:0;
	width:200px;
	overflow:hidden;
}
.search .t,
.search button{
	vertical-align:middle;
}
.search .t{
	display:inline-block;
	height:22px;
	background:url(../img/bg.png) no-repeat 0 -148px;
	margin-right:10px;
}
.search .t input{
	border:none 0;
	background:none;
	height:22px;
	line-height:22px;
	padding-left:3px;
	color:#9A9A9A;
	font-size:12px;
	width:160px;
}
.search button{
	height:22px;
	width:22px;
	background:url(../img/icon.png) no-repeat 0 -96px;
	text-indent:-999em;
	border:none 0;
	cursor:pointer;
}
.ft{
	margin-top:100px;
	zoom:1;
}
.ft,
.ft_inner{
	background:url(../img/rx.png) repeat-x 0 -112px;
}
.ft_inner{
	height:220px;
	color:#fff;
	width:982px;
	margin:0 auto;
	position:relative;
}
.ft_inner h2{
	height:140px;
	padding-top:1px;
	background:url(../img/bg.png) no-repeat right -209px;
	display:block;
}
.ft .logo{
	display:block;
	width:180px;
	height:104px;
	text-indent:-999em;
	margin-top:11px;
	background:url(../img/bg.png) no-repeat -230px 0;
}
.ft .safe_guide{
	color:#DBFF00;
	display:block;
	width:350px;
	height:27px;
	padding-top:12px;
	padding-right:15px;
	background:url(../img/bg.png) no-repeat 0 -400px;
	text-align:right;
	text-decoration:underline;
	position:absolute;
	bottom:35px;
	left:0;
}
.ft_nav p{
	text-align:right;
	line-height:23px;
}
.ft_nav p a{
	color:#fff;
	padding:0 3px;
}
.wp{
	width:982px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}
.column{
	margin-bottom:14px;
	zoom:1;
}
.main{
	width:764px;
}
.side{
	width:208px;
	margin-left:10px;
}
/* header style start */

/* base style end */
.box .title,
.tab1,
.tab3{
	font-family:"微软雅黑","黑体","Tahoma";
	font-weight:400;
}
/* box style start */
.box{
	border-radius:10px;
	background:#fff;
	padding:11px 0;
	position:relative;
	zoom:1;
	box-shadow:1px 2px 2px #ccc;
}
.box .extra{
	position:absolute;
	top:20px;
	right:20px;
}
.box .radius{
	display:none;
}
.box .bt h2{
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.box .bt .extra_info{
	margin-left:25px;
	color:#BFBFBF;
}
.box .title{
	font-size:28px;
	color:#393939;
}
.box .letter{
	font-size:18px;
	font-family:"宋体";
	color:#999;
	font-weight:400;
}
.box .color1{
	color:#F64141;
}
.box .bt1,
.box .bt2,
.box .bt3,
.box .bt4{
	background-repeat:no-repeat;
	background-position:center bottom;
	padding-bottom:8px;
	zoom:1;
}
.box .bt1{
	background-image:url(../img/tit_bg1.png);
}
.box .bt2,
.invite_h3{
	background-image:url(../img/tit_bg2.png);
}
.box .bt3{
	background-image:url(../img/tit_bg3.png);
	padding-bottom:3px;
}
/* box style end */

/* tab style start */
.tab1 li{
	width:77px;
	border-bottom:2px solid #CECECE;
	margin-left:4px;
	margin-right:4px;
	text-align:center;
	padding-bottom:4px;
	font-size:14px;
}
.tab1 .current{
	border-color:#E23227;
}
.tab1 .current a{
	color:#F64141;
}

.tab2{
	overflow:hidden;
	position:relative;
	/*zoom:1;*/
}
.tab2 li{
	border-left:1px solid #7B7B7B;
	height:14px;
	line-height:14px;
	padding-left:8px;
	padding-right:10px;
	margin-left:-1px;
}
.tab2 .current a{
	color:#F64141;
}
.tab3{
	margin-left:10px;
}
.tab3 li,
.tab3 a,
.tab4 .current,
.tab4 .current a{
	background-image:url(../img/btn_bg.png);
	background-repeat:no-repeat;
}
.tab3 li{
	padding-left:18px;
	background-position:left -165px;
	margin-right:8px;
}
.tab3 a,
.tab4 a{
	display:inline-block;
}
.tab3 a{
	padding-right:18px;
	background-position:right -165px;
	height:33px;
	line-height:33px;
	font-size:18px;
}
.tab3 .current{
	background-position:left -127px;
}
.tab3 .current a{
	background-position:right -127px;
	color:#F64141;
}
.tab4{
	width:189px;
	background:url(../img/bg.png) no-repeat -370px -411px;
	margin:0 auto;
	padding-bottom:8px;
	text-align:center;
}
.tab4 li{
	padding-left:10px;
}
.tab4 a{
	height:19px;
	line-height:19px;
	width:60px;
	padding-right:10px;
}
.tab4 .current{
	background-position:left -835px;
}
.tab4 .current a{
	background-position:right -835px;
	font-weight:700;
	color:#fff;
}
.tab5 li{
	border:1px solid #FCC3E1;
	background:#EBEAEA;
	font-size:14px;
	padding:6px 16px;
	margin-right:1px;
}
.tab5 .current{
	background:#fff;
}
/* tab style end */

/* icon style start */

/* icon style end */
.icon,
.btn .ic{
	background-image:url(../img/icon.png);
	background-repeat:no-repeat;
}
.icon{
	display:inline-block;
	font-size:0;
	overflow:hidden;
	width:0;
	height:0;
}
.like{
	padding-top:16px;
	padding-left:16px;
	background-position:-20px -318px;
}
.like:hover{
	background-position:left -318px;
}
.follow{
	padding-top:11px;
	padding-left:13px;
	background-position:-23px -457px;
}
/* media style start */
.media img{
	vertical-align:bottom;
}
.media .field{
	color:#CBCBCB;
}
.media .summary,
.summary a{
	color:#969696;
}
.media .summary a:hover{
	color:#FF7068;
}
.media .txt{
	position:relative;
}
.media1{
	padding:8px;
	border:1px solid #E5E5E5;
}

.media1 .txt,
.media6 .txt,
.media11 .txt{
	margin-top:12px;
	color:#797979;
}
.media1 .name,
.media11 .name{
	font-weight:700;
	text-decoration:underline;
}
.media1 .name:hover{
	color:#FF3A2E;
}
.media1 .like,
.media11 .like{
	position:absolute;
	display:block;
	right:0;
	top:0;
	_right:8px;
}
.media1 p,
.media11 p{
	line-height:normal;
	padding-bottom:4px;
}
.media2 .pic{
	margin-right:29px;
	margin-top:3px;
}
.media2 .tit{
	font-size:12px;
	color:#5E5E5E;
	height:21px;
	line-height:21px;
	overflow:hidden;
}
.media2 .summary{
	word-break:break-all;
	word-wrap:break-word;
	line-height:21px;
	height:45px;
	overflow:hidden;
}
.media3 .pic{
	margin-right:12px;
	position:relative;
	z-index:9;
	zoom:1;
}
.media3 .vip_pic{
	display:block;
	overflow:hidden;
	width:90px;
}
.media3 .vip_pic .view{
	height:25px;
	line-height:25px;
	text-align:center;
	background:rgba(0,0,0,0.3);
	bottom:6px;
	left:0;
	display:none;
	width:100%;
	color:#fff;
	font-weight:700;
	cursor:pointer;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#4D000000', endColorstr='#4D000000');
}
.media3 .vip_pic:hover{
	position:relative;
}
.media3 .vip_pic:hover .view{
	display:block;
	position:absolute;
}
.media3 .summary{
	height:90px;
	overflow:hidden;
}
.media3 .summary .name{
	font-weight:700;
	text-decoration:underline;
	color:#FD7269;
}
.media4 .pic{
	margin-right:26px;
}
.media4 .txt .name{
	color:#FD7269;
	text-decoration:underline;
}
.media4 .txt .btn{
	margin-top:-3px;
	margin-left:5px;
	*margin-top:0;
}
.media4 .txt{
	padding-top:18px;
	overflow:hidden;
	zoom:1;
}
.media6 img{
	border:1px solid #B9B9B9;
}
/* media style end */

/* pic list style start */
.pic_list img{
	vertical-align:bottom;
}
.pic_list a:hover{
	color:#FF675E;
}
.pic_list .picture,
.pic_list .pic_txt{
	display:block;
	text-align:center;
}
.pic_list1 .picture img{
	padding:3px;
	border:1px solid #EFEFF1;
}
.pic_list3 .picture img{
	margin-bottom:10px;
	border:1px solid #D0D0D0;
}
.pic_list3 .name{
	font-family:"宋体";
	padding-left:5px;
	color:#686868;
	font-weight:700;
	display:inline;
}
.pic_list3 .info{
	color:#8C8C8C;
	padding-left:20px;
}
.pic_list4 .picture img{
	width:150px;
	padding:5px;
	border:1px solid #E9E9E9;
}
/*
 *.pic_list4{
 *    margin-left:-12px;
 *}
 */
.pic_list4 li{
	width:162px;
	padding:10px;
	background:#fff;
	box-shadow:1px 2px 2px #ccc;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=135, Strength=3);
}
.pic_list4 .bar{
	text-align:right;
	color:#BBBBBB;
	margin-top:12px;
	margin-bottom:9px;
}
.pic_list4 .bar a{
	float:left;
	color:#BBBBBB;
}
.pic_list4 .bar a:hover{
	color:#F64141;
}
.pic_list4 .bar span{
	display:inline-block;
	background-image:url(../img/icon.png);
	background-repeat:no-repeat;
	padding-left:14px;
	padding-top:0;
	margin-left:4px;
}
.pic_list4 .bar .like{
	background-position:0 -560px;
}
.pic_list4 .bar .reply{
	background-position:0 -591px;
}
.pic_list4 .comment{
	border-top:1px dashed #E2E2E2;
	padding-top:9px;
}
.pic_list4 .comment .pic{
	margin-right:10px;
}
.pic_list4 .comment .summary{
	overflow:visible;
	height:auto;
}
.pic_list5 li{
	/*
	 *zoom:1;
	 *position:relative;
	 *padding-left:2px;
	 */
}
.pic_list5{
	padding-left:17px;
}
.pic_list5 li{
	zoom:1;
	padding:0 2px;
	margin-left:-15px;
}
.pic_list5 .picture{
	border:1px solid #F0F0F0;
	padding:3px;
}
.pic_list5 .pic_txt{
	margin-top:10px;
	font-size:14px;
}
.pic_list5 .picture:hover{
	border-width:3px;
	border-color:#DCDCDC;
	margin:-2px;
	position:relative;
}
/* pic list style end */

/* text list style start */
.text_list a:hover{
	color:#FD7269;
}
.text_list1 li{
	height:23px;
	line-height:23px;
	overflow:hidden;
	margin-bottom:7px;
}
/* text list style end */

/* tags style start */
.tags{
	margin-left:-4px;
}
.tags li{
	height:22px;
	line-height:22px;
	background:#EFEFEF;
	color:#5D5D5D;
	padding:0 9px;
	margin-left:4px;
	margin-bottom:4px;
	white-space:nowrap;
	cursor:default;
}
/* tags style end */

/* comment style start */
.comment_box{
	text-align:right;
}
.comment_box textarea{
	display:block;
	border:1px solid #E0E0E0;
	height:56px;
	padding-top:4px;
	width:690px;
	padding-left:6px;
	color:#A1A1A1;
	overflow-y:scroll;
	margin-bottom:12px;
}
.comment_box input{
	border:1px solid #FF675E;
	width:66px;
	height:20px;
	line-height:20px;
	cursor:pointer;
}
.comment_box .comment{
	background:#FF675E;
	color:#fff;
}
.comment_box .reset{
	color:#FF675E;
	background:#fff;
}
/* comment style end */
.page{
	text-align:center;
}
.page a,
.page span,
.page input{
	vertical-align:middle;
}
.page .txt{
	width:32px;
	height:16px;
	border:1px solid #C2C2C2;
	margin:0 3px;
}
.page .go{
	height:18px;
	border:1px solid #C2C2C2;
	width:32px;
	font-size:12px;
	background:url(../img/btn_bg.png) repeat-x 0 -647px;
}
.page .pagenum,
.page .topage{
	margin-left:6px;
	margin-right:6px;
}
.page1 a{
	border:1px solid #C2C2C2;
	padding:3px 7px;
}
.page1 .arrow{
	border-left-color:#7F7F7F;
	border-width:6px;
	margin-right:-6px;
	_border-style:dashed dashed dashed solid;
}
.page2{
	padding-top:9px;
	height:29px;
	background:url(../img/bar.png) no-repeat right 0;
}
.page2 a{
	padding:0 10px;
}
/* page style end */

/* pg_box */
.pg_box .pic_list{
	margin-right:-14px;
}
.pg_box .pic_list .pic_txt{
	margin-top:5px;
}
.pg_box .pic_list li{
	margin-left:14px;
	margin-bottom:4px;
	position:relative;
}

/* tab group */
.tg1{
	margin-left:-16px;
	margin-bottom:0px;
}
.tg1 .tab_group{
	width:482px;
	margin-left:16px;
	margin-bottom:15px;
}
.tg1 .tab_group .tab3{
	margin-left:20px;
}
.tg1 .tab3 .more{
	background:none;
	padding:10px 0 0;
}
.tg1 .tab3 .more .btn{
	width:36px;
	height:11px;
	overflow:hidden;
	padding:0;
}
.tg1 .tab3 .more .btn{
	background:url(../img/icon.png) no-repeat 0 -385px;
}
.tab_group .hide{
	display:none;
}
.tg1 .bc{
	padding-top:1px;
	padding-bottom:1px;
	zoom:1;
}
.tg1 .tab_item{
	overflow:hidden;
	position:relative;
	margin-top:-12px;
	zoom:1;
}
.tg1 .media2_item{
	padding:19px 0;
	border-top:1px dashed #CBCBCB;
	margin-top:-1px;
}
.tg1 .media3_item{
	padding-top:28px;
	width:210px;
}
.tg1 .pic3_item{
	margin-top:14px;
}
.tg1 .justify_list{
	margin-bottom:16px;
}
/* slider */
.slider img{
	vertical-align:bottom;
}
.slider{
	width:742px;
	height:294px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
.slider .toggle{
	position:absolute;
	right:15px;
	bottom:15px;
}
.slider .toggle i{
	width:15px;
	height:15px;
	display:inline-block;
	overflow:hidden;
	font-size:0;
	cursor:pointer;
	background:url(../img/icon.png) no-repeat -25px -349px;
}
.slider .toggle .current{
	background-position:4px -349px;
}
.newest{
	width:187px;
	margin:0 auto;
	border-style:none solid solid;
	border-width:0 1px 1px;
	border-color:#E3E3E3;
}
.newest .big{
	padding:4px;
	border:1px solid #ECECEC;
	margin:0 auto;
	width:167px;
	height:159px;
	overflow:hidden;
}
.newest .big li{
	margin-bottom:4px;
}
.newest .big p{
	font-size:14px;
}
.newest .big .price{
	display:inline-block;
	width:89px;
	text-align:right;
}
.newest .big a{
	color:#EB5C53;
}
.newest .thum{
	margin-left:5px;
	margin-top:10px;
	margin-bottom:8px;
}
.newest .thum li{
	margin-left:5px;
}
.newest .thum ul{
	margin-left:-5px;
}
.newest .thum a,
.newest .thum span{
	display:block;
	text-align:center;
	width:54px;
	cursor:pointer;
}
.newest .thum a{
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	position:relative;
	zoom:1;
}
.newest .thum a:hover,
.newest .thum .current{
	background:#BCBCBC;
	color:#fff;
}
.newest .thum a:hover .arrow,
.newest .thum .current .arrow{
	left:21px;
}
.newest .arrow{
	border-bottom-color:#BCBCBC;
	border-width:6px;
	margin-right:-6px;
	position:absolute;
	left:-9999em;
	top:-12px;
	_border-style:dashed dashed solid;
}

/* all models */
#all_models{
	margin-left:-12px;
}
#all_models .admire_pic_list{
	margin-left:0;
}
#all_models .admire_pic_list li{
	margin-left:12px;
}

/* scrollbox */
.scroll,
.scroll_box,
.scroll .cont{
	overflow:hidden;
	position:relative;
	zoom:1;
}
.scroll .cont{
	margin-right:-9999%;
	width:auto;
}
.scroll .tbtn{
	position:absolute;
	display:block;
	text-indent:-999em;
	overflow:hidden;
	cursor:pointer;
	top:50%;
}
.scroll .prev{
	left:0;
}
.scroll .next{
	right:0;
}
.scroll1 .tab_item,
.scroll2 .tab_item,
.scroll3 .tab_item,
.scroll5 .tab_item{
	float:left;
}
.scroll1 .tab_item{
	margin-left:-15px;
	margin-right:1px;
}
.scroll1 .media{
	margin-left:15px;
}
.scroll2 .tab_item{
	margin-left:-12px;
	margin-right:4px;
}
.scroll2 .media{
	margin-left:12px;
}
.scroll3 .scroll_box{
	margin:0 59px;
}
.scroll3 .tab_item{
	margin-left:-6px;
	margin-right:2px;
}
.scroll3 li{
	margin-left:6px;
}
.scroll4 .scroll_box{
	margin:0 51px;
}
.scroll4 .media{
	margin-left:12px;
}
.scroll4 .tab_item{
	margin-left:-12px;
}
.scroll3 .tbtn,
.scroll4 .tbtn,
.scroll6 .tbtn,
.scroll7 .tbtn,
.scroll8 .tbtn{
	background-image:url(../img/icon.png);
	background-repeat:no-repeat;
}
.scroll3 .next,
.scroll4 .next,
.scroll6 .next,
.scroll7 .next,
.scroll8 .next{
	filter:FlipH;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-khtml-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.scroll3 .tbtn{
	width:39px;
	height:82px;
	margin-top:-72px;
	background-position:0 -752px;
}
.scroll4 .tbtn{
	 width:28px;
	 height:27px;
	 margin-top:-40px;
	 background-position:0 -413px;
}
.scroll5{
	margin-top:32px;
	margin-bottom:18px;
}
.scroll5 .tab_item{
	width:942px;
}
.scroll5 .tab_item li{
	margin-bottom:16px;
}
.scroll6,
.scroll8{
	overflow:visible;
}
.scroll6 .tbtn{
	width:25px;
	height:25px;
	background-position:right -414px;
}
.scroll6 .scroll_box{
	margin:0 13px;
}
.scroll6 .pic_list5{
	margin:10px 0;
}
.scroll6 .tbtn{
	margin-top:-15px;
}
.scroll6 .prev{
	left:-14px;
}
.scroll6 .next{
	right:-14px;
}
.scroll7{
	width:402px;
}
.scroll7 .scroll_box{
	margin:0 37px;
}
.scroll7 .pic_list2{
	margin-left:-7px;
}
.scroll7 .pic_list2 li{
	margin-left:7px;
}
.scroll7 .pic_list2 img{
	border:3px solid #ddd;
}
.scroll7 .tbtn{
	width:20px;
	height:25px;
	top:18px;
	background-position:right -783px;
}
.future_star_dl .scroll{
	position:absolute;
	right:0;
	bottom:-80px;
}
.scroll8 .scroll_box{
	margin:16px 32px;
}
.scroll8 .tbtn{
	width:35px;
	height:30px;
	background-position:0 -1120px;
	margin-top:-15px;
}
.scroll8 .prev{
	left:-14px;
}
.scroll8 .next{
	right:-14px;
}






.they_say{
	padding-left:142px;
	padding-right:142px;
}
.divi_rank_list h3{
	font-size:14px;
}


/*p6 2012-06-20 */
.filter{
	/*background:url(../img/body_bg.png) repeat 0 0;*/
	background:#E3E3E3;
	padding:10px 0;
	margin:0 -8px;
	border-radius:10px;
}
.filter .options_item{
	padding:0 10px;
}
.filter .options_item li{
	border-radius:10px;
	background:#fff;
	padding:10px 10px 20px 12px;
	min-height:280px;
	_height:280px;
}
.filter h4{
	font-size:12px;
	text-align:center;
	margin-bottom:10px;
}
.filter p{
	margin-bottom:3px;
}
.filter input{
	*margin:0 -3px;
}
.filter input,
.filter span{
	vertical-align:middle;
	overflow:visible;
}
.filter span{
	margin-left:8px;
}
.filter_btn{
	text-align:center;
	margin-top:23px;
	margin-bottom:10px;
}

.mod_list1{
	overflow:hidden;
}
.mod_list1 li{
	margin-bottom:10px;
	margin-right:2px;
}

/* selector */
.selector{
	position:relative;
	z-index:999;
}
.selector .sitem{
	position:relative;
	line-height:22px;
	border-style:solid solid none;
	border-width:1px 1px 0;
	border-color:#C5C5C5;
	cursor:pointer;
	margin-right:4px;
	zoom:1;
}
.selector .arrow{
	position:absolute;
	border-style:solid dashed dashed;
	border-color:#000 #fff #fff;
	border-width:5px;
	top:9px;
	right:3px;
}
.selector .cur{
	padding:0 12px;
	border-right:1px solid #D7D7D7;
	display:block;
	margin-right:15px;
	background:#fff;
}
.selector .slist{
	position:relative;
	border:1px solid #C5C5C5;
	background:#fff;
	z-index:999;
	margin:0 -1px;
	top:-1px;
}
.selector .slist li{
	padding-left:12px;
	line-height:25px;
	white-space:nowrap;
	padding-right:12px;
}
.selector .close{
	height:22px;
	overflow:hidden;
}
.selector .fixed_width{
	line-height:21px;
}
.selector .fixed_width .slist{
	position:absolute;
	top:21px;
}
.selector1 .txt{
	height:21px;
	border:1px solid #C5C5C5;
	margin-right:4px;
	overflow:hidden;
}
.selector1 .txt input{
	background:#fff;
	height:21px;
	line-height:21px;
	border:none;
}
.bar1{
	height:30px;
}
.selector1{
	position:absolute;
	top:15px;
}
.selector1 .txt .sbtn{
	background:url(../img/bar.png) no-repeat 0 -13px;
	padding:0 10px;
	border-left:1px solid #C5C5C5;
	overflow:visible;
	height:21px;
	line-height:21px;
}
.selector1 .sort_type span{
	background:url(../img/icon.png)  no-repeat right -1174px;
	padding-right:12px;
}
.selector1 .fixed_width .slist{
	width:480px;
}
.selector1 .sublist{
	background:#e0e0e0;
	padding:3px 0;
	display:none;
}
.selector1 .province{
	position:absolute;
	width:72px;
	left:0;
	top:0;
	text-align:right;
}
.selector1 .fixed_width .slist li{
	white-space:normal;
	padding-left:76px;
	position:relative;
	padding-bottom:12px;
	zoom:1;
}
.selector1 .citylist{
	padding-top:12px;
	cursor:default;
	/*display:none;*/
}
.selector1 .citylist .checked{
	color:#F64141;
}
.selector1 .city,
.selector1 .county{
	padding:0 5px;
	white-space:nowrap;
	display:inline-block;
	cursor:pointer;
}

/*action*/
.action em{
	background-image:url(../img/icon.png);
	background-repeat:no-repeat;
	margin:0 4px;
	cursor:pointer;
	padding-left:14px;
}

/*p14*/
.model_active_pic .pic{
	display:block;
	position:relative;
	overflow:hidden;
	zoom:1;
}
.model_active_pic .pic img{
	display:block;
}
.model_active_pic .action{
	position:absolute;
	top:14px;
	right:16px;
	display:none;
}
.model_active_pic .action .putop,
.brand_pic_list .action .putop{
	background-position:0 -1265px;
}
.model_active_pic .action .del,
.brand_pic_list .action .del{
	background-position:2px -1296px;
}
.model_active_pic .pic:hover{
	color:#fff;
	background:#000;
	margin-bottom:2px;
}
.model_active_pic .pic:hover img{
	opacity:0.4;
	filter:alpha(opacity=40);
	margin-bottom:-2px;
}
.model_active_pic .pic:hover .action{
	display:block;
}
.agency_list .item{
	position:relative;
	zoom:1;
}
.agency_list .item .action{
	position:absolute;
	right:13px;
	bottom:10px;
	display:none;
}
.agency_list .action .putop{
	background-position:0 -1330px;
}
.agency_list .action .del{
	background-position:0 -1364px;
}
.agency_list .item:hover .media7,
.agency_list .hover .media7{
	opacity:0.8;
	filter:alpha(opacity=80);
}
.agency_list .item:hover .action,
.agency_list .hover .action{
	display:block;
}
.selector_bar{
	position:relative;
	z-index:999;
	padding-bottom:60px;
	margin-left:32px;
	zoom:1;
}
.brand_pic_list .picture{
	position:relative;
	overflow:hidden;
	background-color:transparent;
	zoom:1;
}
.brand_pic_list .picture .action{
	position:absolute;
	width:100%;
	height:23px;
	line-height:23px;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#80000000', endColorstr='#80000000');
	background-color:rgba(0,0,0,0.5);
	left:0;
	bottom:-100px;
	text-align:right;
	color:#fff;
}
.brand_pic_list .picture:hover{
	background:#fff;
	color:#fff;
}
.brand_pic_list .picture:hover .action{
	bottom:10px;
}
.vip_concern_me .pic_list2 li{
	margin-bottom:5px;
}
.top3_list .pic,
.vote_list_spe .pic{
	position:relative;
}
.vote_list_spe .pic{
	width:215px;
	display:block;
}
.top3_list .affix,
.vote_list_spe .affix{
	position:absolute;
	width:100%;
	left:0;
	bottom:0;
	height:30px;
	line-height:30px;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000', endColorstr='#99000000');
	background-color:rgba(0,0,0,0.6);
	color:#fff;
}
.top3_list .affix strong,
.vote_list_spe .affix strong{
	font-size:14px;
	margin-left:10px;
}
.top3_list .affix em,
.vote_list_spe .affix em{
	float:right;
	margin-right:10px;
	font-family:"宋体";
	cursor:pointer;
}

/*p26*/
.game_title .tukutit{
	text-align:left;
	padding-left:24px;
}
.tukutit .red{
	color:#F64141;
}
.lately_hot,
.lately_hot .btn{
	border-width:1px;
	border-color:#D8D7D3;
}
.lately_hot{
	border-style:solid none;
	position:absolute;
	font-size:0;
	letter-spacing:-0.5em;
	right:24px;
	top:18px;
}
.lately_hot .btn{
	border-style:none solid;
	font-size:14px;
	letter-spacing:normal;
	padding:0 18px;
	margin-left:-1px;
	background-color:#fff;
	margin-right:-1px;
	height:29px;
	line-height:29px;
	_left:-1px;
}
.lately_hot .cur{
	background:url(../img/btn_bg.png) no-repeat right -1003px;
}

/* form */
.form input,
.form .txt,
.form .tips,
.form .btn,
.form select,
.form img,
.form .ftext{
	vertical-align:middle;
}
.form .item{
	padding-left:114px;
	position:relative;
	margin-bottom:6px;
	zoom:1;
}
.form .field{
	position:absolute;
	font-size:18px;
	font-weight:700;
	top:3px;
	left:0;
	text-align:right;
	width:100px;
}
.form .txt,
.form .txt input{
	display:inline-block;
	background-image:url(../img/btn_bg.png);
	background-repeat:no-repeat;
}
.form .txt{
	padding-left:6px;
	background-position:0 -1195px;
	overflow:hidden;
}
.form .txt input{
	border:none 0;
	padding-right:6px;
	background-position:right -1195px;
	height:32px;
	line-height:32px;
	font-size:14px;
	_margin-top:-1px;
}
.form .ftext{
	font-size:14px;
	_position:relative;
	_top:2px;
}
.login_box{
	width:338px;
	height:400px;
	padding-top:70px;
	padding-right:46px;
	padding-left:36px;
	background:url(../img/pbg.png) no-repeat 0 -630px #000;
}
.login_box .form{
	margin-left:-36px;
}
.login_box .tips_info{
	border:1px solid #E63479;
	padding-left:34px;
	height:31px;
	line-height:31px;
	font-size:14px;
	background:url(../img/icon.png) no-repeat 4px -1070px;
	margin-bottom:12px;
}
.login_box .change_valid_code{
	font-size:14px;
	color:#2A4F98;
	display:inline-block;
	padding:12px 0 4px;
}
.login_box .btn{
	margin-top:12px;
	margin-right:48px;
}
.partners_login{
	margin-top:16px;
	border-top:1px solid #C6C6C6;
}
.login_hot{
	margin:30px -20px 40px;
	position:relative;
	zoom:1;
}
.online{
	width:240px;
	padding-right:10px;
}
.login_hot .lhc{
	background:url(../img/rxg_1.png) repeat-x 0 bottom #fff;
	padding:18px 10px 25px;
}
.login_hot .lhc{
	border:1px solid #BEBDBE;
}
.newimg{
	width:480px;
}
.saying{
	width:260px;
}
.lbt{
	font-size:18px;
	font-weight:700;
	color:#676667;
	height:49px;
	background-image:url(../img/sd.png);
	background-repeat:no-repeat;
	line-height:42px;
	padding-left:10px;
}
.login_hot .lht{
	height:53px;
	line-height:53px;
	font-size:18px;
	color:#000;
	border-style:solid solid none;
	border-width:1px;
	border-color:#D3D4CC;
	background:url(../img/rxg_3.png) repeat-x 0 0;
	padding-left:16px;
}
.login_hot .lht span{
	color:#1B7EB5;
}
.online .lbt{
	background-position:0 -49px;
}
.saying .lbt{
	background-position:0 -98px;
}
.online .lbc{
	padding:15px 25px 15px 15px;
}
.online .pic_list li{
	margin-bottom:5px;
}
.online .pic_list a{
	color:#458BD8;
}
.newimg .lbc{
	padding:10px 10px 0;
}
.newimg .pic_list img{
	padding:3px;
	border:1px solid #F1F1F3;
}
.saying .lbc{
	padding-top:10px;
}
.saylist li{
	height:23px;
	line-height:23px;
	overflow:hidden;
	margin-bottom:4px;
	padding-left:30px;
	background:url(../img/icon.png) no-repeat 20px -1395px;
}
.saying li span{
	color:#FF7068;
	margin-right:5px;
}
.dr_nav{
	text-align:center;
	background:url(../img/bar.png) no-repeat 0 -38px;
	height:58px;
	/*line-height:58px;*/
}
.dr_nav ul{
	overflow:hidden;
	position:relative;
	zoom:1;
}
.dr_nav li{
	margin-left:-1px;
}
.dr_nav li a{
	font-size:18px;
	padding:0 24px;
	background:url(../img/btn_bg.png) no-repeat 0 -1351px;
	display:inline-block;
	height:51px;
	line-height:58px;
}
.dr_nav li a.current{
	color:#FF2955;
}
.hot_mod_list{
	border:5px solid #FF95A8;
	padding:32px 25px 15px;
	position:relative;
	margin:30px 0;
	zoom:1;
}
.hot_mod_list .type{
	position:absolute;
	font-size:18px;
	color:#fff;
	width:100px;
	height:31px;
	line-height:33px;
	background:url(../img/btn_bg.png) no-repeat -300px -698px;
	text-align:center;
	top:-20px;
	left:20px;
}
.hot_mod_list ul{
	margin-top:-20px;
}
.hot_mod_list li{
	margin-top:20px;
	margin-bottom:10px;
}
.quick_entry{
	position:absolute;
	right:0;
	top:0;
}
.dtwy{
	font-size:14px;
	font-weight:700;
	color:#7B7878;
	margin-bottom:5px;
}
.quick_entry a{
	width:113px;
	height:32px;
	display:inline-block;
	background-image:url(../img/btn_bg.png);
	background-repeat:no-repeat;
	font-size:0;
}
.quick_entry .to_cash{
	background-position:-287px -735px;
}
.quick_entry .profile{
	background-position:-287px -769px;
}
.model_item .jg_name strong,
.model_item .jg_name{
	color:#B90404;
	vertical-align:middle;
}
/*p24*/
.uside{
	width:210px;
	border-right:1px solid #DCD4DC;
}
.uside_nav{
	margin-left:40px;
}
.uside_nav dt{
	font-size:24px;
	color:#0D6B01;
	margin-bottom:5px;
	margin-top:16px;
}
.uside_nav dd{
	margin-left:1em;
	font-size:18px;
}
.umain{
	width:744px;
	margin-left:14px;
	margin-right:12px;
	padding-top:18px;
}
.ubox{
	margin-bottom:12px;
	position:relative;
	zoom:1;
}
.ubox .ubt{
	border-bottom:1px solid #FCC3E1;
	padding-bottom:3px;
}
.ubox .ubt span{
	font-size:20px;
	font-weight:700;
}
.ubox .extra{
	top:-1px;
}
.ubox .tab5{
	zoom:-1;
}
