/*resect style start*/
.mb15{
	margin-bottom:15px;
}
.f14{
	font-size:14px;
}
.light{
	color:#a3a3a3;
}
.vip_num{
	color:#ef3132;
}
.all_color{
	color:#ff746b;
}
.box .review_tit{
	font-size:18px;
	color:#505050;
	padding-left:20px;
}
.vip_apply_form input,
.they_said_form input{
	border:1px solid #dfdfdf;
}
.lt,
.gt{
	font-family:"宋体";
	font-size:16px;
	font-weight:700;
}
/*resect style end*/
/*base style start*/
.pbg{
	background-image:url(../img/pbg.png);
	background-repeat:no-repeat;
	width:967px;
	height:208px;
	margin-left:7px;
}
/*base style end*/
/*btn style start*/
.btn em,
.view_more em{
	font-family:"宋体";
}
.btn1,
.btn2{
	background:#FF7168;
}
.btn1 span,
.btn2 span,
.btn3 span,
.btn4 span,
.btn5 span,
.btn6 span,
.btn8 span,
.btn9 span,
.btn10 span,
.btn12 span,
.btn13 span,
.btn17 span,
.btn18 span,
.btn20 span,
.btn22 span,
.btn23 span{
	color:#fff;
}
.btn1{
	height:25px;
	line-height:25px;
	padding:0 10px;
	border-radius:5px;
}
.btn2{
	height:17px;
	line-height:17px;
	border-radius:10px;
	padding:0 8px 0 9px;
}
.btn3,
.btn4{
	height:16px;
	line-height:16px;
	border-radius:2px;
	padding:0 4px;
}
.btn3{
	background-color:#fa6446;
}
.btn4{
	background-color:#bcbcbc;
}
.btn5,
.btn5 span,
.btn6,
.btn6 span,
.btn7,
.btn8,
.btn8 span,
.btn9,
.btn9 span,
.btn13,
.btn13 span,
.btn14,
.btn15,
.btn16,
.btn17,
.btn17 span,
.btn18,
.btn18 span,
.btn19,
.btn19 span,
.btn21,
.btn21 span,
.btn23,
.btn23 span,
.btn24,
.btn25,
.btn25 span,
.btn26,
.btn27,
.btn28,
.btn28 span{
	background-image:url(../img/btn_bg.png);
	background-repeat:no-repeat;
	background-color:#fff;
}
.btn5{
	height:28px;
	line-height:28px;
	background-position:left -94px;
	padding-left:15px;
	font-size:14px;
	font-weight:700;
}
.btn5 span{
	background-position:right -94px;
	padding-right:15px;
}
.btn6{
	background-position:left -203px;
	height:22px;
	line-height:22px;
	padding-left:17px;
}
.btn6 span{
	background-position:right -203px;
	padding-right:22px;
}
.btn7,
.btn15,
.btn16{
	font-size:0;
}
.btn7{
	background-position:0 -230px;
	height:54px;
	width:181px;
}
.btn8,
.btn9{
	height:29px;
	line-height:29px;
}
.btn8,
.btn9{
	font-size:14px;
	padding:0 7px 0 11px;
	position:relative;
	color:#fff;
}
.btn8{
	background-position:left -289px;
}
.btn9{
	background-position:left -323px;
}
.btn10{
	background-color:#fd7b03;
	border-radius:4px;
	padding-left:15px;
	padding-right:15px;
	height:25px;
	line-height:25px;
	font-size:12px;
	letter-spacing:normal;
}
.btn .ic{
	padding-left:17px;
}
.btn .ic1{
	background-position:0 -493px;
}
.btn .ic2{
	background-position:0 -531px;
}
.btn12{
	background-color:#ff7068;
	border-radius:4px;
	height:13px;
	line-height:12px;
	padding:0 5px;
	font-size:10px;
}
.btn13{
	background-position:left -431px;
	padding-left:22px;
	height:18px;
}
.btn13 span{
	background-position:right -431px;
	padding-right:7px;
	background-color:#fff;
}
.btn14{
	background-position:0 -387px;
	padding-left:13px;
	width:82px;
	height:21px;
	line-height:21px;
	color:#6f6f6f;
}
.btn15,
.btn16{
	width:207px;
	height:57px;
}
.btn15{
	background-position:-191px -228px;
}
.btn16{
	background-position:0 -452px;
}
.btn17{
	background-position:left -603px;
	padding-left:27px;
	background-color:transparent;
}
.btn17 span{
	background-position:right -603px;
	padding-right:40px;
	font-size:16px;
	height:41px;
	padding-top:2px;
	background-color:transparent;
}
.btn18{
	background-position:left -512px;
	padding-left:6px;
	height:16px;
}
.btn18 span{
	background-position:right -512px;
	padding-right:6px;
}
.btn19{
	background-position:left -531px;
	padding-left:22px;
	height:43px;
	line-height:43px;
}
.btn19 span{
	background-position:right -531px;
	padding-right:22px;
	font-weight:700;
	font-size:16px;
	color:#191919;
}
.btn20{
	background-color:#2c2c2c;
	border-radius:3px;
	height:23px;
	line-height:23px;
	padding-left:8px;
	padding-right:8px;
}
.btn21{
	background-position:left -668px;
	padding-left:14px;
	height:27px;
	line-height:27px;
}
.btn21 span{
	background-position:right -668px;
	padding-right:14px;
	font-weight:700;
	font-size:16px;
	color:#3a3a3a;
}
.btn22{
	background-color:#ff74b8;
	border-radius:7px;
	width:25px;
	padding-left:7px;
	font-size:18px;
	line-height:1;
}
.btn22 span{
	padding:17px 7px 15px 0;	
	overflow:hidden;
}
.btn25{
	background-position:left -969px;
	padding-left:20px;
	height:31px;
	line-height:31px;
}
.btn25 span{
	background-position:right -969px;
	padding-right:20px;
}
.btn26,
.btn27{
	width:217px;
	height:54px;
	font-size:0;
}
.btn26{
	background-position:0 -854px;
}
.btn27{
	background-position:0 -911px;
}
.btn28{
	background-position:left -1063px;
	padding-left:25px;
	height:29px;
	line-height:29px;
}
.btn28 span{
	background-position:right -1063px;
	padding-right:25px;
	color:#1f1c1d;
}
/*btn style end*/
/*vip_statistics style start*/
.vip_statistics_list{
	overflow:hidden;
	zoom:1;
	background-color:#fff;
	border:1px solid #d7d7d7;
}
.vip_statistics_list li{
	padding:0 37px 0 29px;
	height:38px;
	line-height:38px;
	border-left:1px solid #e5e5e5;
	margin-left:-1px;
}
.vip_icon1,
.vip_icon2,
.vip_icon3,
.report_icon,
.m_icon,
.attention_icon,
.collect_icon,
.like_icon,
.link_me,
.writer_icon,
.visits_icon,
.enter_icon,
.invite_icon,
.brand_discuss_icon,
.brand_love_icon{
	background-image:url(../img/icon.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
}
.vip_icon1,
.vip_icon2,
.vip_icon3{
	padding-left:37px;
}
.vip_icon1{
	background-position:0 -180px;
}
.vip_icon2{
	background-position:0 -225px;
}
.vip_icon3{
	background-position:0 -266px;
}
.vip_statistics_list .sitenote{
	overflow:hidden;
	position:relative;
	padding-left:90px;
}
.vip_statistics_list .sitenote strong{
	position:absolute;
	left:29px;
	top:0;
}
.vip_statistics_list .sitenote a{
	display:block;
	/*height:38px;*/
	line-height:38px;
}
/*vip_statistics style end*/
/*model_nav style start*/
.model_nav{
	background-image:url(../img/bar.png);
	background-repeat:no-repeat;
	background-position:0 -38px;
	height:58px;
	text-align:center;
}
.model_nav li{
	text-align:center;
	height:30px;
	width:70px;
	padding-top:15px;
	padding-right:21px;
}
.model_nav a:hover,
.model_nav a.current,
.model_concern,
.game_title h2,
.top_bg{
	background-image:url(../img/bg.png);
	background-repeat:no-repeat;
}
.model_nav a{
	display:inline-block;
	color:#2b2b2b;
	font-size:14px;
	font-weight:700;
	line-height:22px;
}
.model_nav a:hover,
.model_nav a.current{
	background-position:0 -82px;
	color:#fff;
	width:100%;
	height:100%;
}
/*model_nav style end*/
/*media5 style start*/
.media5 .pic{
	margin-right:17px;
}
.media5 .txt{
	zoom:1;
}
.model_item h2{
	font-size:14px;
	color:#363636;
	vertical-align:bottom;
	margin-right:13px;
}
.model_item strong{
	font-size:24px;
	color:#232323;
	font-weight:400;
}
.model_item p.hor_item{
	margin-left:-6px;
	vertical-align:bottom;
}
.model_item dd{
	margin-top:8px;
}
.vip_grade{
	background-image:url(../img/vip_grade.png);
	background-repeat:no-repeat;
	display:inline-block;
	margin-left:6px;
	height:26px;
	width:79px;
	font-size:0;
	overflow:hidden;
}
.vip_grade1{
	background-position:0 0;
}
.vip_grade2{
	background-position:-85px 0;
}
.vip_grade3{
	background-position:-171px 0;
}
.vip_grade4{
	background-position:-258px 0;
}
.vip_grade5{
	background-position:-345px 0;
}
.vip_grade6{
	background-position:-431px 0;
}
.vip_grade7{
	background-position:-518px 0;
}
.vip_grade8{
	background-position:-607px 0;
}
.vip_grade9{
	background-position:-692px 0;
}
/*media5 style end*/
.vip_apply_form input{
	width:222px;
	height:21px;
	line-height:21px;
	padding-left:8px;
	background-color:#f4f4f4;
	color:#767676;
	margin-right:5px;
}
.btn23{
	background-position:left -807px;
	padding-left:9px;
	height:23px;
	line-height:23px;
	vertical-align:bottom;
	font-weight:700;
}
.btn23 span{
	background-position:right -807px;
	padding-right:9px;
}
.reserve_model a{
	color:#ff675e;
	margin-right:5px;
}
a.moder{
	background-color:#ff675e;
	padding:0 8px;
	color:#fff;
}
.report_icon{
	background-position:0 -620px;
	padding-left:11px;
}
.m_icon{
	background-position:0 -645px;
	padding-left:17px;
}
.attention_icon{
	background-position:0 -669px;
	padding-left:16px;
}
.collect_icon{
	background-position:0 -688px;
	padding-left:15px;
}
.like_icon{
	background-position:0 -712px;
	padding-left:14px;
}
.link_me{
	background-position:0 -734px;
	font-size:0;
	width:64px;
	height:16px;
	vertical-align:top;
	overflow:hidden;
}
.model_concern{
	position:absolute;
	background-position:0 -446px;
	right:-36px;
	top:14px;
	width:133px;
	height:104px;
	padding-top:9px;
}
.model_concern li{
	padding-left:93px;
	color:#fff;
}
.model_concern span{
	margin-left:-93px;
	margin-right:8px;
	width:82px;
	display:inline-block;
	text-align:right;
}
.box .vip_review_tit,
.attention_center{
	padding-bottom:10px;
}
.model_skill_list{
	padding:47px 0 41px 58px;
}
.vip_review_ct{
	padding:8px 0 7px 13px;
}
.vip_ct{
	line-height:0;
}
.vip_ct textarea{
	border:1px solid #cbcbcb;
	overflow-y:scroll;
	height:44px;
	width:176px;
}
.vip_tags_box{
	padding-top:13px;
}
.vip_concern_me{
	padding:8px 0 1px 21px;
}
.vip_concern_me .pic_list{
	margin-right:23px;
	width:164px;
}
.vip_concern_me .pic_txt{
	margin-top:4px;
	margin-bottom:5px;
}
.they_said_ct{
	padding-top:15px;
}
.said_list_box{
	padding:9px 23px 0 5px;
}
.said_list{
	overflow:hidden;
	zoom:1;
}
.said_list_box li{
	border-top:1px dashed #dedede;
	margin-top:-1px;
	padding:14px 0 18px 0;
}
.they_said_form{
	text-align:center;
	padding-bottom:57px;
}
.they_said_form input{
	width:502px;
	height:25px;
	line-height:25px;
	margin-right:4px;
}
.they_said_form .btn5{
	vertical-align:bottom;
}
.view_more{
	background:url(../img/view_more_bg.png) no-repeat center top;
	text-align:center;
	padding-bottom:20px;
	zoom:1;
}
.view_more p{
	padding-top:15px;
}
/*p2 style end*/
/*p3 style start*/
.base_data_box{
	padding:20px 0 20px 153px;
}
.base_data dt,
.service_explain h2{
	font-size:24px;
	color:#1a1a1a;
}
.base_data dt{
	padding:20px 24px 0 0;
}
.base_data dd{
	background:url(../img/y1.png) no-repeat left 0;
	padding-top:20px;
	padding-bottom:20px;
}
.base_data dd p{
	padding-left:120px;
	padding-bottom:7px;
}
.base_data .light{
	color:#8c8c8c;
	margin-left:-126px;
	display:inline-block;
	width:100px;
	text-align:right;
	margin-right:27px;
}
.service_explain{
	padding:32px 87px 52px 54px;
}
.service_explain h2{
	font-weight:normal;
}
.service_explain .text{
	padding-left:50px;
	text-align:justify;
	line-height:2.5;
}
/*p3 style end*/
/*p4 style start*/
.content{
	padding:32px 3px 0 4px;
	zoom:1;
}
.content .media{
	margin-right:-36px;
	margin-bottom:-17px;
}
.content .media li{
	padding-right:36px;
}
.content .media .txt{
	padding:15px 0 17px 0;
}
.content .media img{
	border:1px solid #b9b9b9;
	vertical-align:middle;
}
.content_me{
	padding-bottom:53px;
}
.pr{
	position:relative;
}
.extra_my_contented{
	position:absolute;
	bottom:11px;
	right:0;
}
/*p4 style end*/
/*p5 style start*/
.page1_form{
	padding-top:7px;
	padding-bottom:23px;
	zoom:1;
}
.page1 a:hover,
.page1 .current{
	background-color:#ff7366;
	color:#FFF;
}
/*p5 style end*/
/*p6 style start*/
.box .bt4{
	background-image:url(../img/tit_bg4.png);
}
.new_review_list .name,
.vip_mov_list .name,
.new_moving_list .name{
	color:#ff7068;
}
.attention_center h3,
.brand_tit{
	margin-left:-20px;
	text-align:center;
}
.bg_color a:hover{
	position:relative;
}
.bg_color a:hover span{
	background-color:#ff7068;
	color:#fff;
}
.divi_rank{
	zoom:1;
}
.divi_rank_list{
	margin-bottom:-13px;
	zoom:1;
}
.divi_rank_list li{
	padding-bottom:19px;
}
.divi_rank_list .pic{
	margin-right:14px;
	zoom:1;
}
.divi_rank_list .tit a{
	color:#ff746c;
}
.vip_mov_list{
	padding-right:18px;
	overflow:hidden;
	zoom:1;
}
.vip_mov_list li{
	border-top:1px dashed #ebebeb;
	padding-top:5px;
	margin-top:-1px;
	padding-bottom:8px;
}
.vip_mov_list .pic{
	margin-right:13px;
	zoom:1;
	margin-top:4px;
}
.vip_mov_list .summary{
	line-height:1.8;
	overflow:hidden;
	zoom:1;
}
.new_review_list{
	margin-right:-57px;
	overflow:hidden;
	zoom:1;
}
.new_review_list li{
	margin-right:57px;
	background-image:url(../img/rx.png);
	background-repeat:repeat-x;
	background-position:0 -334px;
	margin-top:-1px;
	padding:11px 0;
	width:328px;
}
.new_review_list .pic{
	margin-right:17px;
	zoom:1;
}

/*p6 style end*/
/*p7 style start*/
.model_pic_list{
	width:661px;
	height:415px;
	overflow:hidden;
}
.new_moving_box li{
	position:relative;
}
.new_moving_box{
	padding-top:8px;
}
.new_moving_list li{
	border-bottom:1px solid #e9e9e9;
	padding:26px 0 18px 0;
	position:relative;
	zoom:1;
}
.model_pic_list img{
	vertical-align:middle;
}
.new_moving_box .pic{
	margin-right:20px;
	margin-top:3px;
}
.new_moving_box .txt{
	overflow:hidden;
	zoom:1;
}
.new_moving_box .f14{
	color:#434343;
}
.new_moving_box .extra_media{
	position:absolute;
	top:15px;
	right:0;
}
.new_moving_box .extra_media .light{
	padding-left:5px;
	vertical-align:bottom;
}
.personal_pic_list{
	padding-top:10px;
	margin-right:-18px;
}
.personal_pic_list li{
	padding-right:18px;
	border:0 none;
}
.new_moving_list p.light{
	padding-top:12px;
	text-align:right;
}
.new_moving_list .update_time{
	float:left;
}
.new_moving_list .update_tips{
	margin-right:-9px;
}
.new_moving_list .update_tips a{
	padding-right:9px;
	color:#939393;
}
.page2_form{
	padding-top:32px;
	padding-bottom:19px;
}
.char_sign .name{
	padding-right:6px;
}
.char_sign li{
	line-height:1.8;
}
.char_sign li a{
	color:#808080;
}
.char_sign li a:hover{
	color:#FF7068;
}
/*p7 style end*/
/*p9 style start*/
.model_active_box,
.depress_tit{
	padding-left:65px;
	zoom:1;
}
.model_active_list .bt_tips{
	color:#606060;
}
.bt_tips span{
	margin-right:15px;
}
.writer_icon{
	background-position:0 -860px;
	padding-left:21px;
}
.visits_icon{
	background-position:0 -897px;
	padding-left:19px;
}
.enter_icon{
	background-position:0 -931px;
	padding-left:18px;
}
.model_active_list li{
	background:url(../img/nr.png) no-repeat left bottom;
	margin-top:-1px;
	padding-top:19px;
	padding-bottom:20px;
}
.model_active_ct{
	position:relative;
	padding-bottom:10px;
}
.model_active_pic{
	background:#fafafa;
	float:left;
	padding:8px;
	width:656px;
	margin-top:8px;
	border:1px solid #f4f4f4;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=135, Strength=3);
	box-shadow:2px 2px 3px #ccc;
	zoom:1;
}
.model_active_text{
	line-height:2.0;
	padding-right:25px;
}
.model_active_text p{
	text-align:justify;
	position:relative;
}
.model_active_text p em{
	display:inline-block;
	width:90px;
}
.model_active_text .btn{
	position:absolute;
	right:-19px;
	bottom:0;
}
.active_btn_pa{
	margin-top:22px;
	float:left;
	margin-bottom:-100%;
	zoom:1;
}
.active_btn_pa .btn{
	display:block;
	margin-bottom:4px;
	position:relative;
	float:right;
	clear:both;
	left:-100%;
}
.model_active_inner{
	background-color:#fff;
	padding:18px;
	line-height:2.0;
}
.page9_form{
	background:#fff;
	margin-top:-1px;
	padding:25px 0;
}
/*p9 style end*/
/*p10 style start*/
.brand_tit .color1{
	font-size:24px;
}
.brand_tit .brand_num{
	font-size:18px;
}
.brand_ct{
	border:3px solid #d9d9d9;
	padding:20px 111px 0 119px;
}
.brand_model_pic{
	text-align:center;
}
.brand_model_pic img{
	vertical-align:bottom;
}
.brand_model_introduce{
	background:url(../img/bg.png) no-repeat -150px -439px;
	width:425px;
	height:123px;
	margin:22px auto 24px;
}
.brand_model_list{
	padding:27px 0 0 32px;
	margin-bottom:-3px;
}
.brand_model_list li{
	width:50%;
	padding-bottom:3px;
}
.brand_said_tit{
	border:1px solid #febd81;
	height:24px;
	line-height:24px;
	padding-left:5px;
	margin-bottom:16px;
}
.brand_said_tit strong{
	color:#ff7a04;
}
.brand_said_tit .brand_love{
	float:right;
}
.brand_said_tit .brand_love a{
	padding-right:13px;
}
.brand_said_item .pic{
	margin-right:18px;
}
.brand_said_item li{
	border-bottom:1px dashed #dedede;
	padding:10px 0 12px 0;
}
.brand_said_item .name{
	color:#ff675e;
}
.brand_tips{
	text-align:center;
	padding:26px 0 24px 0;
	font-size:0;
	letter-spacing:-0.5em;
}
.brand_tips a{
	margin-right:5px;
}
.page10_form{
	padding-top:30px;
	padding-bottom:24px;
}
/*p10 style end*/
/*p15 style begin*/
.depress_tit{
	padding-bottom:15px;
}
.depress_text_box{
	padding-top:10px;
	padding-left:41px;
}
.depress_text{
	padding-right:54px;
	text-align:justify;
	line-height:2.5;
	color:#606060;
}
.depress_img{
	text-align:center;
	margin-left:-41px;
	padding-top:20px;
}
.depress_img img{
	vertical-align:middle;
}
.last_next{
	text-align:right;
	padding:28px 27px 20px 0;
}
.nater_top10_box{
	padding:15px 15px 0 12px;
}
.nater_top10_list{
	overflow:hidden;
	zoom:1;
}
.nater_top10_list li{
	background:url(../img/icon.png) no-repeat -57px -966px;
	border-top:1px dashed #ebebeb;
	margin-top:-1px;
	padding:7px 0 7px 17px;
}
.nater_top10_list li a{
	color:#606060;
}
.nater_top10_list li a:hover{
	color:#ff7068;
}
/*p15 style end*/
/*p21 style end*/
.logo{
	background:url(../img/logo.png) no-repeat;
}
.login_header .logo{
	display:block;
	width:528px;
	height:93px;
	text-indent:-999em;
}
.box .invite_tit,
.box .step_invite_tit{
	background-image:url(../img/font_bg.png);
	background-repeat:no-repeat;
	font-size:0;
	margin-bottom:20px;
	height:29px;
	display:inline-block;
}
.invite_tit{
	background-position:20px 0;
	width:246px;
}
.step_invite_tit{
	background-position:0 -29px;
	width:255px;
}
.login_ft{
	background:url(../img/login_bg.png) no-repeat;
	padding-left:570px;
	_height:384px;
	min-height:384px;
}
.login_ct{
	padding-top:67px;
}
.get_invite{
	padding-top:10px;
	padding-bottom:35px;
	margin-bottom:-30px;
}
.get_invite p{
	padding-bottom:30px;
	font-size:14px;
}
.get_invite span.date_color{
	color:#e52972;
}
.step_invite_ct{
}
.invite_form{
	padding-top:20px;
}
.invite_item{
	margin-bottom:20px;
}
.invite_field{
	width:60px;
	margin-left:-60px;
	display:inline-block;
	padding-left:319px;
}
.invite_qq_num,
.invite_test_num{
	border:1px solid #bdbcbd;
	background-color:#fff;
	padding:10px 0;
	font-size:14px;
	color:#ccc;
}
.invite_qq_num{
	width:222px;
	vertical-align:middle;
}
.invite_test_num{
	width:105px;
	vertical-align:middle;
}
.invite_icon{
	padding-left:34px;
	height:22px;
	margin-left:3px;
	vertical-align:middle;
}
.invite_test_img{
	vertical-align:middle;
}
.invite_icon_right{
	background-position:0 -1010px;	
}
.invite_icon_wrong{
	background-position:0 -1074px;
}
.invite_replace{
	color:#050001;
	text-decoration:underline;
}
.btn24{
	display:inline-block;
	width:207px;
	height:50px;
	font-size:0;
}
.invite_btn{
	text-align:center;
}
.invite_fail{
	background-position:-41px -698px;
}
.invite_success{
	background-position:-41px -752px;
}
.box .invite_tips{
	color:#f62892;
	font-size:18px;
	display:block;
}
.invite_apply{
	padding-top:17px;
	padding-bottom:10px;
}
.invite_h3{
	background-repeat:no-repeat;
	background-position:center top;
	padding-top:35px;
	padding-bottom:27px;
}
.invite_note{
	padding-top:20px;
	padding-left:300px;
	font-size:14px;
	line-height:2.0;
}
.box .invite_get_success{
	text-align:center;
	font-size:24px;
	padding-top:20px;
	padding-bottom:28px;
}
.invite_note2{
	text-align:center;
	margin-left:-300px;
	font-size:24px;
	padding-bottom:100px;
}
/*p21 style end*/

/*invite_ft*/
.inviod_ft{
	text-align:center;
	padding-bottom:20px
}
/*media7 style start*/
.media7 .txt{
	overflow:hidden;
	zoom:1;
}
.media7_tips{
	position:absolute;
	top:0;
	right:0;
}
.media7_tips a{
	background-color:#ff3b2f;
	padding:0 8px;
	color:#fff;
}
/*media7 style end*/
/*media8 style start*/
.media8 .txt{
	text-align:right;
	padding-right:15px;
}
.media8 .tit a{
	font-size:14px;
	color:#ec1913;
	font-weight:700;
}
.competi_list{
	margin-bottom:-13px;
	margin-right:12px;
	padding-bottom:43px;
}
.competi_list li{
	border:1px solid #e5e5e5;
	padding:11px 0 12px 13px;
	margin-bottom:13px;
}
.list_bg1 li{
	background:url(../img/rx.png) repeat-x 0 -341px #f8f8f8;
}
.competi_icon{
	margin-right:-31px;
}
.media8 .tit,
.media8 .summary{
	padding-bottom:6px;
}
/*media8 style end*/
/*media9 style start*/
.media9 .pic{
	width:507px;
	height:260px;
	overflow:hidden;
	margin-right:14px;
}
.media9 .txt{
	background-color:#f4f4f4;
	width:420px;
}
.media9_txt_ct{
	padding:18px 11px 0 21px;
}
.media9 .summary{
	padding:11px 0 17px 0;
}
.media9_txt_ct span{
	color:#fff;
	background-color:#ff5147;
	padding:0 7px;
}
/*media9 style end*/
/*p16 style start*/
.agrncy_list{
	margin-bottom:-14px;
}
.agency_list li{
	border:1px solid #e9e9e9;
	padding:16px 13px 16px 16px;
	margin-bottom:14px;
}
.agency_list .pic{
	margin-right:19px;
}
.agency_list .media7{
	position:relative;
}
.agency_list h3{
	display:inline-block;
	padding-bottom:5px;
}
.agency_list h3 a{
	color:#ff3b2f;
}
.agency_list .txt p{
	padding-bottom:5px;
}
.agency_list .take_job{
	color:#5e5e5e;
	font-weight:700;
	text-decoration:underline;
}
.page16{
	padding-top:22px;
	padding-bottom:25px;
}
.extra16_more strong{
	color:#f45e59;
	font-family:"宋体";
	font-size:8px;
}
.extra16_more a{
	color:#bbb;
}
.slider2{
	height:252px;
}
/*p16 style end*/
/*p17 style start*/
.brand_pic{
	margin-top:4px;
}
.bradn_pic_list{
	margin-right:-4px;
	margin-bottom:-10px;
}
.brand_pic_list li{
	width:223px;
	padding:7px 5px 0 4px;
	margin-right:9px;
	margin-bottom:10px;
}
.brand_pic_list img{
	background:url(../img/img_bg1.png) no-repeat center bottom;
	padding-bottom:11px;
}
.brand_pic_list .stamp{
	color:#343434;
	font-weight:700;
}
.brand_pic_list .info{
	color:#6e6e6e;
}
.brand_pic_list .name{
	color:#ff857e;
}
.brand_pic_list .summary{
	color:#999;
}
.brand_love{
	text-align:right;
	color:#b7b7b7;
}
.brand_love_icon{
	background-position:0 -559px;
	padding-left:15px;
	margin-right:8px;
}
.brand_discuss_icon{
	background-position:0 -591px;
	padding-left:17px;
}
.pic_list5{
	margin-right:-17px;
	margin-bottom:-8px;
}
.pic_list5 li{
	padding-right:17px;
	padding-bottom:8px;
}
.page18_form{
	padding-top:49px;
	padding-bottom:29px;
}
/*p17 style end*/
/*p19 style start*/
.side2{
	width:208px;
	margin-right:10px;
}
.form19_box{
	border:1px solid #d8d8d8;
	padding:12px;
	margin:0 11px 0 12px;
}
.form19_tit{
	padding-bottom:18px;
}
.form19_ct{
	padding:10px 0 21px 5px;
	margin-top:-4px;
}
.form19_vip{
	border:1px solid #b3b3b3;
	background-color:#f7f7f7;
	padding:0 25px;
	color:#222;
	display:inline-block;
	*display:inline;
	zoom:1;
	height:21px;
	line-height:21px;
}
.form19_vip_txt,
.form19_vip_field,
.form19_item,
.form19_se .btn{
	vertical-align:middle;
}
.form19_ct dt{
	margin-bottom:10px;
}
.form19_com_vip{
	margin-top:27px;
}
.form19_ct dd,
.form19_ct li{
	margin-bottom:4px;
}
.form19_se{
	padding-left:12px;
	padding-bottom:19px;
}
.form19_item{
	width:136px;
	border:1px solid #d8d8d8;
	color:#929292;
	font-size:12px;
	height:22px;
	line-height:22px;
}
/*p19 style end*/
/*p20 style start*/
.game_title{
	position:relative;
}
.game_title h2{
	height:65px;
	line-height:65px;
	text-align:center;
	background-position:0 -562px;
	font-size:28px;
	font-weight:normal;
}
.game_title_extra{
	position:absolute;
	right:51px;
	top:19px;
}
.top3_list{
	margin-right:-19px;
}
.top3_list li{
	border:8px solid #ffbc15;
	position:relative;
	margin-right:19px;
}
.top3_list img,
.vote_list img{
	vertical-align:bottom;
}
.top_bg{
	width:75px;
	height:82px;
	overflow:hidden;
	text-indent:-9999px;
	position:absolute;
	top:-8px;
	left:-8px;
}
.top1_bg{
	background-position:0 0;
}
.top2_bg{
	background-position:-75px 0;
}
.top3_bg{
	background-position:-150px 0;
}
.vote_list{
	overflow:hidden;
}
.vote_list li{
	border-top:1px dashed #d0d0d0;
	padding-top:19px;
	padding-bottom:25px;
	margin-top:-1px;
}
.vote_inner_list{
	margin-right:-14px;
}
.vote_inner_list li{
	border:1px solid #e6e6e6;
	padding:8px 8px 8px 9px;
	margin-right:7px;
}
.vote_inner_list .vote_list_spe{
	border:0 none;
	background:none;
	margin-top:-10px;
	position:relative;
	width:252px;
}
.vote_inner_list .vote_list_pa{
	position:absolute;
	top:8px;
	right:8px;
	width:32px;
	margin-top:-6px;
}
.vote_list_pa .btn{
	margin-top:6px;
}
/*p20 style end*/
/*p25 style start*/
.page25_form{
	padding-top:59px;
	padding-bottom:25px;
}
/*p25 style end*/
/*p27 style start*/
.team_tit h2{
	display:inline-block;
	*display:inline;
	zoom:1;
}
.team_num{
	margin-right:-7px;
	letter-spacing:-0.5em;
}
.team_num span{
	letter-spacing:normal;
	color:#606060;
	padding-left:5px;
}
.team{
	background-position:0 -416px;
}
.team_extra{
	text-align:right;
	padding-right:25px;
	letter-spacing:-0.5em;
}
.team_extra .btn{
	margin-right:5px;
	letter-spacing:normal;
}
.team_btn{
	text-align:right;
	padding-top:120px;
	padding-right:140px;
}
.view_box{
	padding-top:10px;
	margin-right:26px;
}
.view_item{
	border:4px solid #587eff;
	padding:16px 23px 16px 11px;
	position:relative;
}
.top_arrow{
	background-position:-49px -1137px;
	position:absolute;
	width:15px;
	height:10px;
	top:-10px;
	right:101px;
}
.view_vip_list{
	margin-right:-7px;
	padding-top:11px;
}
.view_vip_list li{
	padding:0 7px 0 0;
	background:none;
}
/*p27 style end*/
/*p29 style start*/
.star_pbg{
	background-position:0 -208px;
}
.star_pbg_btn{
	padding-top:135px;
	padding-right:157px;
	text-align:right;
}
.media10 .pic{
	margin-right:17px;
}
.future_star_list li{
	border:6px solid #e1e1e1;
	padding:7px 14px 7px 7px;
}
.future_star_txt h3{
	color:#1c1c1c;
	font-size:18px;
	font-weight:normal;
}
.future_star_list span{
	padding-right:5px;
}
.future_star_btn{
	letter-spacing:-0.5em;
}
.future_star_btn a{
}
/*p29 style end*/
